{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(data, "edit", user) }}

<div class="p3">
 <h1>{{ _('Kursmodule neu anordnen') }}</h1>
 <div class="js--respectable-reorder">
  </div>
 <button class="_btn _btn--primary" onclick="submitOrder();">{{ _('Speichern') }}</button>
 <a class="_btn _btn-on-light _btn--primary" href="/course/{{ data.id }}/{{ data.getLabel() }}/start">{{ _('Abbrechen') }}</a>
</div>
<script src="/static/new_js/respectable-reorder.js" charset="utf-8"></script>
<script>
  Respectable = new RespectableReorder(".js--respectable-reorder");
 Respectable.loadStructure([
   {% for element in data.getMenu() %}
   {
     "availible": {{ element.availible|tojson }},
     "title": {{ element.title|tojson }},
     "id": {{ element.id }},
     "subitems": [
       {% for child in element.children %}
       {
         "availible": {{ child.availible|tojson }},
         "title": {{ child.title|tojson }},
         "id": {{ child.id }}
       }{% if not loop.last %},{% endif %}
       {% endfor %}
     ]
   }{% if not loop.last %},{% endif %}
   {% endfor %}
  ]);
  Respectable.init();

  function submitOrder() {
    data = [];
    for (var i = 0; i < Respectable.data.length; i++) {
      item = Respectable.data[i];
      subitems = [];
      for (var j = 0; j < item.subitems.length; j++) {
        subitem = item.subitems[j];
        subitems.push({id: subitem.id, order: j+1});
      }
      data.push({id: item.id, order: i+1, subitems});
    }
    $.ajax({
      url: "/c/{{ data.id }}/edit/reorder",
      method: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(data),
      success: function( r ) {
        window.location.href = "/c/{{ data.id }}/edit"
      }
    });
  }
</script>
{% endblock %}
