{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(data, "edit", user) }}

<div class="p3">
 <h1>Kursmodule neu anordnen</h1>
 <div id="reorder">
  </div>
 <button class="_btn _btn--primary" onclick="submitOrder();">Speichern</button>
 <a class="_btn _btn-on-light _btn--primary" href="/course/{{ data.id }}/{{ data.getLabel() }}/start">Abbrechen</a>
</div>
<script>
 var COURSE_ID = {{ data.id }};
 var REORDER_DATA = [
   {% for element in data.getMenu() %}
   {
     "availible": {{ element.availible|tojson }},
     "title": {{ element.title|tojson }},
     "id": {{ element.id }},
     "subitems": [
       {% for child in element.children %}
       {
         "availible": {{ child.availible|tojson }},
         "title": {{ child.title|tojson }},
         "id": {{ child.id }}
       }{% if not loop.last %},{% endif %}
       {% endfor %}
     ]
   }{% if not loop.last %},{% endif %}
   {% endfor %}
  ];
</script>
<script src="/static/js/reorder.js" charset="utf-8"></script>
<style>
  /* - reorder */
  #reorder {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  #reorder .reorder-item {
    padding: 10px;
    display: flex;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 5px;
    align-items: center;
    box-shadow: 0 0 5px -2px #aaa;
    transition: all .3s ease;
    cursor: pointer;
  }
  #reorder .reorder-item:hover {
    border-color: #bbb;
  }
  #reorder .reorder-item.indented {
    margin-left: 25px;
  }
  #reorder .reorder-item.drop-hover {
    box-shadow: 0 4px 5px -2px #aaa;
  }
  #reorder .reorder-item span {
    flex-grow: 1;
  }
</style>
{% endblock %}
