{% extends "layout_new.html" %}
{% set autoSave = user.getPref("autoSave", False) == "1" %}
{% block body %}
<link rel="stylesheet" href="/static/ps/polyskript.css">
{% from "_course-header.html" import course_header %}
{{ course_header(course, "edit", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      <h2>Menü</h2>
      <nav class="_nav _nav-v">
        <a href="/c/{{ course.id }}/edit" class="f-bold mb3">Übersicht</a>
        {% for element in course.getMenu() %}
        {% if element.availible %}
        <a href="/c/{{ course.id }}/edit/unit/{{ element.id }}" class="{{ '-active' if element.id == data.id }}">{{ element.title }}</a>
        {% else %}
        <a href="/c/{{ course.id }}/edit/unit/{{ element.id }}" class="f-italic {{ '-active' if element.id == data.id }}">[{{ element.title }}]</a>
        {% endif %}
        {% if element.children %}
        <nav class="_nav _nav-v">
          {% for child in element.children %}
           {% if child.availible %}
           <a href="/c/{{ course.id }}/edit/unit/{{ child.id }}" class="{{ '-active' if child.id == data.id }}">{{ child.title }}</a>
           {% else %}
           <a href="/c/{{ course.id }}/edit/unit/{{ child.id }}" class="f-italic {{ '-active' if child.id == data.id }}">[{{ child.title }}]</a>
           {% endif %}
          {% endfor %}
        </nav>
        {% endif %}
        {% endfor %}
      </nav>
    </div>
   </div>
   <div class="column9__lg column12 bs2-light p3">
      <a href="#!" class="_btn _btn-dark _btn-outline _btn-lg" onclick="prompt('Der Quelltext dieser Seite ist: ', JSON.stringify(ps.data));">Exportieren</a>
      <a href="#!" class="_btn _btn-dark _btn-outline _btn-lg" onclick="x=JSON.parse(prompt('Bitte Quelltext einfügen: ', '{}'));if(x) {ps.data=x;ps._update()}">Importieren</a>

      <button class="_btn _btn--primary push-right _btn-lg js--savebtn" onclick="save()">Speichern</button>

      {% if data.isDisabled() %}
      <button class="_btn _btn-outline _btn--primary push-right _btn-lg js--active" onclick="$(this).toggleClass('-active')">Verfügbar</button>
      {% else %}
      <button class="_btn _btn-outline -active _btn--primary push-right _btn-lg js--active" onclick="$(this).toggleClass('-active')">Verfügbar</button>
      {% endif %}
      {% if autoSave %}
      <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aktiviert</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
      {% else %}
      <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aus</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
      {% endif %}
      <div class="push-reset"></div>
      <input class="form ta-c" style="font-size: 2.5em; font-weight: bold;" id="title" value="{{ data.getTitle() }}">
      <div id="polyskript-master" class="polyskript">
        <div class="preview">
        </div>
      </div>
      <script src="/static/ps/model-info.js" charset="utf-8"></script>
      <script src="/static/ps/polyskript.js" charset="utf-8"></script>
      <script>
       ps = new Polyskript({{ data.getJSON()|tojson }});
       ps.show()

       function save() {
         $(".js--savebtn").addClass("-loading").text("Speichere...");
         $.ajax({
           method: "POST",
           url: "/c/{{ course.id }}/edit/unit/{{ data.id }}",
           contentType: "application/json; charset=utf-8",
           data: JSON.stringify({
             "title": $("#title").val(),
             "availible": $(".js--active").hasClass("-active"),
             "content": ps.data
           }),
           success: function( result ) {
             $(".js--savebtn").removeClass("-loading").text("Gespeichert.");
             setTimeout(function() {
               $(".js--savebtn").text("Speichern");
             }, 1200);
           },
           error: function() {
             $(".js--savebtn").removeClass("-loading").text("Fehler beim Speichern");
           }
         });
       }

       {% if autoSave %}
       setInterval(function(){save();}, 30000);
       {% endif %}

     </script>
   </div>
   </div>
{% endblock %}
