{% extends "layout_new.html" %}
{% block body %}
<link rel="stylesheet" href="/static/ps/polyskript.css">
{% from "_course-header.html" import course_header %}
{{ course_header(course, "edit", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      <h2>Menü</h2>
      <nav class="_nav _nav-v">
        <a href="/c/{{ course.id }}/edit" class="f-bold mb3">Übersicht</a>
        {% for element in course.getMenu() %}
        {% if element.availible %}
        <a href="/c/{{ course.id }}/edit/unit/{{ element.id }}" class="{{ '-active' if element.id == data.id }}">{{ element.title }}</a>
        {% else %}
        <a href="/c/{{ course.id }}/edit/unit/{{ element.id }}" class="f-italic {{ '-active' if element.id == data.id }}">[{{ element.title }}]</a>
        {% endif %}
        {% if element.children %}
        <nav class="_nav _nav-v">
          {% for child in element.children %}
           {% if child.availible %}
           <a href="/c/{{ course.id }}/edit/unit/{{ child.id }}" class="{{ '-active' if child.id == data.id }}">{{ child.title }}</a>
           {% else %}
           <a href="/c/{{ course.id }}/edit/unit/{{ child.id }}" class="f-italic {{ '-active' if child.id == data.id }}">[{{ child.title }}]</a>
           {% endif %}
          {% endfor %}
        </nav>
        {% endif %}
        {% endfor %}
      </nav>
    </div>
   </div>
   <div class="column9__lg column12 bs2-light p3">
      <button class="_btn _btn--primary push-right _btn-lg js--savebtn" onclick="save()">Speichern</button>

      {% if data.isDisabled() %}
      <button class="_btn _btn-outline _btn--primary push-right _btn-lg js--active" onclick="$(this).toggleClass('-active')">Verfügbar</button>
      {% else %}
      <button class="_btn _btn-outline -active _btn--primary push-right _btn-lg js--active" onclick="$(this).toggleClass('-active')">Verfügbar</button>
      {% endif %}

      <div class="push-reset"></div>
      <input class="form ta-c" style="font-size: 2.5em; font-weight: bold;" id="title" value="{{ data.getTitle() }}">
      <p>Diese Seite enthält eine Umfrage. Umfragen werden über unser Umfragesystem eingebunden und können dort bearbeitet werden:</p>
      <a href="/sv/{{ data.getJSON().survey }}/edit" class="_btn _btn--primary _btn-xl">Umfrage bearbeiten</a>
      <script>
       function save() {
         $(".js--savebtn").addClass("-loading").text("Speichere...");
         $.ajax({
           method: "POST",
           url: "/c/{{ course.id }}/edit/unit/{{ data.id }}",
           contentType: "application/json; charset=utf-8",
           data: JSON.stringify({
             "title": $("#title").val(),
             "availible": $(".js--active").hasClass("-active"),
             "content": {{ data.getJSON()|tojson }}
           }),
           success: function( result ) {
             $(".js--savebtn").removeClass("-loading").text("Gespeichert.");
             setTimeout(function() {
               $(".js--savebtn").text("Speichern");
             }, 1200);
           },
           error: function() {
             $(".js--savebtn").removeClass("-loading").text("Fehler beim Speichern");
           }
         });
       }

     </script>
   </div>
   </div>
{% endblock %}
