databases/*
databases_empty/*
databases_original/*
flaskext/*
markdown/*
pi-proxy/*
upload-images/*
*.bat
build_css.py
*.db
*.json
pidata.json
!privileges.json
!privilege_data.json
!version.json
*.pyc
archive/*
mailoutput/*
