{% from "tools/_macro.html" import tools__nav %}
{% extends "layout.html" %}
{% block body %}
    {{ tools__nav("user", user) }}
    <h2>Werkzeuge &ndash; neuste Kurse</h2>
    <div class="split-screen">
      <aside>
        <ol>
          <li><a href="/tools/user/flags">Meldungen</a></li>
          <li><a href="/tools/user/search">Suche</a></li>
        </ol>
      </aside>
      <main>
        {% set order = request.values.get("order", "id") %}
        {% set filter = request.values.get("filter", False) %}
        {% set annot = data.getAnnotations(order) %}
        <h3><a href="?">AdminOps für {{ data.getDetail("realname") }}</a> &ndash; Anmerkungsverlauf</h3>
        {% if filter %}
        <a href="?action=lookup-annotations">Filter zurücksetzen</a>{% if user.isDev() and annot|length != 0 %} &ndash; {% endif %}
        {% endif %}
        {% if user.isDev() and request.values.get("show-deleted", 0)==0 and annot|length != 0 %}
        <a href="?action=lookup-annotations&show-deleted=1">alle anzeigen</a>
        {% elif user.isDev() and request.values.get("show-deleted", 0)!=0 %}
        <a href="?action=lookup-annotations">aktive anzeigen</a>
        {% endif %}
        <table class="annotation-table">
          <tr>
            <th class="annot-icon">Art <a href="?action=lookup-annotations&order=type{% if order=='type' %}_reverse{% endif %}"><i class="fa fa-sort{% if order=='type' %}-down{% elif order=='type_reverse' %}-up{% endif %}"></i></a></th>
            <th>Admin <a href="?action=lookup-annotations&order=creator_id{% if order=='creator_id' %}_reverse{% endif %}"><i class="fa fa-sort{% if order=='creator_id' %}-down{% elif order=='creator_id_reverse' %}-up{% endif %}"></i></a></th>
            <th colspan="4">Kommentar</th>
            <th>Zeit <a href="?action=lookup-annotations&order=time{% if order=='time' %}_reverse{% endif %}"><i class="fa fa-sort{% if order=='time' %}-down{% elif order=='time_reverse' %}-up{% endif %}"></i></a></th>
            {% if user.isDev() %}
            <td class="annot-icon">&nbsp;</td>
            {% endif %}
          </tr>
        {% for a in annot if (not a.deleted or (user.isDev() and request.values.get("show-deleted", 0)!=0)) and (not filter or a.type==filter) %}
          <tr class="annotation{% if a.deleted %} deleted-section{% endif %}">
            <th class="annot-centered annot-icon"><a href="?action=lookup-annotations&filter={{ a.type }}">
            {% if a.type == "custom" %}
              <i class="fa fa-commenting-o" title="Anmerkung"></i>
            {% elif a.type == "ban" %}
              <i class="fa fa-lock" title="Sperrung"></i>
            {% elif a.type == "unban" %}
              <i class="fa fa-unlock" title="Entsperrung"></i>
            {% elif a.type == "delete" %}
              <i class="fa fa-user-times" title="Löschung"></i>
            {% elif a.type == "accessdata" %}
              <i class="fa fa-eye" title="Zugriff auf private Daten"></i>
            {% elif a.type == "merge" %}
              <i class="fa fa-exchange" title="Weiterleitung"></i>
            {% endif %}
            </a></th>
            <td class="annot-centered annot-small"><a href="/u/{{ a.creator.id }}">{{ a.creator.getHTMLName()|safe }}</a></td>
            <td colspan="4">{% if a.content=="auto" %}<span class="annot-small">(automatisch)</span>{% elif a.content=="manual" %}<span class="annot-small">(manuell)</span>{% else %}{{ a.content|markdown }}{% endif %}</td>
            <td class="annot-small"><span title="{{ a.absolute_date }}">{{ a.relative_date }}</span></td>
            {% if user.isDev() %}
            <td class="annot-icon annot-centered">{% if a.deleted %}<a href="#!" onclick="undelete_note({{ a.id }})"><i class="fa fa-eye"></i></a>{% else %}<a href="#!" onclick="delete_note({{ a.id }})"><i class="fa fa-eye-slash"></i></a>{% endif %}</td>
            {% endif %}
          </tr>
        {% else %}
        {% endfor %}
        </table>
        <script>
          function delete_note(id) {
            $post("user/{{ data.id }}/{{ data.getDetail("name") }}/annotations", {"action":'delete', "id": id}, function (r) {
              window.location.reload()
            })
          }
          function undelete_note(id) {
            $post("user/{{ data.id }}/{{ data.getDetail("name") }}/annotations", {"action":'undelete', "id": id}, function (r) {
              window.location.reload()
            })
          }
        </script>
      </main>
    </div>
{% endblock %}
