{% from "tools/_macro.html" import tools__nav %}
{% extends "layout.html" %}
{% block body %}
    {{ tools__nav("user", user) }}
    <h2>Werkzeuge &ndash; neuste Kurse</h2>
    <div class="split-screen">
      <aside>
        <ol>
          <li><a href="/tools/user/flags">Meldungen</a></li>
          <li><a href="/tools/user/search" class="current">Suche</a></li>
        </ol>
      </aside>
      <main>
        <p>Suche einen Benutzer:</p>
        <div class="filterbar">
          <input type="checkbox" class="filterbar-toggle" id="filterbar-toggle">
          <div class="small-toggle"><span class="filter-small-heading">Suchen</span><label for="filterbar-toggle"><i class="fa fa-caret-down"></i></label></div>
          <form action="" method="get" class="filter-area">
            <div class="filter-criterium with-input">
              <label for="name">Benutzername / Anzeigename:</label>
              <input type="search" name="name" id="name">
            </div>
            <div class="filter-criterium with-input">
              <label for="email">Benutzername:</label>
              <input type="search" name="email" id="email">
            </div>
            <div class="filter-criterium">
              <label for="state">Zustand</label>
              <select name="state" id="state">
                <option value="all">alle</option>
                <option value="active">normal</option>
                <option value="banned">gesperrt</option>
                <option value="deleted">gelöscht</option>
              </select>
            </div>
            <div class="filter-button">
              <button type="submit" class="primary-btn"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </main>
    </div>
{% endblock %}
