{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <script src="/static/js/simplemde.min.js"></script>
    <h2 class="fs-display1"><input value="{{ vote_name }}" id="vote-name" class="form ta-c"></h2>
    <div class="grid">
      <aside class="column3 column12__sm p2">
        <h3>Überblick</h3>
        <ol class="_nav _nav-v">
          <li><a href="#primary-note">Hinweise</a></li>
          <li><a href="#results-note">Einstellungen</a></li>
          <li><a href="#candidate-list">Kandidaten</a></li>
        </ol>
        <dl>
          <dt>Zu besetzende Plätze</dt>
          <dd><input type="number" min="1" max="5" value="{{ vote_places }}" id="places" class="form form-small"></dd>
          <dt>Anzahl Kandidaten</dt>
          <dd>{{ vote_candidate|length }}</dd>
        </dl>
        <button class="_btn _btn--primary _btn-lg d-b" onclick="save_all()">Speichern</button>
      </aside>
      <main class="column9 column12__sm p2">
        <h2 id="primary-note">Hinweise</h2>
        <textarea id="election-message">{{ vote_message }}</textarea>
        <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("election-message"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
        </script>
        <h2 id="results-note">Einstellungen</h2>
        <p>Aktuelle Phase:</p>
        <select id="state-selection" class="form">
          <option{% if vote_state==1 %} selected{% endif %} value="1">Ankündigungsphase</option>
          <option{% if vote_state==2 %} selected{% endif %} value="2">Nominationsphase</option>
          <option{% if vote_state==3 %} selected{% endif %} value="3">Interviewphase</option>
          <option{% if vote_state==4 %} selected{% endif %} value="4">Zwischenphase (2 Tage) zum Beantworten der Fragen</option>
          <option{% if vote_state==5 %} selected{% endif %} value="5">Wahlphase</option>
          <option{% if vote_state==6 %} selected{% endif %} value="6">Ergebnisphase</option>
        </select>
        {% if vote_state == 6 %}
        <p><button onclick="$post('election/api/{{ vote_id }}', {'action':'tally'}, function(){window.location.reload();})" class="_btn _btn--primary _btn-lighter">Sieger ermitteln</button>
        <button onclick="$post('election/api/{{ vote_id }}', {'action':'untally'}, function(){window.location.reload();})" class="_btn _btn-danger _btn-on-light">Sieger zurücksetzen</button></p>
        {% endif %}
        <h2 id="candidate-list">Kandidaten</h2>
        <p>Folgende Benutzer stehen in dieser Wahl als Kandidaten zur Verfügung:</p>
        {% for c in vote_candidate %}
          <div class="vote-candidate {% if c.isRetracted() or c.isFailed() %}deleted-section{% endif %}">
            <h3 class="candidate_title">Kandidat: <strong><a href="/u/{{ c.getCandidate().id }}">{{ c.getCandidate().getDetail("realname") }}</a></strong> <span class="badge">{{ c.getCandidate().getReputation() }}</span></h3>
            {% if c.isRetracted() %}
              <div class="error inline">
                <p>Die Kandidatur wurde zurückgezogen.</p>
              </div>
            {% elif c.isFailed() %}
              <div class="error inline">
                <p>{{ c.getCandidate().getDetail("realname") }} kam nicht in die nächste Runde.</p>
              </div>
            {% elif c.isElected() %}
              <div class="success inline">
                <p>{{ c.getCandidate().getDetail("realname") }} wurde gewählt. HERZLICHEN GLÜCKWUNSCH!</p>
              </div>
            {% endif %}
            <div>
              {% set annot = c.getCandidate().getAnnotations() %}
              <ul>
              {% for a in annot %}
                  <li class="{% if a.deleted %}deleted-line{% endif %}">{{ a.content|markdown }}</li>
              {% endfor %}
            </ul>
            </div>
          </div>
        {% endfor %}
      </main>
    </div>
<script>
function save_all() {
  $post('election/api/{{ vote_id }}', {'action':'update', 'name': document.getElementById("vote-name").value, 'position': "Moderator", 'message': document.getElementById("election-message").value, 'places': document.getElementById("places").value, 'state': document.getElementById("state-selection").value}, function(){window.location.reload();})
}
</script>
{% endblock %}
