{% extends "layout.html" %}
{% block body %}
<script src="/static/new_js/pilearn.markdown.js" charset="utf-8"></script>
<script src="/static/new_js/pilearn.editor.js" charset="utf-8"></script>

    <h2 class="fs-display1"><input value="{{ vote_name }}" id="vote-name" class="form ta-c"></h2>
    <div class="grid">
      <aside class="column3 column12__sm p2">
        <h3>Überblick</h3>
        <div class="_nav _nav-v">
          <a href="#primary-note">Hinweise</a>
          <a href="#results-note">Einstellungen</a>
          <a href="#candidate-list">Kandidaten</a>
        </div>
        <dl>
          <dt>Zu besetzende Plätze</dt>
          <dd><input type="number" min="1" max="5" value="{{ vote_places }}" id="places" class="form form-small"></dd>
          <dt>Anzahl Kandidaten</dt>
          <dd>{{ vote_candidate|length }}</dd>
        </dl>
        <button class="_btn _btn--primary _btn-lg d-b" onclick="save_all()">Speichern</button>
      </aside>
      <main class="column9 column12__sm p2">
        <h2 id="primary-note">Hinweise</h2>
        <div class="js--editor p2 js--editor:preview">
          <textarea id="election-message" class="form form-large js--editor-textarea">{{ vote_message }}</textarea>
          <div class="p2 js--editor-preview hr-original"></div>
        </div>
        <h2 id="results-note">Einstellungen</h2>
        <p>Aktuelle Phase:</p>
        <select id="state-selection" class="form">
          <option{% if vote_state==1 %} selected{% endif %} value="1">Ankündigungsphase</option>
          <option{% if vote_state==2 %} selected{% endif %} value="2">Nominationsphase</option>
          <option{% if vote_state==3 %} selected{% endif %} value="3">Interviewphase</option>
          <option{% if vote_state==4 %} selected{% endif %} value="4">Zwischenphase (2 Tage) zum Beantworten der Fragen</option>
          <option{% if vote_state==5 %} selected{% endif %} value="5">Wahlphase</option>
          <option{% if vote_state==6 %} selected{% endif %} value="6">Ergebnisphase</option>
        </select>
        {% if vote_state == 6 %}
        <p>Lade die .blt-Datei herunter, führe Sie in OpenSTV aus und kopieren sie von der Zeile mit *The winners are* die Liste der Namen. Sie können auch die Namen manuell eingeben (Format: benutzername.id@pilearn.de)</p>
        <a href="/election/{{ vote_id }}/get-ballot-data/result.blt" class="_btn _btn--primary _btn-lighter">Stimmen herunterladen</a>
        <textarea class="form form-small" placeholder="Hier Benutzercodes der Sieger (z.B. paulpidev.1@pilearn.de; durch Komma getrennt) einfügen" id="result-names-set"></textarea>
        <button onclick="calc_result()" class="_btn _btn--primary">Sieger ermitteln</button><button onclick="reset_result();" class="_btn _btn-danger _btn-on-light">Sieger zurücksetzen</button>
        {% endif %}
        <h2 id="candidate-list">Kandidaten</h2>
        <p>Folgende Benutzer stehen in dieser Wahl als Kandidaten zur Verfügung:</p>
        {% for c in vote_candidate %}
          <div class="_card {% if c.isRetracted() or c.isFailed() %}_card-danger{% endif %}">
            {% set cnd = c.getCandidate() %}
            <div class="_card-title"><a href="/u/{{ c.getCandidate().id }}">{{ cnd.getDetail("realname") }}</a></div>
            <div class="_card-content">
              {% if c.isRetracted() %}
              <p class="f-bold col-danger-dd">Die Kandidatur wurde zurückgezogen.</p>
              {% elif c.isFailed() %}
              <p class="f-bold col-danger-dd">{{ cnd.getDetail("realname") }} kam nicht in die nächste Runde.</p>
              {% elif c.isElected() %}
              <p class="f-bold col-success-dd">{{ cnd.getDetail("realname") }} wurde gewählt. HERZLICHEN GLÜCKWUNSCH!</p>
              {% endif %}
              <h3>Benutzercode</h3>
              <code>{{ cnd.getDetail("name") }}.{{ cnd.id }}@pilearn.de</code>
              {% set annot = cnd.getAnnotations() %}
              <h3>Anmerkungen</h3>
              <ul>
              {% for a in annot %}
                  <li class="{% if a.deleted %}bg-danger-lll{% endif %}">{{ a.content|markdown }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </main>
    </div>
<script>
function save_all() {
  $.ajax({
    "url": "/election/{{ vote_id }}/api",
    "method": "POST",
    "data": JSON.stringify({
      "action": "update",
      "name": $("#vote-name").val(),
      "position": "Moderator",
      "message": $("#election-message").val(),
      "places": $("#places").val(),
      "state": $("#state-selection").val()
    }),
    "contentType": "application/json; charset=utf-8",
    "success": function () {
      window.location.reload();
    }
  });
}

function calc_result() {
  $.ajax({
    "url": "/election/{{ vote_id }}/api",
    "method": "POST",
    "data": JSON.stringify({
      "action": "tally",
      "results": $("#result-names-set").val()
    }),
    "contentType": "application/json; charset=utf-8",
    "success": function () {
      window.location.reload();
    }
  });
}

function reset_result() {
  $.ajax({
    "url": "/election/{{ vote_id }}/api",
    "method": "POST",
    "data": JSON.stringify({
      "action": "untally",
    }),
    "contentType": "application/json; charset=utf-8",
    "success": function () {
      window.location.reload();
    }
  });
}

PiJS.editor.init();

</script>
{% endblock %}
