{% extends "layout.html" %}
{% block body %}
<div class="p6 p3__sm">
  <div class="grid">
    <div class="colbox hide__sm p3">
      <svg viewBox="0 0 48 48" width="20em" height="20em">
        <circle cx="24" cy="27" r="8" stroke-width="1" fill="transparent" />
        <path d="M24,23 v5 m0,2 v1 fill="transparent" stroke-width="1" />
        <path d="M6,6 h36 v36 h-36 z M6,12 h36 M36,6 v6 M38,8 l2,2 M38,10 l2,-2" fill="transparent" stroke-width="1" />
      </svg>
    </div>
    <div class="colbox-fill p3">
      <h1 class="fs-display2">Ein Fehler ist aufgetreten</h1>
      <p class="p-lead">Huch?! Dies hätte nicht passieren sollen!</p>
      <p>Dieser Fehler ist unerwartet (sogar für uns). Es handelts sich also wahrscheinlich um die Spanische Inquisition.</p>
      <p>Dies ist unsere Schuld. Wir entschuldigen uns für eventuelle Unanehmlichkeiten.</p>
      <p>Wenn du uns beim beheben dieses Fehlers unterstützen möchtest, melde ihn <a href="/f/0">im globalen Forum</a> mit dem Tag <a href="/f/0/tagged/fehler" class="_badge _badge-tag">fehler</a>.</p>
      {% if user.isDev() %}
      <details>
        <summary>Traceback: (bitte bei Fehlermeldungen angeben)</summary>
        <pre>{{ data }}</pre>
      </details>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
