{% extends "layout.html" %}
{% block body %}
    <div class="httperror">
      <div class="img">
        <img src="/static/img/error404.jpg">
      </div>
      <div>
        <h2>Nicht gefunden</h2>
        <p>Oh nein! Wir haben die von dir angegebene Adresse nicht gefunden. Versuche die Navigation zu verwenden, um auf &pi;-Learn zu navigieren.</p>
        <p>Wenn du ganz sicher bist, dass diese Seite hier vorhanden sein sollte, und sie <b>nicht eventuell in der Zwischenzeit gelöscht worden ist</b>, melde diesen Fehler im <a href="/forum/0/global/list">globalen Forum</a> mit dem Tag <span class="tag">bug</span>.</p>
        <hr>
        <small>Fehlercode: <b>404</b></small>
      </div>
    </div>
{% endblock %}
