{% extends "layout.html" %}
{% block body %}
    <div class="httperror">
      <div class="img">
        <img src="/static/img/error500.png">
      </div>
      <div>
        <h2>Server-Fehler</h2>
        <p>Oh nein! Irgend etwas ist schiefgelaufen. <i>Das ist vermutlich unsere Schuld.</i>. Der Fehler wurde von unserem System registriert und wir werden ihn schnellstmöglich beheben.</p>
        <p>Solltest du diese Seite sehen, obwohl du <b>keinen Eingabefehlern gemacht hast</b> und bleibt diese Seite auch nach einem Neuaufruf der Webseite für dich sichtbar, melde diesen Fehler im <a href="/forum/0/global/list">globalen Forum</a> mit dem Tag <span class="tag">bug</span>.</p>
        <hr>
        <small>Fehlercode: <b>500</b></small>
        {% if user.isDev() %}
            <hr>
            <details>
              <summary>Traceback: (bitte bei Fehlermeldungen angeben)</summary>
              <pre>{{ data }}</pre>
            </details>
        {% endif %}
      </div>
  </div>
{% endblock %}
