{% extends "layout.html" %}
{% block body %}
    <h2 class="bigheading">Wahlen</h2>
    <div class="timeline">
    {% for e in data %}
      <div class="timeline-item {% if e.getState() != 6 %}in-future{% endif %}">
        {% if e.getState() != 6 %}
          <h3><a href="/election/vote/{{ e.id }}">{{ e.getTitle() }}</a></h3>
          {% if e.getState() == 1 %}
          <p style="font-weight: bold;">Die Wahl befindet sich in der Ankündigungsphase.</p>
          {% elif e.getState() == 2 %}
          <p style="font-weight: bold;">Die Wahl befindet sich in der Nominationsphase.</p>
          {% elif e.getState() == 3 or e.getState() == 4 %}
          <p style="font-weight: bold;">Die Wahl befindet sich in der Interviewphase.</p>
          {% elif e.getState() == 5 %}
          <p style="font-weight: bold;">Die Wahl befindet sich in der Wahlphase.</p>
          {% endif %}
          <p>Verfügbare Plätze: {{ e.getPlaces() }}, Anzahl Kandidaten: {{ e.getCandidates()|length }}</p>
        {% else %}
          <p>Bei der {{ e.getTitle() }} wurden gewählt:</p>
          <div class="user-card-list">
            {% for c in e.getCandidates() if c.isElected() %}
              {{ user_card(c.getCandidate()) }}
            {% endfor %}
          </div>
        {% endif %}
        </p>
      </div>
    {% endfor %}
    </div>
{% endblock %}
