{% extends "layout.html" %}
{% block body %}
    <h2>Unser Konzept</h2>
    <p>&pi;-Learn wird von der Community gesteuert. Daher ist es uns auch besonders wichtig, dass Mitglieder der Community auch an der Moderation der Seite teilhaben können.</p>
    <p>Aus diesem Grund erhält jeder Benutzer eine Reputationspunktzahl und erhält in Abhängigkeit von dieser erweiterte Privilegien.</p>
    <p>Einige Benutzer werden von der Community dazu gewählt, vertrauliche oder schwierige Entscheidungen zu treffen: Die Moderatoren</p>
{% endblock %}
