{% extends "layout.html" %}
{% block body %}
    <h2 class="bigheading">Wahlen</h2>
    <div class="election-list">
    {% for e in data %}
      <div class="election-item {% if e.getState() == 1 %}announced{% elif e.getState() == 6 %}finished{% else %}pending{% endif %}">
        <h3><a href="/election/vote/{{ e.id }}">{{ e.getTitle() }}</a></h3>
        {% if e.getState() == 1 %}
        <p style="font-weight: bold;">Die Wahl befindet sich in der Ankündigungsphase.</p>
        {% elif e.getState() == 2 %}
        <p style="font-weight: bold;">Die Wahl befindet sich in der Nominationsphase.</p>
        {% elif e.getState() == 3 or e.getState() == 4 %}
        <p style="font-weight: bold;">Die Wahl befindet sich in der Interviewphase.</p>
        {% elif e.getState() == 5 %}
        <p style="font-weight: bold;">Die Wahl befindet sich in der Wahlphase.</p>
        {% elif e.getState() == 6 %}
        <p style="font-weight: bold;">Die Wahl ist beendet.</p>
        {% endif %}
        <p>Verfügbare Plätze: {{ e.getPlaces() }}, Anzahl Kandidaten: {{ e.getCandidates()|length }}</p>
        <p class="action-bar">
        <a href="/election/vote/{{ e.id }}"><i class="fa fa-pie-chart"></i> Anzeigen</a>
        {% if user.isDev() %}
        <a href="/election/edit/{{ e.id }}"><i class="fa fa-pencil"></i> Bearbeiten</a>
        {% endif %}
        </p>
      </div>
    {% endfor %}
    </div>
{% endblock %}
