{% extends "layout.html" %}
{% block body %}
    <h2 class="bigheading">Wahlen</h2>
    <div class="_datalist">
    {% for e in data %}
      <div class="_datalist-item">
        <div class="fs-heading col-dark m2">#{{ data|length - loop.index + 1 }}</div>
        <div class="_datalist-field"><a href="/election/{{ e.id }}">{{ e.getTitle() }}</a></div>
        <div class="_datalist-field">
          {% if e.getState() == 1 %}
          angekündigt
          {% elif e.getState() == 2 %}
          Nominationsphase
          {% elif e.getState() == 3 or e.getState() == 4 %}
          Interviewphase
          {% elif e.getState() == 5 %}
          Wahlphase
          {% elif e.getState() == 6 %}
          Ergebnisse veröffentlicht
          {% endif %}
        </div>
        <div class="_datalist-field fs-base3 ta-c">{{ e.getCandidates()|length }} <span class="fs-caption d-b">Kandidaten</span></div>
        <div class="_datalist-field fs-base3 ta-c">{{ e.getPlaces() }} <span class="fs-caption d-b">Plätze</span></div>
        <div class="_datalist-actions">
          <a href="/election/{{ e.id }}">anzeigen</a>
          {% if user.isDev() %}
          <a href="/election/{{ e.id }}/edit">bearbeiten</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
    {% if user.isDev() %}
    <a href="/election/new"><button class="_btn _btn-danger _btn-lighter _btn-xs">Neue Wahl erstellen</button></a>
    {% endif %}
{% endblock %}
