{% macro user_card(user, is_exposed=False) %}
  <div class="m1 p3 b-r1 base2{% if is_exposed %} bg--primary-lll{% endif %}" style="width: 200px;">
    {% if user.id == -3 %}
      Anonym
    {% else %}
        <img src="{{ user.getDetail("profile_image") }}" alt="" class="thumbnail-xs mr2 push-left">
        <a class="fs-base3 anchor--primary d-b" href="/u/{{ user.id }}">{{ user.getHTMLName()|safe }}</a>
        <span class="_badge _badge-score">{{ user.getReputation() }}</span>
        <div class="push-reset"></div>
    {% endif %}
  </div>
{% endmacro %}
