{% extends "layout.html" %}
{% block body %}
    <h2 class="fs-display1 ta-c">{{ vote_name }}</h2>
    <div class="grid">
      <aside class="column3 column12__sm">
        <h3>Überblick</h3>
        <ol class="_nav _nav-v">
          <li><a href="#primary-note">Hinweise</a></li>
          <li><a href="#results-note">Ergebnisse</a></li>
          <li><a href="#candidate-list">Kandidaten</a></li>
        </ol>
          {% if vote_state == 2 and user.getReputation() >= candminrep %}<a class="_btn _btn--primary _btn-sm" href="#!" onclick="document.getElementById('nomination-dialog').classList.remove('hide');">Zur Wahl stellen</a>
          {% endif %}
        <dl>
          <dt>Zu besetzende Plätze</dt>
          <dd>{{ vote_places }}</dd>
          <dt>Anzahl Kandidaten</dt>
          <dd>{{ vote_candidate|length }}</dd>
        </dl>
      </aside>
      <main class="column9 column12__sm">
        <h2 id="primary-note">Hinweise</h2>
        {{ vote_message|markdown }}
        <h2 id="results-note">Ergebnisse</h2>
        <div class="bg-dark-lll p2 b1s b-dark-ll">
          {% if vote_state == 1 %}
          <p>Diese Wahl befindet sich im Moment in der <em>Ankündigungsphase</em>. Es können noch keine Kandidaturen eingereicht werden.</p>
          {% elif vote_state == 2 %}
          <p>Diese Wahl befindet sich im Moment in der <em>Nominationsphase</em>. Alle Benutzer mit mindestens {{ candminrep }} Reputationspunkten können sich selber nominieren.</p>
          {% elif vote_state == 3 %}
          <p>Diese Wahl befindet sich im Moment in der <em>Interviewphase</em>. Du kannst an die Kandidaten Fragen stellen.</p>
          {% elif vote_state == 4 %}
          <p>Die <em>Interviewphase</em> ist vorbei. Die Kandidaten haben noch kurz Zeit die Fragen zu beantworten</p>
          {% elif vote_state == 5 %}
          <h3>Es wird gewählt!</h3>
          <p>Du kannst für bis zu zwei Kandidaten stimmen. Wähle deine erste und zweite Wahl.</p>
          {% elif vote_state == 6 %}
          <h3>Ergebnis der {{ vote_name }}</h3>
          <p><b>Gewählt wurden</b> diese Kandidaten:</p>
          <ul>
          {% for c in vote_candidate if c.isElected() %}
          <li>
            <a href="/u/{{ c.getCandidate().id }}">{{ c.getCandidate().getHTMLName()|safe }}</a>
          </li>
          {% endfor %}
          </ul>
          Herzlichen Glückwunsch allen gewählten Kandidaten!
          {% endif %}
        </div>
        <h2 id="candidate-list">Kandidaten</h2>
        <p>Folgende Benutzer stehen in dieser Wahl als Kandidaten zur Verfügung:</p>
        {% for c in vote_candidate if (not c.isRetracted() or c.isFailed()) or user.isDev() %}
          <div class="_card {% if c.isRetracted() or c.isFailed() %}_card-danger{% endif %}">
            <div class="_card-title">{{ c.getCandidate().getDetail("realname") }}</div>
            <div class="_card-content">
              {% if c.isRetracted() %}
                <p class="f-bold col-danger-dd">Die Kandidatur wurde zurückgezogen.</p>
              {% elif c.isFailed() %}
                <p class="f-bold col-danger-dd">{{ c.getCandidate().getDetail("realname") }} kam nicht in die nächste Runde.</p>
              {% elif c.isElected() %}
                <p class="f-bold col-success-dd">{{ c.getCandidate().getDetail("realname") }} wurde gewählt. HERZLICHEN GLÜCKWUNSCH!</p>
              {% endif %}
              {% if vote_state == 5 %}
                <div class="_btnlist">
                  {% if user_vote.is1(c.id) %}
                  <button class="_btn -active _btn--primary" onclick="$post('election/api/{{ vote_id }}', {'action':'vote', 'vote':1, 'candidate': 0}, function(){window.location.reload();})">1. Wahl</button>
                  {% else %}
                  {% if not user_vote.is2(c.id) %}
                  <button class="_btn _btn--primary" onclick="$post('election/api/{{ vote_id }}', {'action':'vote', 'vote':1, 'candidate': {{ c.id }}}, function(){window.location.reload();})">1. Wahl</button>
                  {% else %}
                  <button class="_btn _btn--primary" disabled>1. Wahl</button>
                  {% endif %}
                  {% endif %}
                  {% if user_vote.is2(c.id) %}
                  <button  class="_btn -active _btn--primary" onclick="$post('election/api/{{ vote_id }}', {'action':'vote', 'vote':2, 'candidate': 0}, function(){window.location.reload();})">2. Wahl</button>
                  {% else %}
                  {% if not user_vote.is1(c.id) %}
                  <button  class="_btn _btn--primary" onclick="$post('election/api/{{ vote_id }}', {'action':'vote', 'vote':2, 'candidate': {{ c.id }}}, function(){window.location.reload();})">2. Wahl</button>
                  {% else %}
                  <button class="_btn _btn--primary" disabled>2. Wahl</button>
                  {% endif %}
                  {% endif %}
                </div>
              {% endif %}
              {% if vote_state < 5 %}
                {{ c.getMessage()|markdown }}
              {% else %}
                <div class="grid">
                  <div class="column6__lg column12">
                    {{ c.getMessage()|markdown }}
                  </div>
                  <div class="column6__lg column12">
                    <h2>Antworten auf eure Fragen</h2>
                    <dl>
                    {% for q in c.getQuestions() if q.getA() != "" %}
                      <dt>{{ q.getQ() }}</dt>
                      <dd>{{ q.getA() }}</dd>
                    {% endfor %}
                    </dl>
                  </div>
                </div>
              {% endif %}
              <div class="grid">
                <div class="column7__lg column12">
                  <div class="_link-list">
                    {% if (user.isDev() or user.id == c.getCandidate().id) and c.getDetail("state") == 0 and vote_state < 4 %}
                      <a href="#!" onclick="if(confirm('Willst du diese Kandidatur wirklich zurückziehen? Du kannst danach nicht erneut kandidieren und die Kandidatur kann nicht wiederhergestellt werden.'))$post('election/api/{{ vote_id }}', {'action':'retract', 'candidate': {{ c.id }}}, function(){window.location.reload();})" style="font-weight:bold;">Zurückziehen</a>
                    {% endif %}
                    {% if user.isDev() and vote_state == 6 %}
                      <a href="#!" onclick="if(confirm('Die Kandidatur kann nicht wiederhergestellt werden. Wollen Sie wirklich fortfahren?'))$post('election/api/{{ vote_id }}', {'action':'retract', 'candidate': {{ c.id }}}, function(){window.location.reload();})" style="font-weight:bold;">Vereinbarung abgelehnt</a>
                    {% endif %}
                    {% if vote_state == 3 and user.id != c.getCandidate().id %}
                      <a href="#!" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.remove('hide');" style="font-weight:normal;">Frage stellen</a>
                    {% elif vote_state == 3 or (vote_state == 4 and user.id == c.getCandidate().id) %}
                      <a href="#!" onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.remove('hide');" style="font-weight:bold;">Fragen beantworten</a>
                    {% endif %}
                  </div>
                </div>
                <div class="column5__lg column12"><div class="push-right">{{ user_card(c.getCandidate(), True) }}</div></div>
              </div>
            </div>
          </div>
          {% if vote_state == 3 and user.id != c.getCandidate().id %}
            <div class="_dialog hide" id="ask-{{ c.id }}-dialog">
              <div class="flagging-dialog">
                  <a href="#!" class="_xbtn _dialog-xbtn" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.add('hide');">&times;</a>
                  <h3>Interview</h3>
                  <p>Welche Frage möchtest du {{ c.getCandidate().getHTMLName()|safe }} stellen?</p>
                  <input id="ask-{{ c.id }}-question" class="form" name="ask-{{ c.id }}-{{ g.random_number(1, 100) }}">
                  <p>Diese Fragen wurden bereits gestellt:</p>
                  <div class="p2 s2">
                    <input placeholder="Suche" class="form" id="ask-{{ c.id }}-search">
                    <p id="ask-{{ c.id }}-searchlabel">Insgesamt {{ c.getQuestions()|length }} Fragen</p>
                    <ul id="ask-{{ c.id }}-questionlist">
                      {% for q in c.getQuestions() %}
                        <li>{{ q.getQ() }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <script>
                  document.getElementById("ask-{{ c.id }}-search").addEventListener("keyup", function() {
                    s = this.value.toLowerCase();
                    max = 0;
                    selected = 0;
                    ul = document.getElementById("ask-{{ c.id }}-questionlist").children;
                    for(var i=0; i<ul.length; i++) {
                      max++;
                      if(s == "" || ul[i].innerText.toLowerCase().indexOf(s) != -1) {
                        ul[i].removeAttribute("hidden");
                        selected++;
                      } else {
                        ul[i].setAttribute("hidden", "hidden");
                      }
                    }
                    if(s == "") {
                      document.getElementById("ask-{{ c.id }}-searchlabel").innerText = "Insgesamt " + String(selected) + " Fragen";
                    } else {
                      document.getElementById("ask-{{ c.id }}-searchlabel").innerText = "Gefunden "+String(selected)+" von " + String(max) + " Fragen"
                    }
                  })
                  </script>
                  <p>
                      <button class="_btn _btn-dark" onclick="add_Question({{ c.id }})">Frage stellen</button>
                      <button class="_btn" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.add('hide');">Abbrechen</button>
                  </p>
            </div>
          </div>
          {% endif %}
          {% if (vote_state == 3 or vote_state == 4) and user.id == c.getCandidate().id %}
            <div class="_dialog hide" id="answer-{{ c.id }}-dialog">
              <div class="flagging-dialog">
                  <a href="#!" class="_xbtn _dialog-xbtn" onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.add('hide');">&times;</a>
                  <h3>Interview</h3>
                  <div class="paper" style="box-shadow: none; border: none; max-height: 350px;">
                  <ul id="ask-{{ c.id }}-questionlist">
                    {% for q in c.getQuestions() %}
                      <li>
                        {% if q.isLate() %}<p style="color: #a00"><strong>[Verspätet]</strong> {% elif q.getA() %}<p style="color: #0a0">{% else %}<p style="color: #aa0">{% endif %}{{ q.getQ() }} <a href="#!" onclick="self=this;$post('election/api/{{ vote_id }}', {'action':'answer', 'candidate': {{ c.id }}, 'answer': document.getElementById('answer-question-{{ q.id }}').value, 'question': {{ q.id }} }, function(){self.innerText='Gespeichert.'; window.setTimeout(function(x) {x.innerText='Speichern'}, 1000, self)})">Speichern</a></p>
                        <input id="answer-question-{{ q.id}}" value="{{ q.getA() }}">
                      </li>
                    {% endfor %}
                  </ul>
                  </div>
                  <p>
                    <button onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.add('hide');" class="_btn _btn-dark">Fertig</button>
                  </p>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </main>
    </div>

{% if vote_state == 2 and user.getReputation() >= candminrep %}
<div class="_dialog hide" id="nomination-dialog">
    <div class="flagging-dialog">
        <a href="#!" class="_xbtn _dialog-xbtn" onclick="document.getElementById('nomination-dialog').classList.add('hide');">&times;</a>
        <h3>Kandidideren</h3>
        <p>Warum möchtest du gerne als {{ vote_position }} kandidieren?</p>
        <textarea id="nomination_message"></textarea>

        <p>
            <button onclick="addNomination()" class="_btn _btn-danger">Kandidieren</button>
            <button onclick="document.getElementById('nomination-dialog').classList.add('hide');" class="_btn">Abbrechen</button>
        </p>
        <script>
        function addNomination() {
          $post('election/candidate/{{ vote_id }}', { 'message':document.getElementById("nomination_message").value }, function(resp){window.location.reload();});
        }
        </script>
  </div>
</div>
{% elif vote_state == 3 %}
<script>
function add_Question(id) {
  $post('election/api/{{ vote_id }}', {'candidate': id, 'action':"ask", 'message':document.getElementById("ask-"+String(id)+"-question").value }, function(resp){
    _ = document.createElement("li")
    _.innerText = document.getElementById("ask-"+String(id)+"-question").value;
    document.getElementById("ask-"+String(id)+"-questionlist").appendChild(_);
    ul = document.getElementById("ask-"+String(id)+"-questionlist").children.length;
    document.getElementById("ask-"+String(id)+"-searchlabel").innerText = "Insgesamt " + String(ul) + " Fragen";
    document.getElementById("ask-"+String(id)+"-question").value = "";
  });
}
</script>
{% endif %}
{% endblock %}
