{% extends "layout.html" %}
{% block body %}
    <h2 class="fs-display1 ta-c">{{ vote_name }}</h2>
    <div class="grid">
      <main class="column9 column12__sm p2">
        {{ vote_message|markdown }}
        <div class="content-box">
          {% if vote_state == 1 %}
          {% elif vote_state == 2 %}
          <p>Diese Wahl befindet sich im Moment in der <em>Nominationsphase</em>.</p>
          {% if user.getReputation() >= candminrep %}
          <p>Du hast mindestens {{ candminrep }} Reputationspunkte und kannst dich <a class="_btn _btn--primary _btn-sm _btn-outline" href="/election/{{ vote_id }}/add-nomination">zur Wahl stellen</a>.</p>
          {% else %}
          <p>Benutzer mit mindestens {{ candminrep }} Reputationspunkten können sich nominieren.</p>
          {% endif %}
          {% elif vote_state == 3 %}
          <p>Diese Wahl befindet sich im Moment in der <em>Interviewphase</em>. Du kannst an die Kandidaten Fragen stellen.</p>
          {% elif vote_state == 4 %}
          <p>Die <em>Interviewphase</em> ist vorbei. Die Kandidaten haben noch kurz Zeit die Fragen zu beantworten.</p>
          {% elif vote_state == 5 %}
          <h3>Es wird gewählt!</h3>
          <p>Du kannst für bis zu drei Kandidaten stimmen. Wähle deine erste, zweite und dritte Wahl.</p>
          {% elif vote_state == 6 %}
          <h3>Ergebnis der {{ vote_name }}</h3>
          <p>Die Wahl ist beendet und die Stimmen wurden ausgezählt. Es wurden folgende Kandidaten gewählt:</p>
          <div class="horizontal-list">
          {% for c in vote_candidate if c.isElected() %}
          {{ user_card(c.getCandidate(), level="in") }}
          {% endfor %}
          </div>
          <p>Die Ergebnisse können <a href="/election/{{ vote_id }}/get-ballot-data/result.blt">hier</a> im .blt-Format heruntergeladen werden und z.B. mit <a href="https://github.com/Conservatory/openstv">OpenSTV</a> überprüft werden.</p>
          {% endif %}
        </div>
        <h2 id="candidate-list">{{ vote_candidate|length }} Kandidat{{ "en" if vote_candidate|length != 1 else "" }}</h2>
        <p>Folgende Benutzer stehen in dieser Wahl als Kandidaten zur Verfügung:</p>
        {% for c in vote_candidate if (not c.isRetracted() or c.isFailed()) or user.isDev() %}
          <div class="_card {% if c.isRetracted() or c.isFailed() %}_card-danger{% endif %}">
            <div class="_card-title">{{ c.getCandidate().getDetail("realname") }}</div>
            <div class="_card-content">
              {% if vote_state == 5 %}
                <div class="_btnlist">

                  {% if user_vote.is1(c.id) %}
                  <button class="_btn -active _btn--primary" onclick="vote(1, 0);">1. Wahl</button>
                  {% else %}
                  {% if not (user_vote.is2(c.id) or user_vote.is3(c.id)) %}
                  <button class="_btn _btn--primary" onclick="vote(1, {{ c.id }});">1. Wahl</button>
                  {% else %}
                  <button class="_btn _btn--primary" disabled>1. Wahl</button>
                  {% endif %}
                  {% endif %}

                  {% if user_vote.is2(c.id) %}
                  <button class="_btn -active _btn--primary" onclick="vote(2, 0);">2. Wahl</button>
                  {% else %}
                  {% if not (user_vote.is1(c.id) or user_vote.is3(c.id)) %}
                  <button class="_btn _btn--primary" onclick="vote(2, {{ c.id }});">2. Wahl</button>
                  {% else %}
                  <button class="_btn _btn--primary" disabled>2. Wahl</button>
                  {% endif %}
                  {% endif %}

                  {% if user_vote.is3(c.id) %}
                  <button class="_btn -active _btn--primary" onclick="vote(3, 0);">3. Wahl</button>
                  {% else %}
                  {% if not (user_vote.is1(c.id) or user_vote.is2(c.id)) %}
                  <button class="_btn _btn--primary" onclick="vote(3, {{ c.id }});">3. Wahl</button>
                  {% else %}
                  <button class="_btn _btn--primary" disabled>3. Wahl</button>
                  {% endif %}
                  {% endif %}

                </div>
              {% endif %}
              {% if vote_state < 5 %}
                {{ c.getMessage()|markdown }}
              {% else %}
                <div class="grid">
                  <div class="column6__lg column12">
                    {{ c.getMessage()|markdown }}
                  </div>
                  <div class="column6__lg column12">
                    <h2>Antworten auf eure Fragen</h2>
                    <dl>
                    {% for q in c.getQuestions() if q.getA() != "" %}
                      <dt>{{ q.getQ() }}</dt>
                      <dd>{{ q.getA() }}</dd>
                    {% endfor %}
                    </dl>
                  </div>
                </div>
              {% endif %}
              <div class="grid">
                <div class="column7__lg column12">
                  {% if c.isRetracted() %}
                    <p class="f-bold col-danger-dd">Die Kandidatur wurde zurückgezogen.</p>
                  {% elif c.isFailed() %}
                    <p class="f-bold col-danger-dd">{{ c.getCandidate().getDetail("realname") }} kam nicht in die nächste Runde.</p>
                  {% endif %}
                  <div class="_link-list">
                    {% if (user.isDev() or user.id == c.getCandidate().id) and c.getDetail("state") == 0 and vote_state < 4 %}
                      <a href="#!" onclick="if(confirm('Willst du diese Kandidatur wirklich zurückziehen? Du kannst danach nicht erneut kandidieren und die Kandidatur kann nicht wiederhergestellt werden.'))$.ajax({'url': '/election/{{ vote_id }}/api', method:'POST', contentType: 'application/json; charset=utf-8', data: JSON.stringify({'action':'retract', 'candidate': 1 }), 'success':function(){window.location.reload();}})">zurückziehen</a>
                      <a href="/election/{{ vote_id }}/add-nomination">bearbeiten</a>
                    {% endif %}
                    {% if user.isDev() and vote_state == 6 %}
                      <a href="#!" onclick="if(confirm('Willst du diese Kandidatur wirklich zurückziehen? Du kannst danach nicht erneut kandidieren und die Kandidatur kann nicht wiederhergestellt werden.'))$.ajax({'url': '/election/{{ vote_id }}/api', method:'POST', contentType: 'application/json; charset=utf-8', data: JSON.stringify({'action':'retract', 'candidate': 1 }), 'success':function(){window.location.reload();}})">Vereinbarung abgelehnt</a>
                    {% endif %}
                    {% if vote_state == 3 and user.id != c.getCandidate().id %}
                      <a href="#!" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.remove('hide');" style="font-weight:normal;">Frage stellen</a>
                    {% elif vote_state == 3 or (vote_state == 4 and user.id == c.getCandidate().id) %}
                      <a href="#!" onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.remove('hide');" style="font-weight:bold;">Fragen beantworten</a>
                    {% endif %}
                  </div>
                </div>
                <div class="column5__lg column12"><div class="push-right">{{ user_card(c.getCandidate(), highlight=True, level="brin") }}</div></div>
              </div>
            </div>
          </div>
          {% if vote_state == 3 and user.id != c.getCandidate().id %}
            <div class="_dialog hide" id="ask-{{ c.id }}-dialog">
              <div class="flagging-dialog">
                  <a href="#!" class="_xbtn _dialog-xbtn" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.add('hide');">&times;</a>
                  <h3>Interview</h3>
                  <p>Welche Frage möchtest du {{ c.getCandidate().getHTMLName()|safe }} stellen?</p>
                  <input id="ask-{{ c.id }}-question" class="form" name="ask-{{ c.id }}-{{ g.random_number(1, 100) }}">
                  <p>Diese Fragen wurden bereits gestellt:</p>
                  <div class="p2 s2">
                    <input placeholder="Suche" class="form" id="ask-{{ c.id }}-search">
                    <p id="ask-{{ c.id }}-searchlabel">Insgesamt {{ c.getQuestions()|length }} Fragen</p>
                    <ul id="ask-{{ c.id }}-questionlist">
                      {% for q in c.getQuestions() %}
                        <li>{{ q.getQ() }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <script>
                  document.getElementById("ask-{{ c.id }}-search").addEventListener("keyup", function() {
                    s = this.value.toLowerCase();
                    max = 0;
                    selected = 0;
                    ul = document.getElementById("ask-{{ c.id }}-questionlist").children;
                    for(var i=0; i<ul.length; i++) {
                      max++;
                      if(s == "" || ul[i].innerText.toLowerCase().indexOf(s) != -1) {
                        ul[i].removeAttribute("hidden");
                        selected++;
                      } else {
                        ul[i].setAttribute("hidden", "hidden");
                      }
                    }
                    if(s == "") {
                      document.getElementById("ask-{{ c.id }}-searchlabel").innerText = "Insgesamt " + String(selected) + " Fragen";
                    } else {
                      document.getElementById("ask-{{ c.id }}-searchlabel").innerText = "Gefunden "+String(selected)+" von " + String(max) + " Fragen"
                    }
                  })
                  </script>
                  <p>
                      <button class="_btn _btn-dark" onclick="add_Question({{ c.id }})">Frage stellen</button>
                      <button class="_btn" onclick="document.getElementById('ask-{{ c.id }}-dialog').classList.add('hide');">Abbrechen</button>
                  </p>
            </div>
          </div>
          {% endif %}
          {% if (vote_state == 3 or vote_state == 4) and user.id == c.getCandidate().id %}
            <div class="_dialog hide" id="answer-{{ c.id }}-dialog">
              <div class="flagging-dialog">
                  <a href="#!" class="_xbtn _dialog-xbtn" onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.add('hide');">&times;</a>
                  <h3>Interview</h3>
                  <div class="paper" style="box-shadow: none; border: none; max-height: 350px;">
                  <ul id="ask-{{ c.id }}-questionlist">
                    {% for q in c.getQuestions() %}
                      <li>
                        {% if q.isLate() %}<p style="color: #a00"><strong>[Verspätet]</strong> {% elif q.getA() %}<p style="color: #0a0">{% else %}<p style="color: #aa0">{% endif %}{{ q.getQ() }} <a href="#!" onclick="self=this;$.ajax({'url': '/election/{{ vote_id }}/api', method:'POST', contentType: 'application/json; charset=utf-8', data: JSON.stringify({'action':'answer', 'candidate': {{ c.id }}, 'answer': document.getElementById('answer-question-{{ q.id }}').value, 'question': {{ q.id }} }), 'success':function(){self.innerText='Gespeichert.'; window.setTimeout(function(x) {x.innerText='Speichern'}, 1000, self)});">Speichern</a></p>
                        <input id="answer-question-{{ q.id}}" value="{{ q.getA() }}">
                      </li>
                    {% endfor %}
                  </ul>
                  </div>
                  <p>
                    <button onclick="document.getElementById('answer-{{ c.id }}-dialog').classList.add('hide');" class="_btn _btn-dark">Fertig</button>
                  </p>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </main>
      <aside class="column3 column12__sm">
        <div class="p2">
          <dl>
            <dt>Zu besetzende Plätze</dt>
            <dd>{{ vote_places }}</dd>
            <dt>Anzahl Kandidaten</dt>
            <dd>{{ vote_candidate|length }}</dd>
          </dl>
        </div>
        <div class="_card _card-info">
          <div class="_card-title _card-title-small">Ablauf</div>
          <div class="_card-content">
            <p>Eine Wahl besteht aus drei Phasen. In der <strong>Nominationsphase</strong> können Benutzer mit mindestens {{ mincandrep }} Reputationspunkten ihre Kandidatur erklären. In der <strong>Interviewphase</strong> können den Kandidaten Fragen gestellt werden. In der <strong>Wahlphase</strong> können alle Benutzer für drei Kandidaten stimmen. Die Rangfolge (1., 2. oder 3. Wahl) wird nach einem Verfahren namens <a href="https://de.wikipedia.org/wiki/%C3%9Cbertragbare_Einzelstimmgebung">Meek STV</a> ausgewertet und so werden die Sieger bestimmt.</p>
          </div>
        </div>
      </aside>
    </div>


{% if vote_state == 3 %}
<script>
function add_Question(id) {
  $.ajax({
    'url': '/election/{{ vote_id }}/api',
    method:'POST',
    contentType: 'application/json; charset=utf-8', data: JSON.stringify({
      'action':'retract', 'candidate': 1
    }),
    'success':function(){
      _ = document.createElement("li")
      _.innerText = document.getElementById("ask-"+String(id)+"-question").value;
      document.getElementById("ask-"+String(id)+"-questionlist").appendChild(_);
      ul = document.getElementById("ask-"+String(id)+"-questionlist").children.length;
      document.getElementById("ask-"+String(id)+"-searchlabel").innerText = "Insgesamt " + String(ul) + " Fragen";
      document.getElementById("ask-"+String(id)+"-question").value = "";
    }
  })
}
</script>
{% elif vote_state == 5 %}
<script>
  function vote(vote_nr, c) {
    $.ajax({
      "url": "/election/{{ vote_id }}/api",
      "method": "POST",
      "data": JSON.stringify({
        "action": "vote",
        "vote": vote_nr,
        "candidate": c
      }),
      "contentType": "application/json; charset=utf-8",
      "success": function () {
        window.location.reload();
      }
    })
  }
</script>
{% endif %}
{% endblock %}
