{% extends "layout_new.html" %}
{% block body %}
<div class="p4">
  <h1 class="h-underlined">{{ _('Administrations-Zentrum von %(site_name)s', site_name=site_name) }}</h1>

  <div class="_card my3">
    <div class="_card-content p4">
      <h3>{{ _('SQL ausführen') }}</h3>
      <p>{{ _('Du kannst SQL auf der %(site_name)s-Datenbank ausführen.', site_name=site_name) }}</p>
    </div>
    <div class="_card-footer p2"><a class="_btn _btn-lg _btn--primary" href="/admin/sql">{{ _('Öffnen') }}</a></div>
  </div>
  <div class="_card my3">
    <div class="_card-content p4">
      <h3>{{ _('Einstellungen') }}</h3>
      <p>{{ _('Diese Seite konfigurieren. Sehr viele Möglichkeiten!') }}</p>
    </div>
    <div class="_card-footer p2"><a class="_btn _btn-lg _btn--primary" href="/admin/settings">{{ _('Öffnen') }}</a>
  </div>
</div>
{% endblock %}
