{% extends "layout_new.html" %}
{% block body %}
<div class="p4">
  <h1 class="h-underlined"><a href="/admin">{{ _('Administration') }}</a>: {{ _('SQL ausführen') }}</h1>
    {% if lr %}
    <h2 class="p2 bg-dark-lll mb0">{{ _('Letzte Abfrage') }}</h2>
    <div style="width: 100%; height: 400px; overflow: auto" class="p3 b1s b-dark-lll s2">
    <table class="table meta-table">
      {% if columns %}
      <tr>
        {% for col in columns %}
        <th>{{ col[0] }}</th>
        {% endfor %}
      </tr>
      {% endif %}
        {% for row in lr %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    <h2 class="p2 bg-dark-lll mb0">{{ _('Neue Abfrage') }}</h2>
    <form action="" method="post">
        <textarea class="form f-mono b-r0 my0" name="sql">{{ request.form.get("sql", "") }}</textarea>
        <label for="is_bulk" class="form m2"><input type="checkbox" class="form-checkbox" id="is_bulk" name="is_bulk" {{ 'checked' if "is_bulk" in request.form) }}> {{ _('Dies ist eine Massenabfrage. (Kann keine Ergebnisse anzeigen)') }}</label>
        <button type="submit" class="_btn _btn-lg _btn--primary">{{ _('Ausführen') }}</button>
    </form>
</div>
{% endblock %}
