{% extends "layout_new.html" %}
{% set autoSave = user.getPref("autoSave", False) == "1" %}
{% block body %}
<link rel="stylesheet" href="/static/ps/polyskript.css">
{% from "_course-header.html" import course_header %}
{{ course_header(course, "pr", user) }}

{% include "courses/pull-requests/_header.html" %}


<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% set curpage_id = unit_id ~"/"~ override_id %}
      {% include "courses/pull-requests/_menu.html" %}
    </div>
  </div>
  <div class="column9__lg column12 p3">

    <a href="#!" class="_btn _btn-dark _btn-outline _btn-lg" onclick="$('.js--export-dialog-export').val(JSON.stringify(Respectable.data));$('#export_dialog').removeClass('hide')">Inhalt übertragen</a>

    <button class="_btn _btn--primary push-right _btn-lg js--savebtn" onclick="save()">Speichern</button>

    {% if autoSave %}
    <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aktiviert</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
    {% else %}
    <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aus</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
    {% endif %}
    <div class="push-reset"></div>
    <input class="form ta-c" style="font-size: 2.5em; font-weight: bold;" id="title" value="{{ data.title }}">
    <div class="js--respectable">
    </div>
    <script src="/static/new_js/pilearn.markdown.js" charset="utf-8"></script>
    <script src="/static/new_js/pilearn.editor.js" charset="utf-8"></script>
    <script src="/static/new_js/respectable.model-quiz.js" charset="utf-8"></script>
    <script src="/static/new_js/respectable.js" charset="utf-8"></script>
    <script>
      Respectable = new RespectableEditor(".js--respectable");
      Respectable.loadModel(MODEL);
      Respectable.loadCustomEditor("QuizInputList", QuizInputListEditor);
      original_data = {{ data.content|tojson }};
      Respectable.loadContent({{ data.content|tojson }});
      Respectable.init();

     override_id = "{{ override_id if override_id else '-' }}";

     function save() {
       $(".js--savebtn").addClass("-loading").text("Speichere...");
       $.ajax({
         method: "POST",
         url: "/c/{{ course.id }}/branch/{{ branch.id }}/update/{{ unit_id if unit_id else '-' }}/" + override_id,
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify({
           "title": $("#title").val(),
           "content": Respectable.data
         }),
         success: function( result ) {
           override_id = result.override_id
           $(".js--savebtn").removeClass("-loading").text("Gespeichert.");
           original_data = JSON.parse(JSON.stringify(Respectable.data));
           setTimeout(function() {
             $(".js--savebtn").text("Speichern");
           }, 1200);
         },
         error: function() {
           $(".js--savebtn").removeClass("-loading").text("Fehler beim Speichern");
         }
       });
     }

     {% if autoSave %}
     setInterval(function(){save();}, 30000);
     {% endif %}

     window.onbeforeunload = function() {
       if(JSON.stringify(Respectable.data) != JSON.stringify(original_data))
         return "Seite wurde nicht gespeichert.";
     }
   </script>

  </div>
</div>


<div class="_dialog _dialog-backdrop _dialog-small hide" id="export_dialog">
  <a href='#!' onclick="$('#export_dialog').addClass('hide')" class='_xbtn _dialog-xbtn'>&times</a>
  <h3>Inhalt der Seite übertragen</h3>
  <div class="js--export-dialog-page">
    <div class="_nav _nav-h">
      <a href="#!" class="-active">Exportieren</a>
      <a href="#!" data-toggle=".js--export-dialog-page" data-toggle-class="hide">Importieren</a>
    </div>
    <div class="p2">
      <p>Kopiere den Quelltext dieser Seite und füge ihn auf der Seite ein, zu der du den Inhalt übertragen möchtest.</p>
      <p class="fs-caption">Tipp: Markiere alles und nutze die Tastenkombination <kbd>Strg</kbd>+<kbd>C</kbd></p>

      <textarea class="form form-large js--export-dialog-export f-mono" readonly></textarea>
    </div>
  </div>
  <div class="js--export-dialog-page hide">
    <div class="_nav _nav-h">
      <a href="#!" data-toggle=".js--export-dialog-page" data-toggle-class="hide">Exportieren</a>
      <a href="#!" class="-active">Importieren</a>
    </div>
    <div class="p2">
      <p>Füge den Quelltext der Seite, von der du die Inhalte übertragen möchtest, hier ein.</p>
      <p class="fs-caption">Tipp: Nutze dafür die Tastenkombination <kbd>Strg</kbd>+<kbd>V</kbd></p>

      <textarea class="form form-large js--export-dialog-import f-mono"></textarea>

      <button class="_btn _btn--primary" onclick="Respectable.data = JSON.parse($('.js--export-dialog-import').val()); Respectable._update(); $('#export_dialog').addClass('hide')">Importieren</button>
    </div>
  </div>
</div>
{% endblock %}
