{% extends "layout_new.html" %}
{% set autoSave = user.getPref("autoSave", False) == "1" %}
{% block body %}
<link rel="stylesheet" href="/static/ps/polyskript.css">
{% from "_course-header.html" import course_header %}
{{ course_header(course, "pr", user) }}

{% include "courses/pull-requests/_header.html" %}


<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% set curpage_id = unit_id ~"/"~ override_id %}
      {% include "courses/pull-requests/_menu.html" %}
    </div>
  </div>
  <div class="column9__lg column12 p3">

    <a href="#!" class="_btn _btn-dark _btn-outline _btn-lg" onclick="prompt('Der Quelltext dieser Seite ist: ', JSON.stringify(ps.data));">Exportieren</a>
    <a href="#!" class="_btn _btn-dark _btn-outline _btn-lg" onclick="x=JSON.parse(prompt('Bitte Quelltext einfügen: ', '{}'));if(x) {ps.data=x;ps._update()}">Importieren</a>

    <button class="_btn _btn--primary push-right _btn-lg js--savebtn" onclick="save()">Speichern</button>

    {% if autoSave %}
    <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aktiviert</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
    {% else %}
    <div class="fs-caption ta-r p1 col-dark-ddd">Automatisches Speichern ist <strong>aus</strong>.<br><a href="/user/{{ user.id }}/{{ user.getDetail('name') }}/edit?page=preferences">Einstellungen</a></div>
    {% endif %}
    <div class="push-reset"></div>
    <input class="form ta-c" style="font-size: 2.5em; font-weight: bold;" id="title" value="{{ data.title }}">
    <div id="polyskript-master" class="polyskript">
      <div class="preview">
      </div>
    </div>
    <script src="/static/ps/model-quiz.js" charset="utf-8"></script>
    <script src="/static/ps/polyskript.js" charset="utf-8"></script>
    <script>
     ps = new Polyskript({{ data.content|tojson }});
     ps.show();

     override_id = "{{ override_id if override_id else '-' }}";

     function save() {
       $(".js--savebtn").addClass("-loading").text("Speichere...");
       $.ajax({
         method: "POST",
         url: "/c/{{ course.id }}/branch/{{ branch.id }}/update/{{ unit_id if unit_id else '-' }}/" + override_id,
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify({
           "title": $("#title").val(),
           "content": ps.data
         }),
         success: function( result ) {
           override_id = result.override_id
           $(".js--savebtn").removeClass("-loading").text("Gespeichert.");
           setTimeout(function() {
             $(".js--savebtn").text("Speichern");
           }, 1200);
         },
         error: function() {
           $(".js--savebtn").removeClass("-loading").text("Fehler beim Speichern");
         }
       });
     }

     {% if autoSave %}
     setInterval(function(){save();}, 30000);
     {% endif %}

   </script>

  </div>
</div>

{% endblock %}
