{% from "makros.html" import user_card %}
{% macro forum_item(post, type, master=None) %}
<div class="grid">
  <div class="colbox75 p1">
    <div class="d-f -c ta-c mt0">
      {% set the_vote = post.getUserVote(user) %}
      {% if not (type == "post" and post.isLocked()) and not (master and (master.isLocked() or master.isDeleted())) and not post.isDeleted() %}
        <button class="up-vote _btn _btn--primary _btn-icononly {{ '-active' if the_vote == 1 }}" data-vote="up" data-vote-post="{{ type }}-{{ post.id }}">
            <svg class="_btn-icon" width="3em" height="3em" viewbox="0 0 48 48">
                <path d="M24,12 l16,24 l-32,0 z" fill="transparent" stroke-width="1" />
                <path d="M7,38 h34" fill="transparent" stroke-width="4" />
            </svg>
        </button>
        <span class="score-vote fs-heading col-dark-ddd f-brand">{{ post.getScore() }}</span>
        <button class="down-vote _btn _btn--primary _btn-icononly {{ '-active' if the_vote == -1 }}" data-vote="down" data-vote-post="{{ type }}-{{ post.id }}">
            <svg class="_btn-icon" width="3em" height="3em" viewbox="0 0 48 48">
                <path d="M8,12 l32,0 l-16,24 z" fill="transparent" stroke-width="1" />
                <path d="M7,12 l17,24 l17,-24" fill="transparent" stroke-width="3" />
            </svg>
        </button>
        {% if type == "answer" %}{% set op = master.getDetail("author") %}{% if op == -1 %}{% set op = master.getRevision(1).editor.id %}{% endif %}{% endif %}
        {% if type == "answer" and (user.id == op) %}
        <button class="accept-vote _btn _btn-success _btn-icononly {{ '-active' if post.isAccepted() }}" data-vote="accept" data-vote-post="{{ type }}-{{ post.id }}">
          <svg class="_btn-icon" width="3em" height="3em" viewbox="0 0 48 48">
              <path d="M6,32 l10,10 l26,-26 l-5,-5 l-21,21 l-5,-5 z" fill="transparent" stroke-width="1" />
              <path d="M6,31 l10,10 l26,-26" fill="transparent" stroke-width="3" />
          </svg>
        </button>
        {% elif type == "answer" and post.isAccepted() %}
        <div class="p1 ta-c">
          <svg class="_btn-icon col-success-dd" width="2.5em" height="2.5em" viewbox="0 0 48 48">
              <path d="M6,32 l10,10 l26,-26 l-5,-5 l-21,21 l-5,-5 z" fill="transparent" stroke-width="1" />
              <path d="M6,31 l10,10 l26,-26" fill="transparent" stroke-width="3" />
          </svg>
        </div>
        {% endif %}
      {% else %}
        <span class="score-vote fs-heading col-dark-ddd p2 f-brand">{{ post.getScore() }}</span>
        {% if type == "answer" and post.isAccepted() %}
        <div class="p1 ta-c">
          <svg class="_btn-icon col-success-dd" width="2.5em" height="2.5em" viewbox="0 0 48 48">
              <path d="M6,32 l10,10 l26,-26 l-5,-5 l-21,21 l-5,-5 z" fill="transparent" stroke-width="1" />
              <path d="M6,31 l10,10 l26,-26" fill="transparent" stroke-width="3" />
          </svg>
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="colbox-fill p2">

    {{ (post.getContent().replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}

    <div class="push-right">
        {{ user_card(post.getAuthor(), type=="post" or (type == "answer" and master.getDetail("author")==post.getDetail("author")), superverb="gefragt" if type == "post" else "geantwortet", supertime=post.getCreationTime()[2]) }}
    </div>
    {% if post.hasRevision() %}{% set rev = post.getRevision("latest") %}
    <div class="push-right">
      <div class="m1 p2 b-r1 d-b base2" style="line-height: 1; width: 200px;">
        <a href="/forum/{{ forum.id }}/{{ forum.getDetail("label") }}/{{ type }}/{{ post.id }}/revisions" class="d-b anchor-dark"><span class="f-bold">bearbeitet</span> {{ rev.relative_time }}</a>
        {{ user_card(rev.editor, level="in", pad=0) }}
      </div>
    </div>
    {% endif %}
    <div class="push-reset hide__lg hide__md"></div>
    {% if type == "post" %}
      <div class="horizontal-list">{% for tag in post.getTagObjects() %}
          {% if tag.isModOnly() %}
              <a href="/f/{{ forum.id }}/tagged/{{ tag.getName() }}" class='_badge _badge-tag _badge-tag-modonly'>{{ tag.getName() }}</a>
          {% else %}
              <a href="/f/{{ forum.id }}/tagged/{{ tag.getName() }}" class='_badge _badge-tag'>{{ tag.getName() }}</a>
          {% endif %}
      {% endfor %}</div>
    {% endif %}

    <ul class="_link-list">
      <li><a href="" title="Rechtsklick / Link-Adresse kopieren">teilen</a></li>
      <li><a href="/f/{{ post.getDetail('forumID') }}/{{ type }}/{{ post.id }}/edit">bearbeiten</a></li>
      <li><a href="#!" class="js--post-dialog" data-dialog="flag" data-dialog-post="{{ type }}-{{ post.id }}">melden</a></li>
      {% if type == "post" and user.may("forum_closeQuestion") %}
        {% if post.isClosed() %}
          <li><a href="#!" class="js--post-flag" data-vote="reopen" data-vote-post="{{ type }}-{{ post.id }}">öffnen</a></li>
        {% else %}
          <li><a href="#!" class="js--post-dialog" data-dialog="close" data-dialog-post="{{ type }}-{{ post.id }}">schließen</a></li>
        {% endif %}
      {% endif %}
      {% if user.may("general_autoMod") %}
        {% if post.isDeleted() %}{% set udv = post.getUndelVotes() %}
        <li><a href="#!" class="js--post-flag" data-vote="undelete" data-vote-post="{{ type }}-{{ post.id }}">un-löschen{{ (' (' ~ udv ~ ')') if udv}}</a></li>
        {% else %}{% set dv = post.getDelVotes() %}
        <li><a href="#!" class="js--post-flag" data-vote="delete" data-vote-post="{{ type }}-{{ post.id }}">löschen{{ (' (' ~ dv ~ ')') if dv}}</a></li>
        {% endif %}
      {% endif %}
      {% if user.isMod() %}
        <li><a href="#!" class="js--post-dialog" data-dialog="mod" data-dialog-post="{{ type }}-{{ post.id }}">&diams; mod</a></li>
      {% endif %}
    </ul>

    {% if post.isDeleted() and type == "answer" %}
    <div class="col-danger-ddd anchor-danger">
      {{ post.getDeleteMessage()|safe }} <a href="/help/faq/deleted-posts#from-deleted">[Hilfe]</a>
    </div>
    {% endif %}

    <div class="push-reset"></div>
  </div>
</div>{% set notice = post.getModNotice() %}
{% if post.isDeleted() or post.isFrozen() or notice or (type=="post" and (post.isClosed() or post.isProtected())) %}
<div class="grid">
  <div class="colbox75 hide__sm">&nbsp;</div>
  <div class="colbox-fill">
    {% if type == "post" and post.isClosed() %}
    <div class="content-warning">
      {{ post.getClosureWarning(True)|safe }}
    </div>
    {% endif %}
    {% if post.isDeleted() and type == "post" %}
    <div class="content-warning">
      {{ post.getDeleteMessage()|safe }}
      <p>Mehr Informationen zu gelöschten Beiträgen findest du <a href="/help/faq/deleted-posts#from-deleted">hier</a>.</p>
    </div>
    {% endif %}
    {% if post.isFrozen() %}{% set fb=post.getFrozenBy() %}
    <div class="content-warning">
      <h3 class="m0 f-sans fs-subheading"><strong>gesperrt</strong> von {% if fb.isDeleted() %}{{ fb.getHTMLName()|safe }}{% else %}<a href="/u/{{ post.getFrozenBy().id }}">{{ fb.getHTMLName()|safe }}</a>{% endif %}</h3>
      {% if notice %}
        {{ notice|safe }}
        <p class="fs-caption pt2">Gesperrte Beiträge können nicht bewertet, bearbeitet oder kommentiert werden.</p>
      {% else %}
        <p class="fs-caption pt1">Gesperrte Beiträge können nicht bewertet, bearbeitet oder kommentiert werden.</p>
      {% endif %}
    </div>
    {% elif notice %}
    <div class="content-warning">
      {{ notice|safe }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<div class="grid bt1s bt-dark-ll bb1s bb-dark-l">
  <div class="colbox-fill p2">
    <div id="{{ type }}-{{ post.id }}-comments">
      {% include "forum/comments.html" %}
    </div>
    {% if user.isLoggedIn() and not user.isDisabled() %}
      {% if not (type == "post" and post.isLocked()) and not post.isFrozen() and not (master and (master.isLocked() or master.isDeleted())) and not post.isDeleted() %}
      <div class="js--comment-area hide" id="{{ type }}-{{ post.id }}-comment-area">
        <textarea class="form form-small" id="{{ type }}-{{ post.id }}-comment-box" placeholder="Nutze Kommentare für konstruktive Kritik (Verbesserungsvorschläge) und Rückfragen."></textarea>
        <button class="_btn _btn-dark _btn-sm js--comment-button" data-post="{{ type }}-{{ post.id }}">Kommentieren</button>
      </div>
      <div class="_btnlist">
        <button class="_btn _btn-xs js--comment-area-button" data-post="{{ type }}-{{ post.id }}">Kommentieren</button>
        {% if user.isMod() %}
        {% set cc = post.getCommentCounts() %}
        {% if cc[1] != 0 %}
        <button class="_btn _btn-xs _btn-danger _btn-lighter" onclick="fetchComments('{{ type }}-{{ post.id }}', true)">{{ cc[1] }} gelöschte</button>
        {% endif %}
        <div style="flex-grow: 1"></div>
        {% if cc[0] != 0 %}
        <button class="_btn _btn-xs _btn-danger" data-purge-comments="{{ type }}-{{ post.id }}">alle löschen</button>
        {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="_btnlist">
          <button class="_btn _btn-xs _btn-on-light">Gelöschte/Gesperrte Beiträge können nicht kommentiert werden.</button>
      </div>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endmacro %}
