{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import forum_header %}
{{ forum_header(forum, "forum") }}
{% set articles = forum.getArticles(search, request.values.get("sort", "active")) %}
<div class="grid">
  <div class="column9__lg column12">
    {% if articles|length != 0 %}

    {% if user.isLoggedIn() and user.isEnabled() %}
    <div class="pt1 pr2 hide__lg">
      <a href="/f/{{ forum.id }}/new" class="_btn _btn--primary push-right">Frage stellen</a>
      </div>
    {% endif %}

    {% if request.values.get("query", "") %}
    <h1 class="ml2 fs-heading">{{ articles|length }} Ergebnis{{ "se" if articles|length != 1 }} für "{{ request.values.get("query", "") }}"</h1>
    {% else %}
    <h1 class="ml2 fs-heading">{{ articles|length }} Frage{{ "n" if articles|length != 1 }}</h1>
    {% endif %}

    <div class="_btnlist colbox p1 column12__sm _btnlist-close">
      <a class="_btn _btn-outline{% if request.values.get("sort", "active") == "latest" %} -active{% endif %}" href="?sort=latest">Neuste</a>
      <a class="_btn _btn-outline{% if request.values.get("sort", "active") == "active" %} -active{% endif %}" href="?sort=active">Aktivität</a>
      <a class="_btn _btn-outline{% if request.values.get("sort", "active") == "score" %} -active{% endif %}" href="?sort=score">Bewertung</a>
    </div>

    <div class="_list anchor-black">
      {% for article in articles if article.mayBeSeen(user) %}
      <div class="_list-item {% if article.isDeleted() %}bg-danger-lll{% endif %}">
        <div class="grid">
          <div class="colbox75x75__lg column12 al-r__sm p1 p0__sm">
            {% if article.hasAccepted() %}
            <div class="bg-success b1s b-success pt3 b-r1 col-white ta-c fill-space auto-space__sm p2__sm">
            {% elif article.getAnswerCount() != 0 %}
            <div class="b1s b-success pt3 b-r1 col-success-ddd ta-c fill-space auto-space__sm p2__sm">
            {% else %}
            <div class="b1s b-dark-lll pt3 b-r1 col-black-l ta-c fill-space auto-space__sm p2__sm">
            {% endif %}
                <div class="fs-caption d-i__sm fs-base2__sm">Bewertung<span class="hide__lg">:</span></div>
                <div class="fs-heading d-i__sm fs-base2__sm">{{ article.getScore() }}</div>
            </div>
          </div>
          <div class="column12__sm colbox-fill p2 ml2 p0__sm ml0__sm">
            <div class="_list-heading"><a href="/forum/{{ forum.id }}/{{ forum.getDetail("label") }}/article/{{ article.id }}/{{ article.getLabel() }}">{{ article.getHTMLTitle()|safe }}</a></div>
            <p>{{ article.getTeaser()|markdown|striptags }}</p>
            {% for tag in article.getTags() %}
                {% if tag in moderator_tags %}
                    <a href="/f/{{ forum.id }}/tagged/{{ tag }}" class='_badge _badge-tag _badge-tag-modonly'>{{ tag }}</a>
                {% else %}
                    <a href="/f/{{ forum.id }}/tagged/{{ tag }}" class='_badge _badge-tag'>{{ tag }}</a>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="p4 ta-c">
      {% if request.values.get("query", "") %}
        <p class="fs-heading">Diese Suche liefert keine Ergebnisse</p>
        <p class="fs-base3">"{{ request.values.get("query", "") }}" ist uns nicht bekannt. Du kannst versuchen, andere Suchbegriffe zu verwenden oder <a href="?sort={{ request.values.get("sort", "active") }}">die Suche zurücksetzen</a>.</p>
      {% else %}
        <p class="fs-heading">Hier gibt es (noch) nichts zu sehen</p>
        <p class="fs-base3">Es wurden bisher noch keine Beiträge in diesem Forum geschrieben.</p>
      {% endif %}
      {% if user.isLoggedIn() and user.isEnabled() %}
        <a href="/f/{{ forum.id }}/new" class="_btn _btn--primary _btn-lighter _btn-xl">Frage stellen</a>
      {% endif %}
    </div>
    {% endif %}

  </div>
  <div class="column3__lg column12 p2">
    {% if user.isLoggedIn() and user.isEnabled() and articles|length != 0 %}
    <a href="/f/{{ forum.id }}/new" class="hide__md hide__sm _btn _btn--primary _btn-lg push-right">Frage stellen</a>
    <div class="push-reset"></div>
    {% endif %}

    <div class="_card">
      <div class="_card-title _card-subtitle">Forum durchsuchen</div>
      <div class="_card-content">
        <form action="" method="GET">
          <input type="hidden" name="sort" value="{{ request.values.get("sort", "active") }}">
          <input type="search" class="form" name="query" value="{{ request.values.get("query", "") }}">
          <button class="_btn _btn-dark" type="submit">Suchen</button>
          {% if request.values.get("query", "") %}
            <a href="?sort={{ request.values.get("sort", "active") }}" class="_btn _btn-dark _btn-on-light">Zurücksetzen</a>
          {% endif %}
        </form>
    </div>
  </div>
</div>
{% endblock %}
