{% extends "layout_new.html" %}
{% block body %}
  <script src="/static/new_js/pilearn.markdown.js" charset="utf-8"></script>
  <script src="/static/new_js/pilearn.editor.js" charset="utf-8"></script>
{% from "_course-header.html" import forum_header %}
{{ forum_header(forum, "forum", user) }}

<div class="p2">
  <h1 class="fs-subtitle">Neue Frage
  {% if forum.id == 0 %}
    zu &pi;-Learn</h1>
  {% else %}
    zum Kurs {{ forum.getTitle() }}</h1>
  {% endif %}

  {% if not user.isLoggedIn() %}
    <p>Du musst dich <a href="/login">anmelden</a> oder <a href="/register">registrieren</a>, um eine Frage in diesem Forum zu stellen.</p>
  {% elif user.isDisabled() %}
    <p>Gesperrte Benutzer können keine Fragen stellen.</p>
  {% else %}
  <div class="grid">
    <div action="" method="POST" class="column8__lg column12">
      <label for="title" class="form">Überschrift deiner Frage</label>
      <div class="fs-caption">Fasse deine Frage in einem Fragesatz zusammen</div>
      <input class="form" id="title" name="title">

      <label for="body" class="form">Ausformulierung deiner Frage</label>
      <div class="js--editor p2 js--editor:preview">
        <textarea name="body" id="body" class="form form-large js--editor-textarea"></textarea>
        <div class="p2 js--editor-preview hr-original"></div>
      </div>

      <label for="tags" class="form">Schlagwörter zu deiner Frage</label>
      <div class="fs-caption">Füge 1-5 leerzeichengetrennte Schlagwörter zu deiner Frage hinzu.</div>
      <div class="fs-caption">Tipp: Nutze eines der Schlagwörter <em>diskussion</em>, <em>support</em>, <em>fehler</em> oder <em>verbesserungsidee</em>, damit deine Frage besser beantwortet werden kann.</div>
      <input class="form" name="tags" id="tags" placeholder="1 - 5 Schlagwörter, durch Leerzeichen getrennt (fehler quiz woche2)">

      <div class="_warnbox p-s _warnbox-warning hide" id="save_warnings"></div>

      <button class="_btn _btn--primary js--submit" type="submit">Absenden</button>
      <a href="/f/{{ forum.id }}" class="_btn _btn--primary _btn-on-light">Abbrechen</a>

      <div class="_warnbox p-s _warnbox-danger hide" id="save_errors"></div>
    </div>
    <div class="column4__lg column12 p2">
      <div class="_card _card-warning">
        <div class="_card-title">Informationen</div>
        <div class="_card-content">
          <p>Wenn du diese Hinweise befolgst, wird deine Frage schneller beantwortet:</p>
          <ul>
            <li><strong>Erst Suchen, dann Fragen.</strong> Stecke bitte ein wenig Zeit in deine Frage und versuche erst, das Problem selber zu lösen.</li>
            <li><strong>Sei detailliert.</strong> Erkläre dein Problem so detailliert, dass es auch jemand verstehen kann, der sich noch nicht so genau mit dem Thema beschäftigt hat, wie du.</li>
            <li><strong>Fragen sollen <em>beantwortbar</em> sein.</strong> Darum stelle bitte keine Fragen, deren Beantwortung ein Buch füllen könnte, oder die keine eindeutig richtige Antwort haben (aka. subjektive Fragen)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
    <script>
      PiJS.editor.init();

      $(".js--submit").click(function() {
        $("#save_errors, #save_warnings").addClass("hide");
        ignore_warnings = $("#save_warnings .js--ignore-warnings").is(":checked");
        $(this).attr("disabled", true);
        tags = $("#tags").val();
        if(!tags)
          tags = [];
        else
          tags = tags.trim().split(" ")
        $.ajax({
          method: "POST",
          url: "/forum/{{ forum.id }}/{{ forum.getLabel() }}/new" + (ignore_warnings ? "?ignore-warnings=yes" : ""),
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            title: $("#title").val(),
            body: $("#body").val(),
            tags: tags
          }),
          success: function(r) {
            $(".js--submit").removeAttr("disabled");
            if(r.result=="ok") {
              window.location.href = r.url;
            } else if (r.result == "error") {
              wb = $("#save_errors");
              wb.html("");
              wb.append($("<p>Die Frage konnte nicht gestellt werden. Es sind Fehler aufgetreten:</p>"))
              l = $("<ul></ul>");
              for (var i = 0; i < r.errors.length; i++) {
                l.append($("<li>").text(r.errors[i]));
              }
              wb.append(l);
              if(r.warnings.length) {
                wb.append($("<p>Weiterhin wurden folgende Warnungen zurückgegeben, die du ignorieren kannst.</p>"))
                l = $("<ul></ul>");
                for (var i = 0; i < r.warnings.length; i++) {
                  l.append($("<li>").text(r.warnings[i]));
                }
                wb.append(l);
              }
              wb.removeClass("hide");
            } else if (r.result == "warnings") {
              wb = $("#save_warnings");
              wb.html("");
              wb.append($("<p>Es wurden folgende Warnungen zurückgegeben, die du ignorieren kannst, indem du die Box unten auswählst und den Beitrag erneut absendest:</p>"))
              l = $("<ul></ul>");
              for (var i = 0; i < r.warnings.length; i++) {
                l.append($("<li>").text(r.warnings[i]));
              }
              wb.append(l);
              wb.append($("<label for='warning_ignorance'><input type='checkbox' class='js--ignore-warnings' id='warning_ignorance'> Danke für diese Warnungen, ich entscheide mich dafür, diese zu ignorieren.</p>"))
              wb.removeClass("hide");
            }
          },
          error: function() {
            $("#submit_btn").attr("disabled", true);
            wb = $("#save_errors");
            wb.text("Die Verbindung zum Server konnte nicht hergestellt werden.")
            wb.removeClass("hide");
          }
        });
      })
    </script>
{% endblock %}
