{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <script src="/static/js/simplemde.min.js"></script>
    <script src="/static/js/_tags.js"></script>

    <nav class="coursenav">
      {% if forum.id == 0 %}
          <h2>globales Forum</h2>
          <p>für alle Fragen zu &pi;-Learn selber und für Fehlermeldungen oder Verbesserungsideen</p>
      {% else %}
        {% set topic = forum.getTopic() %}
        <h2>{{ forum.getTitle() }} <i><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></i></h2>
        {{ forum.getByLine()|markdown }}
        <ul>
          <li><a href="/c/{{ forum.id }}/info">Informationen</a></li>
          <li><a href="/course/{{ forum.id }}/{{ forum.getLabel() }}/start">Kursinhalte</a></li>
          <li class="active"><a href="/f/{{ forum.id }}">Kursforum</a></li>
        </ul>
      {% endif %}
    </nav>

    <h2>Neuen Beitrag posten</h2>


    {% set fullwizard = not (user.may("forum_workAtProtected") and not request.values.get("with-wizard", False)) %}
    <form action="" method="post" class="rally rally-big{% if not fullwizard %} one-page{% endif %}" id="ask_rally">
      <div class="rally-item" id="intro">
        {% if fullwizard %}<div class="rally-blank">&nbsp;</div>{% endif %}
        <div class="rally-centerbox{% if not fullwizard %} rally-cb-big{% endif %}">
          <div class="rally-heading">
            {% if not fullwizard %}<strong>{% endif %}{% if forum.id == 0 %}Du hast eine Frage zu &pi;-Learn?{% else %}Du hast eine Frage zum Kurs <em>{{ forum.getTitle() }}</em>?{% endif %}{% if not fullwizard %}</strong>{% endif %}
          </div>
          {% if fullwizard %}
          <p>Dann bist du hier genau richtig! Noch vier kleine Schritte und deine Frage wird veröffentlicht, so dass andere sie beantworten können.</p>
          <button onclick="rallyTo()" class="primary-btn" type="button">Weiter &raquo;</button>
          {% endif %}
        </div>
        {% if fullwizard %}
        <div class="rally-infobox">
          <strong>Überblick</strong>
          <ol>
            <li>Was muss ich wissen?</li>
            <li>Dein Problem nennen</li>
            <li>Deine Fragestellung</li>
            <li>Was passiert jetzt?</li>
          </ol>
        </div>
        {% endif %}
      </div>
      <div class="rally-item" id="knowledge">
        {% if fullwizard %}<div class="rally-blank">&nbsp;</div>{% endif %}
        <div class="rally-centerbox{% if not fullwizard %} rally-cb-big{% endif %}">
          <div class="rally-heading">
            {% if fullwizard %}
            1. Was muss ich wissen?
            {% else %}
            Hinweise
            {% endif %}
          </div>
          <p>Wenn du diese Hinweise befolgst, wird deine Frage schneller beantwortet:</p>
          <ul>
            <li><strong>Erst Suchen, dann Fragen.</strong> Stecke bitte ein wenig Zeit in deine Frage und versuche erst, das Problem selber zu lösen.</li>
            <li><strong>Sei detailliert.</strong> Erkläre dein Problem so detailliert, dass es auch jemand verstehen kann, der sich noch nicht so genau mit dem Thema beschäftigt hat, wie du.</li>
            <li><strong>Fragen sollen <em>beantwortbar</em> sein.</strong> Darum stelle bitte keine Fragen, deren Beantwortung ein Buch füllen könnte, oder die keine eindeutig richtige Antwort haben (aka. subjektive Fragen)</li>
          </ul>
          {% if fullwizard %}
          <button onclick="rallyBack()" type="button">&laquo; Zurück</button>&nbsp;<button onclick="rallyTo()" class="primary-btn" type="button">Weiter &raquo;</button>
          {% endif %}
        </div>
        <div class="rally-blank">&nbsp;</div>
      </div>
      <div class="rally-item" id="quest">
        <div class="rally-centerbox rally-cb-big">
          <div class="rally-heading">
            {% if fullwizard %}
            2. Dein Problem nennen
            {% endif %}
          </div>
          {% include "uploader/button.html" %}
          <textarea id="qcontent" name="content"></textarea>
          {% if fullwizard %}
          &nbsp;<br><button onclick="rallyBack()" type="button">&laquo; Zurück</button>&nbsp;<button class="primary-btn" onclick="rallyTo()" type="button">Weiter &raquo;</button>
          {% endif %}
        </div>
        <div>
        <div class="rally-infobox">
          <p>Versuche dein Problem <strong>so einfach und detailliert</strong> wie möglich zu beschreiben. Gib <strong>Beispiele und Referenzen</strong> an. Erkläre, was du <strong>bereits probiert</strong> hast.</p>
        </div>
        </div>
      </div>
      <div class="rally-item" id="topic">
        {% if fullwizard %}<div class="rally-blank">&nbsp;</div>{% endif %}
        <div class="rally-centerbox{% if not fullwizard %} rally-cb-big{% endif %}">
          <div class="rally-heading">
            {% if fullwizard %}
            3. Deine Fragestellung
            {% endif %}
          </div>
          <label for="qtitle">
              Überschrift
          </label>
          <input id="qtitle" name="title" onblur="showRI('rally-info-topic'); hideRI('rally-info-title');" onfocus="hideRI('rally-info-topic'); showRI('rally-info-title')">
          <label for="qtags">
              Tags
          </label>
          <div id="qtags" style="border: 1px solid #ddd; padding: 10px; display: flex; flex-direction: column; flex-wrap: wrap;">
              <div class="tag-holder" style="display: inline-flex; align-items: center;" data-id="tag-holder"></div>
              <input onkeyup="" style="flex-grow:1" data-id="tag-input" placeholder="Neues Tag hinzufügen (min. 1, max. 5)" onblur="showRI('rally-info-topic'); hideRI('rally-info-tags');" onfocus="hideRI('rally-info-topic'); showRI('rally-info-tags')">
          </div>
          <input type="hidden" id="qtags_syncwith" name="tags">
          &nbsp;<br>{% if fullwizard %}<button onclick="rallyBack()" type="button">&laquo; Zurück</button>&nbsp;<button class="primary-btn" onclick="rallyTo()" type="button">Weiter &raquo;</button>{% else %}<button type="submit" class="primary-btn" id="sbmbtn">Frage stellen</button>{% endif %}
        </div>
        <div class="rally-infobox">
          <div class="rally-info shown" id="rally-info-topic">
            <p>Sorge dafür, dass andere deine Frage finden, indem du eine <strong>aussagekräftige Überschrift</strong> und <strong>passende Tags</strong> findest.</p>
          </div>
          <div class="rally-info" id="rally-info-title">
            <p>Die <strong>Überschrift</strong> muss aussagekräftig sein, sodass andere deine Frage finden können.</p>
            <div class="good-example example"><i class="fa fa-check fa-fw"></i> Atom stürzt beim Speichern von Python-Datei ab</div>
            <div class="good-example example"><i class="fa fa-check fa-fw"></i> Auf welche Tierarten bezieht sich das Zitat in der Einheit "Zitate"?</div>
            <div class="bad-example example"><i class="fa fa-times fa-fw"></i> HILFE!!! SCHNELL!!!</div>
            <div class="bad-example example"><i class="fa fa-times fa-fw"></i> Benutzer sucht dringend Antwort auf Frage</div>
          </div>
          <div class="rally-info" id="rally-info-tags">
            <p>Die <strong>Tags</strong> sortieren die Beiträge in Kategorien. Tags beschreiben <em>worum es in der Frage geht</em> und nicht <em>um was für eine Frage es sich handelt</em>.</p>
            <p>Tags bestehen aus zwei bis 20 alphanumerische Zeichen plus Umlaute, Bindestrich und Doppelpunkt</p>
            <div class="good-example example"><i class="fa fa-check fa-fw"></i> <span class="tag">Python3</span></div>
            <div class="good-example example"><i class="fa fa-check fa-fw"></i> <span class="tag">Tierarten</span></div>
            <div class="bad-example example"><i class="fa fa-times fa-fw"></i> <span class="tag">sehr-einfach</span></div>
            <div class="bad-example example"><i class="fa fa-times fa-fw"></i> <span class="tag">Polynomgleichungslösungsmenge</span></div>
          </div>
        </div>
      </div>
      {% if fullwizard %}
      <div class="rally-item" id="next">
        <div class="rally-blank">&nbsp;</div>
        <div class="rally-centerbox">
          <div class="rally-heading">
            4. Was passiert jetzt?
          </div>
          <p>Herzlichen Glückwunsch! Deine Frage kann gleich abgeschickt werden. Dann werden andere Benutzer deine Frage sehen und können versuchen, sie zu beantworten.</p>
          <button onclick="rallyBack()" type="button">&laquo; Zurück</button>&nbsp;<button type="submit" class="primary-btn" id="sbmbtn">Frage stellen</button>
        </div>
        <div class="rally-blank">&nbsp;</div>
      </div>
      {% endif %}
    </div>
    <script>
      function rallyTo() {
        el = document.querySelector("#ask_rally");
        el.scrollBy({top:window.innerHeight, behavior: "smooth"});
      }
      function rallyBack() {
        el = document.querySelector("#ask_rally");
        el.scrollBy({top:-window.innerHeight, behavior: "smooth"});
      }
      function hideRI(q) {
        document.getElementById(q).classList.remove("shown");
      }
      function showRI(q) {
        document.getElementById(q).classList.add("shown");
      }
        var simplemde = new SimpleMDE({ element: document.getElementById("qcontent"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
        tagmgr = addTagInput("#qtags");
        tagmgr.tagInput.addEventListener("keydown", function() {
            document.getElementById("sbmbtn").setAttribute("disabled", true);
        })
        tagmgr.tagInput.addEventListener("keyup", function() {
            document.getElementById("sbmbtn").removeAttribute("disabled");
        })
        tagmgr.sync = function(tags) {
            document.getElementById("qtags_syncwith").value = tags.join(",");
        }
        tagmgr.requirementMet = function(tag) {
            return tag.match(/^[a-zA-Z:0-9äöüß-]{2,20}$/);
        }
        tagmgr.getExtraClass = function(tag) {
            if({{ moderator_tags|tojson }}.indexOf(tag) != -1) {
                return "moderator-tag";
            }
            return null;
        }
        tagmgr.mayBeSet = function(tag) {
            {% if not user.isMod() %}
                return {{ moderator_tags|tojson }}.indexOf(tag) == -1;
            {% else %}
                return true;
            {% endif %}
        }
    </script>

{% endblock %}
