{% extends "layout_new.html" %}
{% macro generate_diff_line(line) %}
{%- if line[0] == 1 -%}<div class="p1 bg-success-lll col-success-ddd">{%- elif line[0] == 0 -%}<div class="p1">{%- elif line[0] == -1 -%}<div class="p1 bg-danger-lll col-danger-ddd">{%- endif -%}
{% endmacro %}
{% block body %}
{% from "_course-header.html" import forum_header %}
{{ forum_header(forum, "forum") }}

<h1 class="ml2 fs-heading">Versionen von {% if post.isDeleted() %}<span class="bg-danger-lll"><a href="/f/{{ forum.id }}/{{ article.id }}#answer-{{ post.id }}">Antwort</a> von <a href="/u/{{ post.getDetail("author") }}">{{ post.getAuthor().getHTMLName()|safe }}</a> auf {% endif %}<a href="/f/{{ forum.id }}/{{ article.id }}">{{ article.getTitle() }}</a>{% if post.isDeleted() %}</span>{% endif %}</h1>
{% for rev in post.getAllRevisions() %}
<div class="_card {% if rev.type != "edit" and rev.type != "static" %}_card-dark{% endif %}" id="revision-{{ rev.id }}">
  <div class="_card-header">
    <div class="horizontal-list">
      <div class="p1">
        {% if rev.type == "edit" or rev.type == "static" or rev.type == "closure" or rev.type == "protected" %}
          <a href="#!" class="_card-expander" data-toggle="#{{ rev.type }}-{{ rev.id }}" data-toggle-class="hide" data-toggle-self-class="-open"></a>
        {% else %}
          <div style="width: 22.5px;"></div>
        {% endif %}
      </div>
      <div class="p1" style="flex-grow: 1">
          {% if rev.type == "edit" or rev.type == "static" %}
            <div class="push-right">
              <span class="d-b col-dark-dd"><span class="f-bold">bearbeitet</span> {{ rev.relative_time }}</a>
              {{ user_card(rev.editor, level="in", pad=0) }}
            </div>
            <div class="fs-subheading">{{ rev.comment }}</div>
            <div class="_link-list">
              <a href="#revision-{{ rev.id }}">link</a>
              {% if rev.type != "static" %}
              <a href="/forum/{{ forum.id }}/{{ forum.getLabel() }}/answer/{{ post.id }}/rollback/{{ rev.id }}">wiederherstellen</a>
              {% endif %}
            </div>
            <div class="push-reset"></div>
          {% elif rev.type == "deleted" %}
            <div class="fs-subheading">
              <strong>gelöscht</strong> von {{ rev.comment|safe }} {{ rev.relative_time }}
            </div>
          {% elif rev.type == "undeleted" %}
            <div class="fs-subheading">
              <strong>ungelöscht</strong> von {{ rev.comment|safe }} {{ rev.relative_time }}
            </div>
          {% elif rev.type == "anonymized" %}
            <div class="fs-subheading"><strong>in Wiki umgewandelt</strong> von <a href="/u/{{ rev.editor.id }}">{{ rev.editor.getHTMLName()|safe }}</a> <span title="{{ rev.absolute_time }}">{{ rev.relative_time }}</span></div>
          {% elif rev.type == "frozen" %}
            <div class="fs-subheading"><strong>gesperrt</strong> von <a href="/u/{{ rev.editor.id }}">{{ rev.editor.getHTMLName()|safe }}</a> <span title="{{ rev.absolute_time }}">{{ rev.relative_time }}</span></div>
          {% elif rev.type == "unfrozen" %}
            <div class="fs-subheading"><strong>entsperrt</strong> von <a href="/u/{{ rev.editor.id }}">{{ rev.editor.getHTMLName()|safe }}</a> <span title="{{ rev.absolute_time }}">{{ rev.relative_time }}</span></div>
          {% endif %}
      </div>
    </div>
  </div>
  {% if rev.type == "edit" or rev.type == "static" %}
  <div class="_card-content hide" id="{{ rev.type }}-{{ rev.id }}">
    <div class="p3">
    {% if rev.revid == 1 %}
      <div class="b1s b-dark-ll p2 f-mono" style="white-space: pre-wrap; overflow: auto; max-height: 600px;">{{ rev.content }}</div>
    {% else %}
      {% set diff = generate_diff(post.getRevision(rev.revid-1).content, rev.content) %}
      <div class="b1s b-dark-ll p2 f-mono" style="white-space: pre-wrap; overflow: auto; max-height: 600px;">
        {%- for line in diff -%}{{ generate_diff_line(line) }}{{ line[1] }}</div>{%- endfor -%}
      </div>
    {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
