{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import forum_header %}
{{ forum_header(forum, "forum") }}

    <h1 class="ml2 fs-heading">Beitragsversion wiederherstellen</h1>

    <p class="p-lead">Du bist gerade dabei, diesen Beitrag auf eine vorherige Version zurückzusetzen.</p>

    <form action="" method="post">
        <label for="qtitle" class="form">
            Überschrift des Forumposts
        </label>
        <input id="qtitle" value="{{ rev.title }}" readonly class="form">
        <label class="form">
            Inhalt des Forumposts
        </label>
        <div class="b1s b-dark-ll p2 f-mono" style="white-space: pre; overflow: auto; max-height: 600px;">{{ rev.content }}</div>
        <label class="form">
            Tags des Forumposts
        </label>
        <div>
            {% for tag in rev.tags %}
              <span class='_badge _badge-tag'>{{ tag }}</span>
            {% endfor %}
        </div>
        <label for="qcomment" class="form">Kommentar zur Wiederherstellung:</label>
        <input id="qcomment" name="comment" class="form"></input>
        <button type="submit" id="sbmbtn" class="_btn _btn--primary">Wiederherstellen</button>&nbsp;<a href="/f/{{ forum.id }}/{{ article.id }}" class="_btn _btn--primary _btn-on-light">Abbrechen</a>
    </form>


{% endblock %}
