{% extends "layout_new.html" %}
{% block meta_description %}{{ post.getContent()[:500] }}{% endblock %}
{% from "forum/item.html" import forum_item with context %}
{% block body %}
<script src="/static/new_js/pilearn.markdown.js" charset="utf-8"></script>
<script src="/static/new_js/pilearn.editor.js" charset="utf-8"></script>
{% from "_course-header.html" import forum_header %}
{{ forum_header(forum, "forum", user) }}
<div class="grid">
  <div class="column8__lg column12 p2">
    <h1 class="anchor-black f-brand"><a href="/f/{{ forum.id }}/{{ post.id }}">{{ post.getTitle() }}</a></h1>
    <div class="p1 {% if post.isDeleted() %}bg-danger-lll{% endif %}" id="fullpost">
      <div id="post-{{ post.id }}">
        {{ forum_item(post, "post") }}
      </div>
      {% for answer in post.getAnswers() if answer.mayBeSeen(user) %}
      <div id="answer-{{ answer.id }}" class="{% if answer.isDeleted() %}bg-danger-lll{% endif %}">
        {{ forum_item(answer, "answer", post) }}
      </div>
      {% endfor %}
      {% if not post.isDeleted() and user.isLoggedIn() and not post.isClosed() and not post.isWikiProtection() and not post.isLocked() and not (post.isNewbieProtection() and not user.may("forum_workAtProtected")) %}
      <h2>Selber antworten</h2>
      {% if user.getReputation() < 20 %}
      <div class="bg-info-lll anchor-info b-r1 p2">
        <p>Vielen Dank, dass du diese Frage beantworten möchtest. Beachte aber bitte dabei diese Hinweise:</p>
        <ul>
          <li>Antworten sollen die Frage so gut wie möglich beantworten.<br>Also ist folgendes nicht in Ordnung: Rückfragen, "Ich auch"-Kommentare oder Dankesbotschaften.</li>
          <li>Du kannst <a href="#!">Markdown</a> nutzen um deinen Beitrag zu formatieren.</li>
          <li>Du und andere können deinen Beitrag auch später noch bearbeiten um kleine Fehler zu korrigieren oder aktuelle Informationen hinzuzufügen.<br>Füge trotzdem alle wichtigen Informationen schon jetzt in deine Antwort ein.</li>
        </ul>
        <p>Antworten, die diese Hinweise nicht beachten müssen leider gelöscht werden.</p>
      </div>
      {% endif %}
      <div class="js--editor js--editor:preview">
        <textarea class="form form-large js--editor-textarea" id="qanswer" name="answer"></textarea>
        <div class="js--editor-preview p2 hr-original"></div>
      </div>

      <div class="_warnbox p-s _warnbox-warning hide" id="save_warnings"></div>

      <button class="_btn _btn--primary js--submit" type="submit">Antwort hinzufügen</button>

      <div class="_warnbox p-s _warnbox-danger hide" id="save_errors"></div>

      <script>
          PiJS.editor.init();

          $(".js--submit").on("click", function() {
            $("#save_errors, #save_warnings").addClass("hide");
            ignore_warnings = $("#save_warnings .js--ignore-warnings").is(":checked");
            $(this).attr("disabled", true);

            $.ajax({
              method: "POST",
              url: "/forum/{{ forum.id }}/{{ forum.getLabel() }}/post/{{ post.id }}/answer" + (ignore_warnings ? "?ignore-warnings=yes" : ""),
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify({
                body: $("#qanswer").val()
              }),
              success: function(r) {
                $(".js--submit").removeAttr("disabled");
                if(r.result=="ok") {
                  window.location.href = r.url;
                } else if (r.result == "error") {
                  wb = $("#save_errors");
                  wb.html("");
                  wb.append($("<p>Die Antwort konnte nicht abgeschickt werden. Es sind Fehler aufgetreten:</p>"))
                  l = $("<ul></ul>");
                  for (var i = 0; i < r.errors.length; i++) {
                    l.append($("<li>").text(r.errors[i]));
                  }
                  wb.append(l);
                  if(r.warnings.length) {
                    wb.append($("<p>Weiterhin wurden folgende Warnungen zurückgegeben, die du ignorieren kannst.</p>"))
                    l = $("<ul></ul>");
                    for (var i = 0; i < r.warnings.length; i++) {
                      l.append($("<li>").text(r.warnings[i]));
                    }
                    wb.append(l);
                  }
                  wb.removeClass("hide");
                } else if (r.result == "warnings") {
                  wb = $("#save_warnings");
                  wb.html("");
                  wb.append($("<p>Es wurden folgende Warnungen zurückgegeben, die du ignorieren kannst, indem du die Box unten auswählst und den Beitrag erneut absendest:</p>"))
                  l = $("<ul></ul>");
                  for (var i = 0; i < r.warnings.length; i++) {
                    l.append($("<li>").text(r.warnings[i]));
                  }
                  wb.append(l);
                  wb.append($("<label for='warning_ignorance'><input type='checkbox' class='js--ignore-warnings' id='warning_ignorance'> Danke für diese Warnungen, ich entscheide mich dafür, diese zu ignorieren.</p>"))
                  wb.removeClass("hide");
                }
              },
              error: function() {
                $("#submit_btn").attr("disabled", true);
                wb = $("#save_errors");
                wb.text("Die Verbindung zum Server konnte nicht hergestellt werden.")
                wb.removeClass("hide");
              }
            });
        })

      </script>
      {% endif %}
    </div>
  </div>
  <div class="column4__lg column12 p2">
    {% if user.isLoggedIn() and user.isEnabled() %}
    <a href="/f/{{ forum.id }}/new" class="hide__md hide__sm _btn _btn--primary _btn-lg push-right">Frage stellen</a>
    <div class="push-reset"></div>
    {% endif %}

    {% set announcements = ForumAnnouncement.byForum(forum.id) %}
    {% if announcements|length > 0 %}
    <div class="_card">
      <div class="_card-title _card-subtitle">Ankündigungen</div>
      <div class="_card-content _card-content-direct">
      <div class="_list _list-unbordered">
      {% for a in announcements %}
      <a class="_list-item fs-base1 _list-item-keepcolor" href="{{ a.getLink() }}">
          {% if a.getEnd() %}
            <span class="d-b col-dark-dd">{{ a.getStart()[1] }} - {{ a.getEnd()[1] }}</span>
          {% else %}
            <span class="d-b col-dark-d">{{ a.getStart()[1] }}</span>
          {% endif %}
          <span class="d-b mb1 fs-base2">{{ a.getTitle() }}</span>
      </a>
      {% endfor %}
      </div>
      </div>
      </div>
    {% endif %}
  </div>
</div>
<script src="/static/new_js/forum.js" charset="utf-8"></script>
{% endblock %}
