{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/winter2018.css">
<h1 class="w-heading">*Winter 2018*</h1>
<p class="w-lead">Beantworte diese Frage, um {{ quiz.reputation }} Reputation zu bekommen:</p>
<p>{{ quiz.q }}</p>
<form action="?submit=1" method="post">
  <label for="a1"><input id="a1" type="radio" name="value" value="1"> {{ quiz.a1 }}</label>
  <label for="a2"><input id="a2" type="radio" name="value" value="2"> {{ quiz.a2 }}</label>
  <label for="a3"><input id="a3" type="radio" name="value" value="3"> {{ quiz.a3 }}</label>
  <button class="primary-btn big-btn">Absenden</button>
</form>
{% endblock %}
