* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}
header {
  background-color: #eee;
  color: #000;
  box-shadow: 0 0.5px 2px #888;
}
header .centered {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}
header a.header-logo {
  flex-grow: 0;
    display: flex;
    align-items: center;
    padding: 0 6px !important;
    color: black;
}
header a.header-logo img {
  max-width: 28px;
  max-height: 28px;
  width: 100%;
  height: auto;
}
header a.header-logo:hover {
    background-color: #ddd;
}
header h1 {
    font-size: 12px;
    padding: 5px 6px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    flex-grow: 2;
}

.label-bar {
    background-color: #75A9F9;
    color: white;
    border-bottom: 1.5px solid #2559a9;
}
.label-bar {
    margin-top: 0;
}
.label-bar .centered {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.centered {
    margin: 0em auto;
    max-width: 1000px;
}
.label-bar h1 {
    color: white;
    margin: 0;
    font-size: 25px;
    padding: 0;
    font-weight: normal;
    text-align: left;
    flex-grow: 1;
}
.label-bar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.label-bar nav ul li {
    margin: 0 5px;
}
.label-bar nav ul li a {
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}
.label-bar nav ul li a:hover, .label-bar nav ul li.active a {
    background-color: #2559a9;
    color: #fff;
    border: none;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    flex-grow: 1;
    width: 100%;
}
main.not-centered {
  max-width: 100%;
  background-color: #fafafa;
}
h2 {
    font-size: 1.75em;
    font-weight: normal;
    margin: 2px 0;
}
h2 small {
    font-size: 0.7em;
    color: #666;
}
p {
    margin: 2px 0;
}
p.hint {
  font-size: 13px;
}

.fatal-warning {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #dd0;
    color: white;
    border-radius: 4px;
}
.fatal-error {
    margin: 10px 0;
    padding: 10px;
    background-color: #d00;
    color: white;
    border-radius: 2px;
}
.fatal-warning a, .fatal-error a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit !important;
}

q {
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif
}
code {
    display: inline-block;
    border-radius: 2px;
    font-size: 0.9em;
    font-family: "Courier New", Courier, monospace;
    background-color: #fee;
    color: #900;
    border: 1px solid #edd;
    padding: 2px 5px;
    white-space: pre-wrap;
}
a {
    color: #2A64BF;
    text-decoration: none;
    transition: all .4s ease;
}
a:hover {
    color: #0844A4;
}
hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding-top: 5px;
}


.select-list {
    padding: 3px;
}
.select-list .select-item {
    padding: 10px;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px -2px #aaa;
}
.select-list .select-item h3 {
    margin: 2px 0;
    font-size: 20px;
    font-weight: normal
}
.user-mark {
    display: inline-block;
    color: #2A64BF;
    font-size: 16px;
    padding: 2px;
}
.user-mark span {
    cursor: default;
}
h2 .user-mark {
    font-size: 22px;
}

.chat-protocol {
  padding: 5px;
  border: 1px solid #aaa;
  overflow: auto;
  height: 100vw;
  max-height: 450px;
  position: relative;
}
.chat-protocol .chat-master {
  width: 100%;
  padding: 20px 0;
}
.chat-protocol .chat-message {
    display: flex;
    padding: 5px;
    transition: all .3s ease;
    position: relative;
}
.chat-protocol .chat-message.is-deleted {
    background-color: #F2B7B7;
    color: #7C2F2F !important;
}
.chat-protocol .chat-message.is-deleted .message {
    background-color: #D09595;
    color: #fff;
    opacity: 0.1;
}
.chat-protocol .chat-message.is-deleted:hover .message {
  opacity: 1;
}
.chat-protocol .chat-message .author {
    display: block;
    max-width: 100px;
    width: 100%;
    padding: 2px;
}
.chat-protocol .chat-message .message {
    display: block;
    border-radius: 2px;
    flex-grow: 1;
    background-color: #eaeaea;
    margin: 0 4px;
    padding: 5px;
    transition: all .3s ease;
}
.chat-protocol .chat-message .message p {
  margin: 2px 0;
}
.chat-protocol .chat-message .others {
    padding: 2px;
    max-width: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    background-color: transparent;
    padding: 3px;
    color: black;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}
.chat-protocol .chat-message:hover .others {
  max-height: 100vmax;
  z-index: 100;
  background-color: #eee;
  border-radius: 1px;
  box-shadow: 0 0 2px #aaa;
}
.chat-protocol .chat-message .others .timestamp {
    font-size: 10px;
    font-weight: bold;
}
.chat-protocol .chat-message .others .link {
    font-size: 12px;
}
@media all and (max-width: 800px) {
    .chat-protocol .chat-message {
      display: flex;
        flex-direction: column;
        border-radius: none;
    }
    .chat-protocol .chat-message .others {
      display: flex;
      max-height: 100vmax;
      position: static;
      transform: none;
      background-color: #eaeaea !important;
      flex-direction: row;
      max-width: calc(100% - 8px);
      margin: 0 4px;
      box-shadow: none !important;
    }
    .chat-protocol .chat-message.is-deleted .others {
      background-color: transparent !important;
      opacity: 0.4;
    }
    .chat-protocol .chat-message .others .timestamp {
        font-size: 10px;
    }
    .chat-protocol .chat-message .others .link {
        display: block;
        flex-grow: 1;
        width: 100%;
    }
    .chat-protocol .chat-message .others .link a {
        display: block;
        width: 100%;
        font-size: 13px;
        text-align: center;
        padding: 3px;
        margin: 1px;
        border: 1px solid #ddd;
    }
}

button {
    font: inherit;
    padding: 2px 20px;
    border: none;
    background-color: #eeeeee;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 3px solid #afafaf;
    border-right: 2px solid #afafaf;
}
button.red-btn {
    color: white;
    background-color: #BB7253;
    border-bottom: 3px solid #7B3203;
    border-right: 2px solid #7B3203;
}
button.yellow-btn {
    color: white;
    background-color: #BBBB53;
    border-bottom: 3px solid #7B7B03;
    border-right: 2px solid #7B7B03;
}
button.green-btn {
    background-color: #72BB53;
    color: white;
    border-bottom: 3px solid #306b16;
    border-right: 2px solid #306b16;
}
button.blue-btn {
    color: white;
    background-color: #5372BB;
    border-bottom: 3px solid #03327B;
    border-right: 2px solid #03327B;
}
button:hover {
    background-color: #cccccc;
}
button.red-btn:hover {
    background-color: #9B6046;
}
button.yellow-btn:hover {
    background-color: #9B9646;
}
button.green-btn:hover {
    background-color: #609B46;
}
button.blue-btn:hover {
    background-color: #46609B;
}
button:active {
    position: relative;
    top: 1.5px;
    left: 1px;
    border-bottom-width: 2px;
    border-right-width: 1.5px solid #306b16;
}

button.block-btn {
    display: block;
    margin: 3px 0;
    font-size: 1.1em;
}

button.big-btn {
    padding: 4px 30px;
}

@media all and (max-width: 800px) {
    button {
        padding: 10px 20px;
        margin: 3px;
    }
}


/* Form styles */
input, textarea {
    display: block;
    width: 100%;
    font: inherit;
    border: 0;
    padding: 5px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 5px 0;
    resize: vertical;
    max-height: 300px;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}
input:focus, textarea:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
input.inline, textarea.inline {
    margin: 0;
}
input[disabled], textarea[disabled] {
  color: black;
}
output {
  display: block;
  width: 100%;
  font: inherit;
  border: 0;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 1px #444;
  margin: 5px 0;
  resize: vertical;
  max-height: 300px;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
    display: inline-block;
    outline: none;
}
textarea {
    min-height: 150px;
}
label[for] {
    display: block;
    font-weight: bold;
    cursor: pointer;
}


select {
  padding: 5px;
  border-radius:3px;
  border: 1px solid #ddd;
  margin: 5px;
  display: inline-block;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease;
}

select:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  outline: 0;
}
select option {
  padding: 2px;
}
select optgroup {
  padding: 3px;
  font-size: 1.2em;
}
select /*optgroup */option {
  font-size: 0.833333333em;
  padding: 5px;
  cursor: pointer;
}
select option:focus {
  outline: 0 !important;
}


.suspension-warning {
    padding: 5px;
    font-weight: bold;
    margin: 2px 0;
    font-size: 14px;
    border: 2px dashed #d00;
}

ul.no-list-items {
  list-style: none;
  padding: 5px;
  columns: 2;
  border: 1px solid #000;
}
ul.no-list-items label {
    display: inline-block;
    padding-left: 5px;
}



.chat-split {
  display: flex;
  height: 100%;
  background-color: #fafafa;
}
@media all and (max-width: 800px) {
  .chat-split {
    flex-direction: column;
  }
}
.chat-split .chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vw;
}
.chat-split .chat-area .chat-protocol {
  flex-shrink: 1;
  background-color: #fff;
}
.chat-split .chat-info {
  flex-grow: 1;
  max-width: 300px;
  padding: 5px;
}
.chat-split .chat-area textarea {
  max-height: 100px;
  min-height: 50px;
}
.chat-split .chat-info h2 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
.chat-split .chat-info h2 a {
  font-size: 24px;
  display: block;
}



.system-notification {
  width: 100%;
  opacity: 0.95;
  background-color: white;
  padding: 20px 10%;
  font-size: 22px;
  position: absolute;
  box-shadow: 0 0 3px #777;
  top: 0;
  animation: fadein .5s ease;
  cursor: pointer;
}
.system-notification::after {
  content: 'DRÜCKEN ZUM VERSTECKEN';
  font-size: 15px;
  color: #aaa;
  text-align: center;
  display: block;
}
@keyframes fadein {
  from {
    opacity: 0.6;
    top: 40%;
    transform: scale(0.3);
  }
  to {
    opacity: 0.9;
    top: 0;
    transform: scale(1);
  }
}


.flag-notification {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 13px;
  padding: 3px 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #fa6;
  color: white;
  border: 3px solid #fff;
  box-shadow: 0 0 0 0.75px #d84;
  cursor: pointer;
  transition: all .3s ease;
}
@media all and (max-width: 800px) {
  .flag-notification {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    z-index: 100000000;
    padding: 8px 0;
  }
}
.flag-notification:hover {
  border-color: #fda;
  background-color: #fa6;
}
.flag-notification:active {
  border-color: #d84;
  background-color: #d84;
}


.flag-dialog {
  position: fixed;
  top: 2em;
  background-color: white;
  width: 100%;
  max-width: 600px;
  left: 50%;
  padding: 10px;
  border: 4px solid #d84;
  transform: translateX(-50%);
  border-radius: 5px;
  display: none;
}
.flag-dialog.shown {
  display: block;
}
.flag-dialog h3 {
  margin: 10px 0;
  font-size: 25px;
  color: #d84;
  border-bottom: 1px solid;
  font-weight: normal;
}
.flag-dialog .fd-content {
  height: 100vh;
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ddd;
}

.flag-dialog .flag-list-item {
  background-color: #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.flag-dialog .flag-list-item ul {
  margin: 3px 0;
}
.flag-dialog .flag-list-item button {
  font-size: 12px;
  padding: 2px 6px;
}
