{% extends "layout.html" %}
{% block body %}
<p class="warning">Du siehst die <strong>Moderatorenansicht</strong> dieses Threads. <a href="?">Benutzeransicht zeigen</a></p>
<div class="split-screen">
  <aside style="background-color: #eee; padding: 10px">
    <h4>Ursprüngliche Nachricht</h4>
    <p><a href="/u/2">9hax</a> &rarr; <a href="/u/1">paul&pi;dev</a></p>
    <p>gesendet vor 2 Tagen</p>
    <p>Template: Illegitime Bewertungen</p>
    <p>Suspendierung: 2 Tage</p>
  </aside>
  <main>
{% filter markdown %}
Hallo paul&pi;dev,

In letzter Zeit haben wir Aktivitäten um dein Konto bemerkt, die durch unseren [Kodex][codex] verboten werden. Diese Aktivitäten betreffen hauptsächlich deine Bewertungen im Forum. Eigentlich darf jeder Benutzer so Beiträge bewerten, wie er es für richtig hält. Diese Freiheit wird nur durch eine Regel eingeschränkt: Bewerte die Inhalte und nicht die Autoren.

Wenn man nämlich Inhalte aufgrund der Autoren bewertet, führt dies dazu dass das ganze Reputations-System nicht mehr funktioniert. Besonders problematisch ist es auch, wenn die Bewertungen eines Kontos gezielt gegen ein anderes Konto gerichtet sind. Dies kann zu unnatürlichen, unfairen Veränderungen der Reputation eines Benutzers führen.

Konkrete Beispiele von solchem Verhalten sind:

- Alle Beiträge eines Benutzers (aus Rache) negativ bewerten.
- Alle Beiträge eines Benutzers positiv bewerten.
- Alle Beiträge eines Bekannten positiv bewerten.
- Beiträge bewerten, damit sich die Reputation des Autors in eine bestimmte Richtung verändert.

Aufgrund dieser Beobachtungen haben wir beschlossen, dein Konto für **2 Tage** zu suspendieren. Danach freuen wir uns, dich wieder zu begrüßen.

Das &pi;-Learn Moderatorenteam

  [codex]: /help/codex
{% endfilter %}
  </main>
</div>
<hr>
<div class="split-screen">
  <aside style="background-color: #eee; padding: 10px">
    <h4>Antwort</h4>
    <p><a href="/u/1">paul&pi;dev</a> &rarr; Moderatoren</p>
    <p>gesendet gestern</p>
  </aside>
  <main>
{% filter markdown %}
Hallo,

ich habe dieses Verhalten nicht absichtlich gezeigt. Die Korrektheit von Inhalten liegt mir sehr am Herzen. Darum gehe ich manchmal durch die Beiträge von einzelnen Konten durch, überprüfe alle Inhalte und bewerte sie entsprechend. Dabei kann der Eindruck des genannten Verhaltens entstehen.

Viele Grüße,
Paul
{% endfilter %}
  </main>
</div>
<hr>
<div class="split-screen">
  <aside style="background-color: #eee; padding: 10px">
    <h4>Antwort</h4>
    <p><a href="/u/2">9hax</a> &rarr; <a href="/u/1">paul&pi;dev</a></p>
    <p>gesendet gerade jetzt</p>
    <p>Thread geschlossen</p>
    <p>Suspendierung aufgehoben</p>
  </aside>
  <main>
{% filter markdown %}
Hallo paul&pi;dev,

Aufgrund deiner bisherigen Beiträge zu der Webseite und deiner Erklärung haben wir nach interner Beratung beschlossen, deine Sperrung vorzeitig aufzuheben.

Bitte unterlasse solches Verhalten in Zukunft dennoch. Diese Art der Bewertung ist unnatürlich und schadet längerfristig unserem System.

Das &pi;-Learn Moderatorenteam

  [codex]: /help/codex
{% endfilter %}
  </main>
</div>
<button class="danger-btn">Thread wieder öffnen</button>
{% endblock %}
