<div class="flagging-modal" id="unit-type-dialog">
    <div class="flagging-dialog">
        <div class="close-link"><a href="#!" onclick="document.getElementById('unit-type-dialog').classList.remove('open');">&times;</a></div>
        <h3>Neue Seite hinzufügen</h3>
        <label for="unit-type-dialog-type">Inhaltstyp der Seite</label>
        <select id="unit-type-dialog-type" size="5" style="width: 100%;">
          <optgroup label="statische Inhalte">
            <option value="info">Info- oder Erklärtexte (Text, Bilder, Code)</option>
            <option value="extvideo">Video (von Youtube, Vimeo, Link)</option>
          </optgroup>
          <optgroup label="interaktive Inhalte">
            <option value="quiz">Quiz</option>
          </optgroup>
          <optgroup label="Feedback">
            <option value="survey">Umfrage</option>
          </optgroup>
        </select>
        <input type="hidden" id="unit-type-dialog-parent">
        <p>
            <button onclick="$post('c/{{ course.id }}/u/new', {'parent':document.getElementById('unit-type-dialog-parent').value, 'type':document.getElementById('unit-type-dialog-type').value}, function(k){window.location.replace(k);})" class="primary-btn">Seite erstellen</button>
            <button onclick="document.getElementById('unit-type-dialog').classList.remove('open');">Abbrechen</button>
        </p>
        <p style="font-size: 0.8em">Hinweis: Eine einmal erstellte Seite kann nicht gelöscht werden.</p>
  </div>
</div>
