<h2>Menü</h2>
<nav class="_nav _nav-v">
  {% for element in course.getMenu() if element.availible %}
  {% if element.id == data.id %}
  <a href="/c/{{ course.id }}/u/{{ element.id }}" class="-active">{{ element.title }}</a>
  {% else %}
  <a href="/c/{{ course.id }}/u/{{ element.id }}">{{ element.title }}</a>
  {% endif %}
  {% if element.children %}
  <nav class="_nav _nav-v">
    {% for child in element.children if child.availible %}
     {% if child.id == data.id %}
     <a href="/c/{{ course.id }}/u/{{ child.id }}" class="-active">{{ child.title }}</a>
     {% else %}
     <a href="/c/{{ course.id }}/u/{{ child.id }}">{{ child.title }}</a>
     {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
  {% endfor %}
</nav>
