{% extends "layout.html" %}
{% block body %}
    <h2>{{ data.title }}</h2>
    <p>
    {% if data.rel == "soon" %}
    <i>Dieser Kurs ist bald verfügbar.</i>
    {% elif data.rel == "now" %}
    <a href="/course/enroll/id={{ data.id }}"><button>Einschreiben</button></a>
    {% else %}
    <a href="/course/start/id={{ data.id }}"><button>Zum Kurs</button></a>
    {% endif %}
    {% if data.highqual %}
    Dieser Kurs hat <a href="/help/hiqhqual"><div class="badge">hochwertige Inhalte</div></a>
    {% endif %}
    {% if stop.userrole=="a" or stop.userrole=="m" or stop.userrep >= stop.priv.course_reviewEdits or data.is_author %}
    &nbsp;<a href="/course/edit/id={{ data.id }}"><button class="less-annoying">Kurs bearbeiten</button></a>
    {% elif stop.userrep >= stop.priv.course_proposeEdit %}
    <a href="/course/proposeEdit/id={{ data.id }}"><button class="less-annoying">Eine Änderung vorschlagen</button></a>
    {% endif %}
    </p>
    {% if data.admincourse %}
    <div class="info">
        <h3>Admin-Kurs</h3>
        Dieser Kurs dient der Verwaltung der &pi;-Learn Webseite
    </div>
    {% endif %}
    <div class="courseslide no-marg">
        <h4>Kursbeschreibung</h4>
        <p>{{ data.longdesc }}</p>
    </div>
    <div class="courseslide no-marg">
        <h4>Voraussetzungen</h4>
        <p>{{ data.materials }}</p>
    </div>
{% endblock %}