{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" href="/static/ps/polyskript.css">
  <nav class="coursenav">
    {% set topic = course.getTopic() %}
    <h2>{{ course.getTitle() }} <i><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></i></h2>
    {{ course.getByLine()|markdown }}
    <ul>
      <li><a href="/course/{{ course.id }}/{{ course.getLabel() }}/details">Informationen</a></li>
      <li class="active"><a href="#!">Kursinhalte</a></li>
      <li><a href="/forum/{{ course.id }}/{{ course.getLabel() }}/list">Kursforum</a></li>
    </ul>
  </nav>
 <div class="split-screen">
   <aside>
     <h3>Alle Inhalte</h3>
     <ol>
       {% for element in course.getMenu() %}
        {% if element.availible %}
        {% if element.id == data.id %}
        <li><a href="/c/{{ course.id }}/u/{{ element.id }}/edit" class="current">{{ element.title }}</a>
        {% else %}
        <li><a href="/c/{{ course.id }}/u/{{ element.id }}/edit">{{ element.title }}</a>
        {% endif %}
        {% else %}
        {% if element.id == data.id %}
        <li><a style="opacity: 0.7" href="/c/{{ course.id }}/u/{{ element.id }}/edit" class="current">{{ element.title }}</a>
        {% else %}
        <li><a style="opacity: 0.7" href="/c/{{ course.id }}/u/{{ element.id }}/edit">{{ element.title }}</a>
        {% endif %}
        {% endif %}
          {% if element.children %}
          <ol>
            {% for child in element.children %}
             {% if child.availible %}
             {% if child.id == data.id %}
             <li><a href="/c/{{ course.id }}/u/{{ child.id }}/edit" class="current">{{ child.title }}</a>
             {% else %}
             <li><a href="/c/{{ course.id }}/u/{{ child.id }}/edit">{{ child.title }}</a>
             {% endif %}
             {% else %}
             {% if child.id == data.id %}
             <li><a style="opacity: 0.7" href="/c/{{ course.id }}/u/{{ child.id }}/edit" class="current">{{ child.title }}</a>
             {% else %}
             <li><a style="opacity: 0.7" href="/c/{{ course.id }}/u/{{ child.id }}/edit">{{ child.title }}</a>
             {% endif %}
             {% endif %}
            {% endfor %}
          </ol>
          {% endif %}
        </li>
       {% endfor %}
     </ol>
   </aside>
   <main>
       <button onclick="ps.toggle_view()">Vorschau</button> <button class="primary-btn" onclick="save()">Speichern</button> <a href="/c/{{ course.id }}/u/{{ data.id }}">Abbrechen</a>
       <hr>
      <h1><input data-before="Info: " class="inline" id="title" value="{{ data.getTitle() }}"></h1>
      {% if data.isDisabled() %}
      <label for="availible"><input type="checkbox" id="availible"> Diese Seite darf besucht werden.</label>
      {% else %}
      <label for="availible"><input type="checkbox" id="availible" checked> Diese Seite darf besucht werden.</label>
      {% endif %}
      <div id="polyskript-master" class="polyskript">
        <div class="preview">
        </div>
      </div>
      <a href="#!" onclick="prompt('Der Quelltext dieser Seite ist: ', JSON.stringify(ps.data));">Exportieren</a> &ndash; <a href="#!" onclick="x=JSON.parse(prompt('Bitte Quelltext einfügen: ', '{}'));if(x) {ps.data=x;ps._update()}">Importieren</a>
      <script src="/static/ps/model-info.js" charset="utf-8"></script>
      <script src="/static/ps/polyskript.js" charset="utf-8"></script>
      <script>
       ps = new Polyskript({{ data.getJSON()|tojson }});
       ps.show()

       function save() {
         $post("c/{{ course.id }}/u/{{ data.id }}/edit", {
           "title": document.getElementById("title").value,
           "availible": document.getElementById("availible").checked,
           "content": ps.data
         }, function () {
           window.location.reload();
         })
       }
     </script>
   </main>
 </div>
{% endblock %}
