{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
<nav class="coursenav">
   {% set topic = data.getTopic() %}
   <h2><input class="inline" style="font-size: inherit; display: inline-block; width: 100%;" id="title" value="{{ data.getTitle() }}"></h2>
   <p>Dieser Kurs gehört in das Thema <a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></p>
   <button class="primary-btn big-btn" id="save">Speichern</button>&nbsp;<a href="/c/{{ data.id }}/info">Abbrechen</a>
</nav>
{% if not data.getCourseRole(user) == 4 %}
<div class="warning">Bitte beachte bei allen Änderungen die Intentionen des ursprünglichen Kursautors. Ändere im Zweifelsfall nur kleinere Fehler oder aktualisiere vergessene, zur Teilnahme benötigten Voraussetzungen.</div>
{% endif %}
<p>Kurzbeschreibung:</p>
 <input id="shortdesc" value="{{ data.getShortdesc() }}">
 <h3>Wovon handelt der Kurs?</h3>

 <textarea id="longdesc">{{ data.getLongdesc() }}</textarea>
 <script>
     var simplemde = new SimpleMDE({ element: document.getElementById("longdesc"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
 </script>
 <h3>Was benötigt man zur Teilnahme?</h3>
 <textarea id="requirements">{{ data.getRequirements() }}</textarea>
 <script>
     var simplemde = new SimpleMDE({ element: document.getElementById("requirements"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
 </script>

 {% if user.isMod() or data.getCourseRole(user) == 4 %}
 <hr>
 <div class="user-warning">
  <h3>Den Kurs veröffentlichen</h3>
  {% if data.getDetail("state") == 0 %}
  <p>Ist dieser Kurs fertig, getestet und bereit, veröffentlicht zu werden?</p>
  <p>Sei dir sicher, denn dies kann <strong>nicht</strong> widerrufen werden. <a href="#!" onclick="if(prompt('ACHTUNG!\n========\n\nBestätige, dass der Kurs\n - fertig,\n - getestet und\n - bereit, veröffentlicht zu werden,\nist, indem du `sicher` in das Eingabefeld eingibst.', '')!='sicher'){return;} $post('c/{{ data.id }}/publish', {}, function(){window.location.reload();}); alert('Erfolg. Der Kurs wird veröffentlicht...'); ">Veröffentlichen</a></p>
  {% else %}
  <p>Dieser Kurs wurde veröffentlicht.</p>
  {% endif %}
 {% endif %}
 </div>
 <script>
 document.getElementById("save").addEventListener("click", function() {
     $post("course/{{ data.id }}/{{ data.getLabel() }}/edit", {
         "title": document.getElementById("title").value,
         "shortdesc": document.getElementById("shortdesc").value,
         "longdesc": document.getElementById("longdesc").value,
         "requirements": document.getElementById("requirements").value
     }, function() {
         alert("Kurs wurde erfolgreich aktualisiert.");
     })
 })
 </script>
{% endblock %}
