{% extends "layout_new.html" %}
{% block body %}
<div class="_nav _nav-t _nav-right">
  <a href="/courses" class="-active">{{ _('Übersicht') }}</a>
  <a href="/course/search">{{ _('Suchen') }}</a>
  <a href="/topics">{{ _('Themen') }}</a>
  {% if not limit_course_creation or user.isTeam() %}
  <a href="/course/propose">{{ _('Erstellen') if limit_course_creation else _('Vorschlagen') }}</a>
  {% endif %}
</div>
<h1 class="fs-display2 ta-c">{{ _('Kurse') }}</h1>
<h2 class="fs-title">{{ _('Meine Kurse') }}</h2>
{% if not user.isLoggedIn() %}
<p>{{ _('<a href="/login">Melde dich an</a>, um von dir besuchte Kurse extra zu sehen und auf alle Kurse und Inhalte zugreifen zu können') }}</p>
{% elif my_courses|length != 0 %}
<div class="grid -no-center">
  {% for course in my_courses %}
    <div class="colbox375 p2">
      <div class="_card s2">
        {% set topic = course.getTopic() %}
        <a href="/topic/{{ topic.getName() }}" class="_badge _badge-unit m1 f-bold push-right m2">{{ topic.getTitle() }}</a>
        <a href="/course/{{ course.id }}/{{ course.getLabel() }}"><div class="_card-image">
          <div style="height: 150px; width: 100%;  inset; {{ course.getPattern() }}">&nbsp;</div>
        </div></a>
        <div class="_card-header">
          <a class="anchor-black fs-subheading" href="/course/{{ course.id }}/{{ course.getLabel() }}">{{ course.getTitle() }}</a>
          <div class="fs-caption">{{ (course.getByLine()|markdown)[3:-4] }}</div>
        </div>
        <div class="_card-content">
          <p>{{ course.getShortdesc() }}</p>
        </div>
        <div class="_card-footer">
          <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start" class="_btn _btn--primary">{{ _('Zum Kurs') }}</a>
          <a href="/course/{{ course.id }}/{{ course.getLabel() }}" class="_btn _btn--primary _btn-on-light">{{ _('Informationen') }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<p>{{ _('Du hast dich bisher noch für keine Kurse eingeschrieben.') }}</p>
{% endif %}
<h2 class="fs-title">{{ _('Aktuelle Kurse') }}</h2>
<div class="grid -no-center">
  {% for course in now_courses %}
    <div class="colbox375 p2">
      <div class="_card s2">
        {% set topic = course.getTopic() %}
        <a href="/topic/{{ topic.getName() }}" class="_badge _badge-unit m1 f-bold push-right m2">{{ topic.getTitle() }}</a>
        <a href="/course/{{ course.id }}/{{ course.getLabel() }}"><div class="_card-image">
          <div style="height: 150px; width: 100%;  inset; {{ course.getPattern() }}">&nbsp;</div>
        </div></a>
        <div class="_card-header">
          <a class="anchor-black fs-subheading" href="/course/{{ course.id }}/{{ course.getLabel() }}">{{ course.getTitle() }}</a>
          <div class="fs-caption">{{ (course.getByLine()|markdown)[3:-4] }}</div>
        </div>
        <div class="_card-content">
          <p>{{ course.getShortdesc() }}</p>
        </div>
        <div class="_card-footer">
          {% if course.getDetail("manual_enrollment") %}
            <span class="_btn _btn--primary -active" disabled><i class="fa fa-lock"></i> {{ _('Kurs zugriffsbeschränkt') }}</span>
          {% elif course.getDetail("state") == 0 %}
            <span class="_btn _btn--primary -active" disabled><i class="fa fa-lock"></i> {{ _('Kurs nicht verfügbar') }}</span>
          {% else %}
          {% if not user.isLoggedIn() or course.isEnrolled(user) %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start" class="_btn _btn--primary">{{ _('Zum Kurs') }}</a>
          {% else %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}/enroll" class="_btn _btn--primary">{{ _('Einschreiben') }}</a>
          {% endif %}
          {% endif %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}" class="_btn _btn--primary _btn-on-light">{{ _('Informationen') }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
