{% extends "layout.html" %}
{% block body %}
<div class="tabination">
  <ul>
    <li class="active"><a href="/courses">Übersicht</a></li>
    <li><a href="/course/search">Suchen</a></li>
    <li><a href="/topics">Themen</a></li>
    <li><a href="/course/propose">Vorschlagen</a></li>
  </ul>
</div>
    <h2 class="bigheading">Kurse</h2>
    {#
      Example code for ad:
    <div class="iad-wrapper" id="iad-1">
    <div class="iad-left-board">
    <div class="iad-inner-board">
    <div class="iad-heading"><a href="#!">Wie schreibe ich ein Betriebssystem?</a></div>
    <div class="iad-topic">Thema: <a href='#!'>Computer</a></div>
    <div class="iad-description">0xA84 0x39D</div>
    <div class="iad-sponsorship">zertifiziert von <strong>Microsoft</strong></div>
    </div>
    </div>
    <div class="iad-split"></div>
    <div class="iad-action-board">
    <a href="#!" class="iad-action">Klingt gut</a>
    <a href="#!" class="iad-dismissal" onclick="dismiss_ad('iad-1');">irrelevant</a>
    <div class="iad-spacer"></div>
    <div class="iad-notice">Werbung</div>
    </div>
    </div>
    #}
    <script>
    function dismiss_ad(elid) {
    	document.getElementById(elid).classList.add("declined")
    }
    </script>
    <h3 class="coursegrouptitle">Meine Kurse</h3>
    {% if not user.isLoggedIn() %}
    <p><a href="/login">Melde dich an!</a> um von dir besuchte Kurse extra zu sehen und auf alle Kurse und Inhalte zugreifen zu können</p>
    {% elif my_courses|length != 0 %}
      <div class="courses" id="my_course">
        {% for course in my_courses %}
            <div class="course-panel">
                <a href="/course/{{ course.id }}/{{ course.getLabel() }}/details"><h4>{{ course.getTitle() }}</h4></a>
                {{ course.getShortdesc()|markdown }}
                {% set topic = course.getTopic() %}
                <p><strong>Thema: </strong><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></p>
                {% if user.isLoggedIn() %}
                  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start"><button>Zum Kurs</button></a>
                {% else %}
                  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start"><button>Zum Kurs</button></a>
                {% endif %}
            </div>
        {% endfor %}
      </div>
    {% else %}
    <p>Du hast dich bisher noch für keine Kurse eingeschrieben.</p>
    {% endif %}
    <h3 class="coursegrouptitle">Aktuelle Kurse</h3>
    <div class="courses" id="now_course">
        {% for course in now_courses %}
            <div class="course-panel">
                <a href="/course/{{ course.id }}/{{ course.getLabel() }}/details"><h4>{{ course.getTitle() }}</h4></a>
                {{ course.getShortdesc()|markdown }}
                {% set topic = course.getTopic() %}
                <p><strong>Thema: </strong><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></p>
                {% if user.isLoggedIn() %}
                  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/enroll"><button>Einschreiben</button></a>
                {% else %}
                  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start"><button>Zum Kurs</button></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {#
    <div class="courseslide">
        <h3>Aktuelle Kurse</h3>
        <div class="courses" id="now_course">
            {% for course in now_courses %}
                <div class="course-panel">
                    <a href="/course/details/id={{ course.id }}"><h4>{{ course.title }}</h4></a>
                    <p>{{ course.shortdesc }}</p>
                    <p><strong>Thema: </strong> <a href="/courses/topic/{{ course.topicUrl }}/info" class="topic">{{ course.topic }}</a></p>
                    <a href="/course/enroll/id={{ course.id }}"><button>Einschreiben</button></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="courseslide">
        <h3>Zukünftige Kurse</h3>
        <div class="courses" id="soon_course">
            {% for course in soon_courses %}
                <div class="course-panel">
                    <a href="/course/details/id={{ course.id }}"><h4>{{ course.title }}</h4></a>
                    <p>{{ course.shortdesc }}</p>
                    <p><strong>Thema: </strong> <a href="/courses/topic/{{ course.topicUrl }}/info" class="topic">{{ course.topic }}</a></p>
                    <a href="#" disabled>kommt bald</a>
                </div>
            {% endfor %}
        </div>
    </div>
    #}
{% endblock %}
