{% extends "layout_new.html" %}
{% block body %}
{% set topic = data.getTopic() %}
{% if not(data.getDetail("state") == 0 and not data.getCourseRole(user) >= 2) and (data.isEnrolled(user) or not user.isLoggedIn()) %}
<nav class="_nav _nav-t">
  <a href="/c/{{ data.id }}/info" class="-active">Infos</a>
  <a href="/course/{{ data.id }}/{{ data.getLabel() }}/start">Inhalte</a>
  {% if data.getCourseRole(user) >= 3 %}
  <a href="/course/{{ data.id }}/{{ data.getLabel() }}/edit">Bearbeiten</a>
  {% endif %}
  <a href="/forum/{{ data.id }}/{{ data.getLabel() }}">Forum</a>
  {% if data.getCourseRole(user) == 4 or user.isMod() %}
  <a href="/course/{{ data.id }}/{{ data.getLabel() }}/admin">Verwaltung</a>
  {% endif %}
</nav>
{% endif %}
<div class="p1">
  <div class="grid bg-dark-llll">
    <div class="column5 hide__sm hide__md">
      <div class="p3">
        <div style="height: 250px; width: 100%;" id="patterny">&nbsp;</div>
      </div>
    </div>
    <div class="column7__lg column12">
      <div class="p3">
        <a class="_badge _badge-unit push-right m2" href="/t/{{ topic.getName() }}">{{ topic.getTitle() }}</a>
        <h1 class="fs-display1">{{ data.getTitle() }}</h1>
        <p class="p-lead">{{ data.getShortdesc() }}</p>
        <p>Dieser Kurs wird angeboten {{ (data.getByLine()|markdown)[3:-4] }}</p>
      </div>
    </div>
    <div class="column5 hide__sm hide__md bt1s bt-dark-ll">
    </div>
    <div class="column7__lg column12 bt1s bt-dark-ll">
      <div class="p3">
        {% if data.getDetail("state") == 0 and not data.getCourseRole(user) >= 2 %}
        <button class="_btn _btn-dark _btn-lg -active" disabled>Kurs noch nicht verfügbar</button>
        {% if not data.isEnrolled(user) %}
        <a href="/course/{{ data.id }}/{{ data.getLabel() }}/enroll" class="_btn _btn-dark _btn-on-light _btn-lg">Einschreiben</a>
        {% endif %}
        {% elif data.isEnrolled(user) or not user.isLoggedIn() %}
        <a href="/course/{{ data.id }}/{{ data.getLabel() }}/start" class="_btn _btn--primary _btn-lg">Zum Kurs</a>
        {% else %}
        <a href="/course/{{ data.id }}/{{ data.getLabel() }}/enroll" class="_btn _btn--primary _btn-lg">Einschreiben</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="column8 column12__sm">
      <div class="p3">
        {{ data.getLongdesc()|markdown }}
        <h3>Was benötigt man zur Teilnahme?</h3>
        {{ data.getRequirements()|markdown }}
      </div>
    </div>
    <div class="column4 column12__sm">
      <div class="p3">
        <div class="fs-subtitle">{{ data.getEnrolledCount() }}</div>
        <div class="fs-base1">Benutzer eingeschrieben</div>
      </div>
      {% set announcements = ForumAnnouncement.byForum(data.id) %}
      {% if announcements|length > 0 %}
      <div class="_card">
        <div class="_card-title _card-subtitle">Ankündigungen</div>
        <div class="_card-content _card-content-direct">
        <div class="_list _list-unbordered">
        {% for a in announcements %}
        <a class="_list-item fs-base1 _list-item-keepcolor" href="{{ a.getLink() }}">
            {% if a.getEnd() %}
              <span class="d-b col-dark-dd">{{ a.getStart()[1] }} - {{ a.getEnd()[1] }}</span>
            {% else %}
              <span class="d-b col-dark-d">{{ a.getStart()[1] }}</span>
            {% endif %}
            <span class="d-b mb1 fs-base2">{{ a.getTitle() }}</span>
        </a>
        {% endfor %}
        </div>
        </div>
        </div>
      {% endif %}
      <div class="_card">
        <div class="_card-title">Du hast eine Frage zum Kurs?</div>
        <div class="_card-content">
          <p>Fragen zu diesem Kurs kannst du im <a href="/f/{{ data.id }}">Kursforum</a> stellen.</p>
        </div>
      </div>
      <div class="_card">
        <div class="_card-title">Gefällt dir dieser Kurs?</div>
        <div class="_card-content">
          <p>Vielleicht gefallen dir auch weitere <a href="/t/{{ topic.getName() }}">Kurse zum Thema {{ topic.getTitle() }}</a> oder <a href="/course/propose">biete selber einen Kurs an</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  #patterny {
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.3) inset;
    {{ data.getPattern() }}
  }
</style>
{% endblock %}
