{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
<nav class="coursenav">
   {% set topic = data.getTopic() %}
   <h2>{{ data.getTitle() }} <i><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></i></h2>
   {{ data.getByLine()|markdown }}
   <ul>
     <li class="active"><a href="/course/{{ data.id }}/{{ data.getLabel() }}/details">Informationen</a></li>
     <li><a href="/course/{{ data.id }}/{{ data.getLabel() }}/start">Kursinhalte</a></li>
     <li><a href="/forum/{{ data.id }}/{{ data.getLabel() }}/list">Kursforum</a></li>
   </ul>
   <ul class="subnav">
     <li><a href="/course/{{ data.id }}/{{ data.getLabel() }}/details">Überblick</a></li>
     <li><a href="/course/{{ data.id }}/{{ data.getLabel() }}/edit">Bearbeiten</a></li>
     <li class="active"><a href="#!">Benutzer</a></li>
   </ul>
</nav>
{% set role = data.getCourseRole(user) %}
{% if role == 3 %}
<p>Du bist <strong>Kursbearbeiter</strong> für diesen Kurs.</p>
{% elif role == 4 %}
<p>Du bist <strong>Kursbesitzer</strong> für diesen Kurs.</p>
{% endif %}
<h2>Kursbesitzer</h2>
<p>Kursbesitzer können alles bearbeiten und Berechtigungen verwalten.</p>
{% set course_admins = data.getEnrolledByPerm(4) %}
{% for u in course_admins %}
<div class="user-list">
  {% if u.getDetail("profile_image") %}
      <img src="{{ u.getDetail("profile_image") }}" alt="">
  {% else %}
      <i class="fa fa-user fa-2x fa-fw" aria-hidden="true"></i>
  {% endif %}
  <a href="/u/{{ u.id }}">{{ u.getDetail("realname") }}</a>
  {% if u.id == user.id %}
  <button class="danger-btn"><i class="fa fa-times-circle fa-fw"></i></button>
  {% else %}
  <button class="primary-btn"><i class="fa fa-pencil fa-fw"></i></button>
  <button class="danger-btn"><i class="fa fa-trash fa-fw"></i></button>
  {% endif %}
</div>
{% endfor %}
<h2>Kursbearbeiter</h2>
<p>Kursbesitzer können alles bearbeiten.</p>
{% set course_admins = data.getEnrolledByPerm(3) %}
{% for u in course_admins %}
<div class="user-list">
  {% if u.getDetail("profile_image") %}
      <img src="{{ u.getDetail("profile_image") }}" alt="">
  {% else %}
      <i class="fa fa-user fa-2x fa-fw" aria-hidden="true"></i>
  {% endif %}
  <a href="/u/{{ u.id }}">{{ u.getDetail("realname") }}</a>
  {% if u.id == user.id %}
  <button class="danger-btn"><i class="fa fa-times-circle fa-fw"></i></button>
  {% else %}
  <button class="primary-btn"><i class="fa fa-pencil fa-fw"></i></button>
  <button class="danger-btn"><i class="fa fa-trash fa-fw"></i></button>
  {% endif %}
</div>
{% endfor %}
<h2>Kursbetrachter</h2>
<p>Kursbesitzer können den Kurs auch dann besuchen, wenn dieser noch nicht freigeschaltet sein sollte.</p>
{% set course_admins = data.getEnrolledByPerm(2) %}
{% for u in course_admins %}
<div class="user-list">
  {% if u.getDetail("profile_image") %}
      <img src="{{ u.getDetail("profile_image") }}" alt="">
  {% else %}
      <i class="fa fa-user fa-2x fa-fw" aria-hidden="true"></i>
  {% endif %}
  <a href="/u/{{ u.id }}">{{ u.getDetail("realname") }}</a>
  {% if u.id == user.id %}
  <button class="danger-btn"><i class="fa fa-times-circle fa-fw"></i></button>
  {% else %}
  <button class="primary-btn"><i class="fa fa-pencil fa-fw"></i></button>
  <button class="danger-btn"><i class="fa fa-trash fa-fw"></i></button>
  {% endif %}
</div>
{% endfor %}
<h2>In den Kurs eingeschrieben</h2>
<p>In diesen Kurs sind <span class="badge">{{ data.getEnrolledCount() }}</span> Benutzer eingeschrieben</p>
<h3>Benutzer aus Kurs entfernen</h3>
<p>Du kannst einen Benutzer, der sich nicht an die Regeln hält, aus dem Kurs entfernen.</p>
{% endblock %}
