{% extends "layout_new.html" %}
{% block body %}
<script src="/static/new_js/pilearn.markdown.js"></script>
<script src="/static/new_js/pilearn.editor.js"></script>
<div class="_nav _nav-t _nav-right">
  <a href="/courses">Übersicht</a>
  <a href="/course/search">Suchen</a>
  <a href="/topics">Themen</a>
  <a href="/course/propose" class="-active">Vorschlagen</a>
</div>
<h1>Kurse vorschlagen</h1>
{% if user.may("course_propose") %}
<div class="p3">
  <div class="p1 js--slide1">

      <div class="_progress-stepped">
        <div class="_progress-step -active">
            <div class="_progress-step-symbolic">
                <div class="_progress-step-symbolic.left"></div>
                <div class="_progress-step-symbolic.center"></div>
                <div class="_progress-step-symbolic.right"></div>
            </div>
            <div class="_progress-step-description">
                <div class="fs-base3 f-bold">Informationen</div>
            </div>
        </div>
        <div class="_progress-step">
            <div class="_progress-step-symbolic">
                <div class="_progress-step-symbolic.left"></div>
                <div class="_progress-step-symbolic.center"></div>
                <div class="_progress-step-symbolic.right"></div>
            </div>
            <div class="_progress-step-description">
                <div class="fs-base3 f-bold">Allgemeine Daten</div>
            </div>
        </div>
        <div class="_progress-step">
            <div class="_progress-step-symbolic">
                <div class="_progress-step-symbolic.left"></div>
                <div class="_progress-step-symbolic.center"></div>
                <div class="_progress-step-symbolic.right"></div>
            </div>
            <div class="_progress-step-description">
                <div class="fs-base3 f-bold">Kursbeschreibung</div>
            </div>
        </div>
        <div class="_progress-step">
            <div class="_progress-step-symbolic">
                <div class="_progress-step-symbolic.left"></div>
                <div class="_progress-step-symbolic.center"></div>
                <div class="_progress-step-symbolic.right"></div>
            </div>
            <div class="_progress-step-description">
                <div class="fs-base3 f-bold">Materialien</div>
            </div>
        </div>
        <div class="_progress-step">
            <div class="_progress-step-symbolic">
                <div class="_progress-step-symbolic.left"></div>
                <div class="_progress-step-symbolic.center"></div>
                <div class="_progress-step-symbolic.right"></div>
            </div>
            <div class="_progress-step-description">
                <div class="fs-base3 f-bold">Absenden</div>
            </div>
        </div>
      </div>

      <div class="p5 bg-dark-llll">
        <p class="p-lead">Du möchtest einen Kurs anbieten?</p>

      <p>Dann bist du hier genau richtig! Noch vier kleine Schritte und dann kann es mit deinem Kurs losgehen.</p>

      <p>Keine Sorge, die meisten eingegebenen Informationen kannst du später noch ändern.</p>

      <p>Bitte beachte auch diese drei Hinweise, die entscheiden, ob ein Kurs angenommen wird:</p>
      <ul>
        <li><strong>Prüfe ob dieser Kurs bereits existiert.</strong> Mehrere Kurse zum genau gleichen Thema sind unnötig. <a href="/course/search">Suche</a> nach Kursen und überprüfe auch auf der Startseite, ob es bereits ähnliche Kursvorschläge gibt.</li>
        <li><strong>Beachte unsere <a href="/help/faq/course-hints" target="_blank">Hinweise zum Umfang und Inhalt eines {{ site_short_name }}-Kurses.</a></strong></li>
        <li><strong>Vermeide Fehler.</strong> Die Kursinformationen sollten (größtenteils) fehlerfrei sein. Überprüfe sie noch einmal vor dem Abschicken.</li>
      </ul>
    </div>

      <div class="push-right">
          <button class="_btn _btn--primary _btn-lg" onclick="$('.js--slide1').addClass('hide');$('.js--slide2').removeClass('hide');">Weiter &raquo;</button>
      </div>
      <div class="push-reset"></div>
  </div>



  <div class="p1 js--slide2 hide">

    <div class="_progress-stepped">
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Informationen</div>
          </div>
      </div>
      <div class="_progress-step -active">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Allgemeine Daten</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Kursbeschreibung</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Materialien</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Absenden</div>
          </div>
      </div>
    </div>

    <label class="form" for="title">Kurstitel</label>
    <input class="form" id="title">
    <label class="form" for="shortdesc">Kurzbeschreibung (Elevator pitch)</label>
    <input class="form" id="shortdesc">
    <label class="form">Thema des Kurses</label>
    <div id="topicform">
    {% for t in topic.getAll() %}
    <label class="form" for="topic-{{ t.getName() }}"><input class="form-radio" type="radio" value="{{ t.id }}" name="topic" id="topic-{{ t.getName() }}"> <a class="_badge _badge-unit" href="/t/{{ t.getName() }}">{{ t.getTitle() }}</a> &ndash; {{ t.getExcerpt() }}</label>
    {% endfor %}
    </div>

      <div class="push-right">
          <button class="_btn _btn--primary _btn-lg _btn-outline" onclick="$('.js--slide2').addClass('hide');$('.js--slide1').removeClass('hide');">&laquo; Zurück</button>
          <button class="_btn _btn--primary _btn-lg" onclick="$('.js--slide2').addClass('hide');$('.js--slide3').removeClass('hide');">Weiter &raquo;</button>
      </div>
      <div class="push-reset"></div>
  </div>



  <div class="p1 js--slide3 hide">

    <div class="_progress-stepped">
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Informationen</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Allgemeine Daten</div>
          </div>
      </div>
      <div class="_progress-step -active">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Kursbeschreibung</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Materialien</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Absenden</div>
          </div>
      </div>
    </div>

    <label class="form" for="longdesc">Detailbeschreibung</label>
    <div class="js--editor js--editor:preview">
      <textarea class="form form-large js--editor-textarea" id="longdesc"></textarea>
      <div class="p2 js--editor-preview hr-original"></div>
    </div>
      <div class="push-right">
          <button class="_btn _btn--primary _btn-lg _btn-outline" onclick="$('.js--slide3').addClass('hide');$('.js--slide2').removeClass('hide');">&laquo; Zurück</button>
          <button class="_btn _btn--primary _btn-lg" onclick="$('.js--slide3').addClass('hide');$('.js--slide4').removeClass('hide');">Weiter &raquo;</button>
      </div>
      <div class="push-reset"></div>
  </div>



  <div class="p1 js--slide4 hide">

    <div class="_progress-stepped">
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Informationen</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Allgemeine Daten</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Kursbeschreibung</div>
          </div>
      </div>
      <div class="_progress-step -active">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Materialien</div>
          </div>
      </div>
      <div class="_progress-step">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Absenden</div>
          </div>
      </div>
    </div>

    <label class="form" for="requirements_form">Voraussetzungen</label>
    <div class="js--editor js--editor:preview">
      <textarea class="form form-large js--editor-textarea" id="requirements_form"></textarea>
      <div class="p2 js--editor-preview hr-original"></div>
    </div>
      <div class="push-right">
          <button class="_btn _btn--primary _btn-lg _btn-outline" onclick="$('.js--slide4').addClass('hide');$('.js--slide3').removeClass('hide');">&laquo; Zurück</button>
          <button class="_btn _btn--primary _btn-lg" onclick="$('.js--slide4').addClass('hide');$('.js--slide5').removeClass('hide');">Weiter &raquo;</button>
      </div>
      <div class="push-reset"></div>
  </div>



  <div class="p1 js--slide5 hide">

    <div class="_progress-stepped">
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Informationen</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Allgemeine Daten</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Kursbeschreibung</div>
          </div>
      </div>
      <div class="_progress-step -complete">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Materialien</div>
          </div>
      </div>
      <div class="_progress-step -active">
          <div class="_progress-step-symbolic">
              <div class="_progress-step-symbolic.left"></div>
              <div class="_progress-step-symbolic.center"></div>
              <div class="_progress-step-symbolic.right"></div>
          </div>
          <div class="_progress-step-description">
              <div class="fs-base3 f-bold">Absenden</div>
          </div>
      </div>
    </div>

    <p class="p-lead">Du bist jetzt bereit, den Kursvorschlag abzusenden!</p>
    <p>Als nächstes überprüfen wir, ob es sich überhaupt lohnt, so einen Kurs anzubieten. Da es schade für deinen Aufwand wäre, versuchen wir sicherzustellen, dass wenigstens ein paar Benutzer an deinem Kurs teilnehmen.</p>
    <p>Dafür wird dieser Vorschlag auf der Startseite angezeigt, mit der Bitte, dass Benutzer, die an diesem Kurs teilnehmen würden, dies durch einen Knopfdruck versprechen.</p>
    <p>Wenn innerhalb eines Monats genug Teilnehmer dies versprechen, wirst du informiert, dass du jetzt den Kurs bearbeiten kannst</p>
      <div class="push-right">
          <button class="_btn _btn--primary _btn-lg _btn-outline" onclick="$('.js--slide5').addClass('hide');$('.js--slide4').removeClass('hide');">&laquo; Zurück</button>
          <button class="_btn _btn--primary _btn-lg" onclick="propose();" id="submit-btn">Kursvorschlag absenden</button>
      </div>
      <div class="push-reset"></div>
  </div>
</div>
  <script>
    function propose() {
      $this = $("#submit-btn");
      if($("#title").val().trim() == "" ||
         $("#shortdesc").val().trim() == "" ||
         $("#topicform").find(":checked").length == 0 ||
         $("#longdesc").val().trim() == "" ||
         $("#requirements_form").val().trim() == "") {
        PiJS.warnbox.error("Der Vorschlag wurde nicht vollständig ausgefüllt.", $this.parent());
        return;
      }
      $this.addClass("-loading").attr("disabled", true);
      $.ajax({
        method: "POST",
        url: "/course/propose",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
          title: $("#title").val(),
          topic: $("#topicform").find(":checked").val(),
          shortdesc: $("#shortdesc").val(),
          longdesc: $("#longdesc").val(),
          requirements: $("#requirements_form").val()
        }),
        success: function(r) {
          $this.removeAttr("disabled").removeClass("-loading");
          if(r.result=="success") {
            window.location.href = r.url;
          } else if (r.result == "error") {
            PiJS.warnbox.error(r.error, $this.parent());
          } else if (r.result == "errors") {
            PiJS.warnbox.error("<p>Es sind Fehler aufgetreten:</p><ul><li>" + r.errors.join("</li><li>") + "</li></ul>", $this.parent(), true);
          }
        },
        error: function() {
          $this.removeAttr("disabled").removeClass("-loading");
          PiJS.warnbox.error("Die Verbindung zum Server konnte nicht hergestellt werden.", $this.parent());
        }
      })
    }
    PiJS.editor.init();
  </script>
{% else %}
  <div class="error">
      <h4>Privileg noch nicht erreicht</h4>
      <p>Du darfst noch keine Kurse vorschlagen</p>
  </div>
{% endif %}
{% endblock %}
