{% extends "layout_new.html" %}
{% block body %}
<div class="_nav _nav-t _nav-right">
  <a href="/courses">Übersicht</a>
  <a href="/course/search" class="-active">Suchen</a>
  <a href="/topics">Themen</a>
  <a href="/course/propose">Vorschlagen</a>
</div>
<h1>Kurse durchsuchen</h1>
<form action="" method="get">
  <label class="form" for="title_search">Suche:</label>
  <input class="form" name="title" id="title_search"{% if request.values.get("title", False) %} value="{{ request.values.get("title", False) }}"{% endif %}>
  <div class="grid">
    <div class="column6__lg column12">
      <div class="_card">
        <div class="_card-title _card-subtitle" data-toggle=".js--extra" data-toggle-class="hide"><a href="#!">Erweiterte Optionen</a></div>
        <div class="_card-content js--extra hide">
          <label for="shortdesc_search" class="form">Kurzbeschreibung:</label>
          <input name="shortdesc" class="form" id="shortdesc_search"{% if request.values.get("shortdesc", False) %} value="{{ request.values.get("shortdesc", False) }}"{% endif %}>
          <label class="form">Thema des Kurses</label>
          <label class="d-b p1" for="topic-___all"><input class="form-radio" type="radio" value="all" name="topic" id="topic-___all"{% if request.values.get("topic", "all")=="all" %} checked{% endif %}> alle Themen</label>
          {% for t in topic.getAll() %}
          <label class="d-b p1" for="topic-{{ t.getName() }}"><input class="form-radio" type="radio" value="{{ t.id }}" name="topic" id="topic-{{ t.getName() }}" {% if request.values.get("topic", "all")==""~t.id %} checked{% endif %}> <a class="_badge _badge-unit" href="/t/{{ t.getName() }}">{{ t.getTitle() }}</a> &ndash; {{ t.getExcerpt() }}</label>
          {% endfor %}
          <label class="form">Status des Kurses</label>
          <label class="d-b p1" for="status-___all"><input class="form-radio" type="radio" value="all" name="status" id="status-___all"{% if request.values.get("status", "all")=="all" %} checked{% endif %}> alle Kurse</label>
          <label class="d-b p1" for="status-0"><input type="radio" class="form-radio" value="0" name="status" id="status-0"{% if request.values.get("status", "all")=="0" %} checked{% endif %}> nicht verfügbare Kurse</label>
          <label class="d-b p1" for="status-1"><input type="radio" class="form-radio" value="1" name="status" id="status-1"{% if request.values.get("status", "all")=="1" %} checked{% endif %}> verfügbare Kurse</label>

          <label class="d-b p1 form" for="extended"><input type="checkbox" checked class="form-checkbox" value="1" name="extended" id="extended"{% if request.values.get("extended", "0")=="1" %} checked{% endif %}> Erweiterte Ansicht verwenden</label>
        </div>
      </div>
    </div>
    <div class="column6__lg column12">
      <div class="_card">
        <div class="_card-title _card-subtitle" data-toggle=".js--hints" data-toggle-class="hide"><a href="#!">Suchhilfe</a></div>
        <div class="_card-content js--hints hide">
          <p>Bei allen Textfeldern gilt: Normalerweise wird danach gesucht, was alle Teilworte enthält. Wenn der Suchtext mit <code>=</code> anfängt, wird danach gesucht, was genau diesen Text beinhaltet. Wenn der Suchtext mit <code>*</code> anfängt, wird danach gesucht, was mindestens ein Teilwort enthält. Wenn ein Wort mit <code>!</code> beginnt, wird geprüft ob es nicht im Text ist. Ein <code>+</code> wird als Leerzeichen gesucht.</p>
          <table class="table">
            <tr>
              <th><code>grüner Maulwurf</code></th>
              <td>Alles was <code>grüner</code> und <code>Maulwurf</code> enthält.</td>
            </tr>
            <tr>
              <th><code>=grüner Maulwurf</code></th>
              <td>Nur <code>grüner Maulwurf</code></td>
            </tr>
            <tr>
              <th><code>*grüner Maulwurf</code></th>
              <td>Alles was <code>grüner</code> oder <code>Maulwurf</code> enthält.</td>
            </tr>
            <tr>
              <th><code>!grüner Maulwurf</code></th>
              <td>Alles was <code>Maulwurf</code>, aber nicht <code>grüner</code> enthält.</td>
            </tr>
            <tr>
              <th><code>der grüne Maulwurf</code></th>
              <td>Alles was <code>der</code>, <code>grüne</code> und <code>Maulwurf</code> enthält.</td>
            </tr>
            <tr>
              <th><code>der+grüne Maulwurf</code></th>
              <td>Alles was <code>der grüne</code> und <code>Maulwurf</code> enthält.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="_btn _btn-lg _btn--primary"><i class="fa fa-search"></i> Suchen</button> <a href="?" class="_btn _btn-lg _btn--primary _btn-on-light">Zurücksetzen</a>
</form>

{% if cnum != None %}

<p>Gefunden wurden <strong>{{ cnum }}</strong> Kurs{% if cnum != 1 %}e{% endif %}.{% if cnum > 30 %} Es werden nur die ersten 30 Kurse angezeigt. Schränke bitte die Suche ein.{% endif %}</p>
{% if request.values.get("extended", "0")=="1" %}
<div class="grid -no-center">
  {% for course in courses %}
    <div class="colbox375 p2">
      <div class="_card s2">
        {% set topic = course.getTopic() %}
        <a href="/topic/{{ topic.getName() }}" class="_badge _badge-unit m1 f-bold push-right m2">{{ topic.getTitle() }}</a>
        <a href="/course/{{ course.id }}/{{ course.getLabel() }}"><div class="_card-image">
          <div style="height: 150px; width: 100%;  inset; {{ course.getPattern() }}">&nbsp;</div>
        </div></a>
        <div class="_card-header">
          <a class="anchor-black fs-subheading" href="/course/{{ course.id }}/{{ course.getLabel() }}">{{ course.getTitle() }}</a>
          <div class="fs-caption">{{ (course.getByLine()|markdown)[3:-4] }}</div>
        </div>
        <div class="_card-content">
          <p>{{ course.getShortdesc() }}</p>
        </div>
        <div class="_card-footer">
          {% if course.getDetail("manual_enrollment") %}
            <span class="_btn _btn--primary -active" disabled><i class="fa fa-lock"></i> Kurs zugriffsbeschränkt</span>
          {% elif course.getDetail("state") == 0 %}
            <span class="_btn _btn--primary -active" disabled><i class="fa fa-lock"></i> Kurs nicht verfügbar</span>
          {% else %}
          {% if not user.isLoggedIn() or course.isEnrolled(user) %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}/start" class="_btn _btn--primary">Zum Kurs</a>
          {% else %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}/enroll" class="_btn _btn--primary">Einschreiben</a>
          {% endif %}
          {% endif %}
            <a href="/course/{{ course.id }}/{{ course.getLabel() }}" class="_btn _btn--primary _btn-on-light">Informationen</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
  <div class="_list">
    {% for c in courses %}
    {% set t = c.getTopic() %}
    {% set linked = c.getDetail("state") !=0 or c.isEnrolled(user) or user.isMod() %}
      <a class="_list-item" href="/c/{{ c.id }}">
        <span class="push-right d-b">
          <span class="_badge _badge-unit">{{ t.getTitle() }}</span>
        </span>
        <span class="fs-base3 d-b">{{ c.getTitle() }}</span>
        <span class="fs-base2 col-dark-ddd d-b">{{ c.getShortdesc() }}</span>
      {% if not linked %}
      <span class="fs-base2 col-danger-ddd f-italic d-b">Dieser Kurs ist noch nicht verfügbar.</span>
      </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endif %}
{% endblock %}
