{% extends "layout.html" %}
{% block body %}
  <nav class="coursenav">
    {% set topic = course.getTopic() %}
    <h2>{{ course.getTitle() }} <i><a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="topic">{{ topic.getTitle() }}</a></i></h2>
    {{ course.getByLine()|markdown }}
    <ul>
      <li><a href="/course/{{ course.id }}/{{ course.getLabel() }}/details">Informationen</a></li>
      <li class="active"><a href="#!">Kursinhalte</a></li>
      <li><a href="/forum/{{ course.id }}/{{ course.getLabel() }}/list">Kursforum</a></li>
    </ul>
  </nav>
 <div class="split-screen">
   <aside>
     <h3>Alle Inhalte</h3>
     <ol>
       {% for element in course.getMenu() %}
        {% if element.availible %}
        {% if element.id == data.id %}
        <li><a href="/c/{{ course.id }}/u/{{ element.id }}" class="current">{{ element.title }}</a>
        {% else %}
        <li><a href="/c/{{ course.id }}/u/{{ element.id }}">{{ element.title }}</a>
        {% endif %}
        {% elif user.isMod() or course.getCourseRole(user) >= 3 %}
        <li class="current visited"><a style="opacity: 0.4" href="/c/{{ course.id }}/u/{{ element.id }}">{{ element.title }}</a>
        {% endif %}
          {% if element.children %}
          <ol>
            {% for child in element.children %}
             {% if child.availible %}
             {% if child.id == data.id %}
             <li><a href="/c/{{ course.id }}/u/{{ child.id }}" class="current">{{ child.title }}</a>
             {% else %}
             <li><a href="/c/{{ course.id }}/u/{{ child.id }}">{{ child.title }}</a>
             {% endif %}
             {% elif user.isMod() or course.getCourseRole(user) >= 3 %}
             <li><a style="opacity: 0.4" href="/c/{{ course.id }}/u/{{ child.id }}">{{ child.title }}</a>
             {% endif %}
            {% endfor %}
          </ol>
          {% endif %}
        </li>
       {% endfor %}
       {% if course.getCourseRole(user) >= 3 %}
       <a href="#!" onclick="document.getElementById('unit-type-dialog-parent').value=0;document.getElementById('unit-type-dialog').classList.add('open')">Neue Seite</a>
       {% endif %}
     </ol>
   </aside>
   <main>
     {% if user.isMod() or course.getCourseRole(user) >= 3 %}
     <p style="margin: 0; font-size: 0.8em;"><strong>{{ data.getTitle() }}</strong> &ndash; {% if data.isDisabled() %}<span style="color: #d00;">Unveröffentlichte Seite</span>{% else %}Öffentliche Seite{% endif %} &ndash; <a href="/c/{{ course.id }}/u/{{ data.id }}/edit"><i class="fa fa-pencil"></i> Bearbeiten</a>{% if data.getDetail("parent") == 0 and course.getCourseRole(user) >= 3 %} &ndash; <a href="#!" onclick="document.getElementById('unit-type-dialog-parent').value={{ data.id }};document.getElementById('unit-type-dialog').classList.add('open')">Neue Unterseite</a>{% endif %}</p>
     <hr>
     {% endif %}
     {% if data.isDisabled() %}<div class="deleted-section" style="padding: 10px;">{% endif %}
     {% if data.getJSON().platform == "_link" %}
     <video src="{{ data.getJSON().embedcode }}" controls></video>
     {% else %}
     <div data-delaydio data-delaydio-platform="{{ data.getJSON().platform }}" data-delaydio-embedcode="{{ data.getJSON().embedcode }}" data-delaydio-lang="de">
     </div>
     <script src="/static/js/delaydio.js" charset="utf-8"></script>
     {% endif %}
     <div class="warning">
       <strong>Disclaimer:</strong>
       Dieses Video ist eventuell urheberrechtlich geschützt. &pi;-Learn übernimmt keine Verantwortung für unangemessene Inhalte. Melden Sie unangebrachte Inhalte oder Urheberrechtsverstöße im <a href="/helpdesk">Helpdesk</a> und wir werden uns darum kümmern.
     </div>
     {% if data.isDisabled() %}</div>{% endif %}
   </main>
   {% if course.getCourseRole(user) >= 3 %}
   {% include "courses/_create_unit.html" %}
   {% endif %}
 </div>
{% endblock %}
