{% extends "layout.html" %}
{% block body %}
    <h2 class="bigheading">Tickets</h2>
    <div class="election-list">
    {% for t in data %}
      <div class="election-item {% if t.isClosed() %}finished{% elif not t.isDeferred() %}announced{% endif %}">
        <h3><a href="/helpdesk/ticket/{{ t.id }}">{{ t.getTitle() }}</a></h3>
        {% if t.isDisciplinary() %}
        <p style="font-weight: bold;">Dies ist eine PM durch einen Administrator{% if user.isAdmin() %} (<a href="/u/{{ t.getDetail('assoc') }}">{{ t.getAssoc().getHTMLName()|safe }}</a>){% endif %}</p>
        {% elif t.isPing() %}
        <p style="font-weight: bold;">Dies ist ein Gruppen-PING von <a href="/u/{{ t.getDetail('assoc') }}">{{ t.getAssoc().getHTMLName()|safe }}</a></p>
        {% elif t.isLegal() %}
        <p style="font-weight: bold;">Dies ist ein Vertrag</a></p>
        {% else %}
        <p style="font-weight: bold;">Dies ist eine Support-Anfrage{% if t.isAssoced() %} zugewiesen an <a href="/u/{{ t.getDetail('assoc') }}">{{ t.getAssoc().getHTMLName()|safe }}</a>{% endif %}</p>
        {% endif %}
        </p>
      </div>
    {% endfor %}
    </div>
{% endblock %}
