{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <script src="/static/js/simplemde.min.js"></script>
    <h2>{{ data.getTitle() }}</h2>
    <div class="split-screen">
      <main>
        {% if data.isLegal() %}
          {{ responses[0].getMessage()|markdown }}
          {% if user.isDev() %}
          <ul>
          {% for event in responses[1:] %}
            <li>{{ event.getMessage()|markdown }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          {% if resp %}
            {% if resp.getMessage().endswith("**akzeptiert**.") %}
            <div class="success">{{ resp.getMessage()|markdown }}</div>
            {% elif resp.getMessage().endswith("**abgelehnt**.") %}
            <div class="error">{{ resp.getMessage()|markdown }}</div>
            {% endif %}
          {% elif not data.isClosed() %}
          <button onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'answer', 'answer': 'deny'}, function(){window.location.reload()});" class="danger-btn">Ich lehne die Vereinbarung ab</button>
          <button onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'answer', 'answer': 'accept'}, function(){window.location.reload()});" class="accept-btn">Ich akzeptiere die Vereinbarung</button>
          {% endif %}
        {% else %}
        <div class="timeline">
        {% for event in responses %}
          <div class="timeline-item">
            {{ event.getMessage()|markdown }}
            <div style="text-align: right; font-weight: bold; border-top: 1px solid #ddd">
            {% if not event.isOfficial() or (event.getPoster().id == user.id or (data.isDisciplinary() and user.isAdmin()) or user.isDev()) %}
                schrieb <a href="/u/{{ event.getDetail('poster') }}">{{ event.getPoster().getHTMLName()|safe }}</a>
            {% else %}
              {% if data.isDisciplinary() %}
               schrieb das &pi;-Learn Administratoren-Team
              {% else %}
               schrieb das &pi;-Learn Team
              {% endif %}
            {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
        {% if not data.isClosed() %}
        <h3>Antworten</h3>
        <textarea id="answer">{{ vote_message }}</textarea>
        <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("answer"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
        </script>
          {% if user.isDev() and not data.isDisciplinary() %}
          <p class="action-bar"><a href="#!" onclick="document.getElementById('stdanswer-dialog').classList.add('open');">Standardantwort hinzufügen</a></p>
          <div class="flagging-modal" id="stdanswer-dialog">
              <div class="flagging-dialog">
                  <div class="close-link"><a href="#!" onclick="document.getElementById('stdanswer-dialog').classList.remove('open');">&times;</a></div>
                  <h3>Standardantwort</h3>

                  <div class="flagging-reason-list  lot-reasons">
                    <label class="flagging-reason-item" for="wrong-place">
                      <input type="radio" name="auto-reason" id="wrong-place" style="display: none;">
                        <h4>Bitte globales Forum verwenden</h4>
                        <button onclick="insertStdText(this);" class="primary-btn" data-md="Hallo,||dies scheint eine Fehlermeldung für ein Problem zu sein, die keiner Diskretion bedarf. Solche Meldungen gehören in das [globale Forum](/f/0).||Wir haben diese Meldung zur Kenntnis genommen und es ist daher nicht nötig dieses Problem auch im globalen Forum zu melden.||Das &amp;pi;-Learn Entwicklerteam">Verwenden</button>
                        <p>Hallo, dies scheint eine Fehlermeldung für ein Problem zu sein, die keiner Diskretion bedarf. Solche Meldungen gehören in das <a href="#!">globale Forum</a>. Wir haben diese Meldung zur Kenntnis genommen und es ist daher nicht nötig dieses Problem auch im globalen Forum zu melden.</p>
                    </label>
                    <label class="flagging-reason-item" for="gdpr-accepted">
                      <input type="radio" name="auto-reason" id="gdpr-accepted" style="display: none;">
                        <h4>DSGVO-Anfrage angenommen</h4>
                        <button onclick="insertStdText(this);" class="primary-btn" data-md="Hallo,||wir haben diese Anfrage gemäß der neuen Datenschutzgrundverordnung entgegengenommen und werden sie schnellstmöglich bearbeiten.||Das &amp;pi;-Learn Entwicklerteam">Verwenden</button>
                        <p>Hallo, wir haben diese Anfrage gemäß der neuen Datenschutzgrundverordnung entgegengenommen und werden sie schnellstmöglich bearbeiten.</p>
                    </label>
                    <label class="flagging-reason-item" for="auto-block">
                      <input type="radio" name="auto-reason" id="auto-block" style="display: none;">
                        <h4>Auto-Sperrung nicht manipulierbar</h4>
                        <button onclick="insertStdText(this);" class="primary-btn" data-md="Hallo,||es handelt sich bei dem beschriebenen Sperrverhalten um eine automatische Kontrolle, die wir nicht aufheben können.||Das &amp;pi;-Learn Entwicklerteam">Verwenden</button>
                        <p>Hallo, es handelt sich bei dem beschriebenen Sperrverhalten um eine automatische Kontrolle, die wir nicht aufheben können.</p>
                    </label>
                    <label class="flagging-reason-item" for="no-repro">
                      <input type="radio" name="auto-reason" id="no-repro" style="display: none;">
                        <h4>Keine Repro</h4>
                        <button onclick="insertStdText(this);" class="primary-btn" data-md="Hallo,||wir haben diese Anfrage entgegengenommen, können sie aber nicht bearbeiten, da wir nicht in der Lage sind das beschriebenene Prolem zu reproduzieren.||Bitte senden Sie uns weitere Informationen zu, die uns helfen können, das Problem zu reproduzieren: Browser, Browserversion, Betriebssystem, Installierte Erweiterungen, kleinstmögliche Anleitung zum Reproduzieren des Problems.||Das &amp;pi;-Learn Entwicklerteam">Verwenden</button>
                        <p>Hallo, wir haben diese Anfrage entgegengenommen, können sie aber nicht bearbeiten, da wir nicht in der Lage sind das beschriebenene Prolem zu reproduzieren. Bitte senden Sie uns weitere Informationen zu, die uns helfen können, das Problem zu reproduzieren: Browser, Browserversion, Betriebssystem, Installierte Erweiterungen, kleinstmögliche Anleitung zum Reproduzieren des Problems.</p>
                    </label>
                  </div>

                  <p>
                      <button onclick="document.getElementById('stdanswer-dialog').classList.remove('open');">Abbrechen</button>
                  </p>
                  <script>
                  function insertStdText(s) {
                    document.getElementById("answer").value = s.getAttribute("data-md").replace(/\|\|/g, "\n\n");
                    simplemde.value = document.getElementById("answer").value
                    window.location.reload();
                    document.getElementById('stdanswer-dialog').classList.remove('open');
                  }
                  </script>
            </div>
          </div>
          {% endif %}
        <button onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'answer', 'answer': document.getElementById('answer').value}, function(){window.location.reload()});" class="primary-btn">Absenden</button>
        {% endif %}
        {% endif %}
      </main>
      <aside>
        <div style="position: sticky; top: 5px">
        <h3>Status</h3>
        {% if data.isDeferred() %}
          <div class="status-deferred">Verschoben auf später</div>
        {% elif data.isClosed() %}
          <div class="status-closed">Geschlossen</div>
        {% else %}
          <div class="status-open">Offen</div>
        {% endif %}
        {% if data.isNoRepro() %}
          <div class="status-norepro">kein Repro</div>
        {% endif %}
        {% if not data.isLegal() %}
        {% if data.isAssoced() and (not data.isDisciplinary() or user.isAdmin()) %}
        <h3>Zugewiesen an</h3>
        {{ user_card(data.getAssoc()) }}
        {% else %}
        <h3>Zuständig ist</h3>
        {{ data.getDepartment()|markdown }}
        {% endif %}
        {% endif %}
        {% if user.isDev() %}
        <h3>Art des Tickets</h3>
        {% if data.isDisciplinary() %}
        <p>Admin-PM</p>
        {% elif data.isPing() %}
        <p>Benutzer-PING</p>
        {% elif data.isLegal() %}
        <p>Vertrag</p>
        {% else %}
        <p>Support-Anfrage</p>
        {% endif %}
        {% if data.isLegal() %}
        <h3>Zugewiesene Benutzer</h3>
        <ul>
          {% for u in viewer %}
          <li><a href="/u/{{ u.id }}">{{ u.getHTMLName()|safe }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <h3>Aktionen</h3>
        <ul>
          {% if not data.isDeferred() %}
            {% if data.isClosed() %}
            <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'open'}, function(resp){window.location.reload();});">Öffnen</a></li>
            {% else %}
            <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'close'}, function(resp){window.location.reload();});">Schließen</a></li>
            <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'defer'}, function(resp){window.location.reload();});">Verschieben</a></li>
            {% endif %}
          {% else %}
          <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'undefer'}, function(resp){window.location.reload();});">Un-Verschieben</a></li>
          {% endif %}
          {% if not data.isNoRepro() %}
          <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'norepro'}, function(resp){window.location.reload();});">kein Repro</a></li>
          {% else %}
          <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'repro'}, function(resp){window.location.reload();});">Repro möglich</a></li>
          {% endif %}
          <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'assoc', 'userid':prompt('Wer soll für dieses Ticket verantwortlich sein?', '{{ data.getDetail("assoc") }}')||'{{ data.getDetail("assoc") }}'}, function(resp){window.location.reload();});">Benutzer zuweisen</a></li>
          <li><a href="#!" onclick="$post('helpdesk/api/{{ data.id }}', {'action': 'department', 'department':prompt('Wer soll für dieses Ticket verantwortlich sein?', '{{ data.getDetail("department") }}')||'{{ data.getDetail("department") }}'}, function(resp){window.location.reload();});">Zuständigkeit setzen</a></li>
          {% if data.isLegal() %}
          <li><a href="#!" onclick="id=prompt('Wer soll dieses Ticket sehen können?', ''); if(id){$post('helpdesk/api/{{ data.id }}', {'action': 'add-viewer', 'userid':id}, function(resp){window.location.reload();});}">Benutzer hinzufügen</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      </aside>
    </div>
{% endblock %}
