{% extends "layout_new.html" %}
{% block body %}
{% set user_site = "edit" %}
{% set user_edit_site = "login" %}
{% include "user/_header.html" %}
<div class="grid">
  <div class="column2__lg column12 p2">
    {% include "user/edit/_header.html" %}
  </div>
  <div class="column10__lg column12 p2">
    <div class="container single-fluid-tiny s1 p5">
      <h1>Anmeldedaten hinzufügen</h1>
      <p>Bitte gib die neuen Anmeldedaten ein.</p>
      {% if error == "not-match" %}
      <div class="_alert _alert-danger">Die Passwörter stimmen nicht überein.</div>
      {% endif %}
      <form action="" method="post">
        <label for="email" class="form">E-Mail-Adresse</label>
        <input type="email" class="form" name="email" id="email" value="">
        <label for="password" class="form">Passwort</label>
        <input type="password" class="form" name="password" id="password">
        <label for="password-dupl" class="form">Passwort erneut eingeben</label>
        <input type="password" class="form" name="password-dupl" id="password-dupl">

        <button type="submit" class="_btn _btn--primary">Hinzufügen</button>
        <a href="?page=login" class="_btn _btn--primary _btn-on-light">Abbrechen</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
