{% extends "layout_new.html" %}
{% block body %}
{% set user_site = "edit" %}
{% set user_edit_site = "login" %}
{% include "user/_header.html" %}
<div class="grid">
  <div class="column2__lg column12 p2">
    {% include "user/edit/_header.html" %}
  </div>
  <div class="column10__lg column12 p2">
    {% if data.id != user.id %}
    <p>Anmeldedaten sind geheim. Zugriff auf diese nur über das &diams;-Tool "Private Daten anzeigen" (mit Protokollierung)</p>
    {% else %}
    {% set GRANT_TIME = 100 %}
    <h1>Anmeldedaten für dieses Benutzerkonto</h1>
    <p>Die aktuellen Anmeldedaten für dieses Konto sind:</p>
    <div class="_datalist">
      {% for method in data.loginMethod_getAll() %}
        <div class="_datalist-item">
        {% set lm = method.provider %}
        <div class="_datalist-image">
          {% if lm == "local_account" %}
          <i class="fa fa-key"></i>
          {% elif lm == "oauth:google" %}
          <i class="fa fa-google"></i>
          {% endif %}
        </div>
        <div class="_datalist-field">
          {% if lm == "local_account" %}
          Lokal (Email+Passwort)
          {% elif lm == "oauth:google" %}
          Anmeldung mit Google
          {% endif %}
        </div>
        <div class="_datalist-field">
          {{ method.email }}
        </div>
        {% if session.get("login_time", 0) + GRANT_TIME * 60 > current_time and not (loop.length==1 and lm!="local_account") %}
          <div class="_datalist-action">
            {% if lm == "local_account" %}
            <a href="?page=login-alter&change={{ method.id }}">Bearbeiten</a>
            {% endif %}
            {% if loop.length != 1 %}
            <a href="?page=login-alter&remove={{ method.id }}" class="anchor-danger">Entfernen</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <h2>Methode hinzufügen</h2>
    {% if session.get("login_time", 0) + GRANT_TIME * 60 > current_time %}
      <div class="_btnlist">
        <a href="?page=login-alter&add=local_account" class="_btn _btn--primary">Lokal (mit Email und Passwort)</a>
        {% if oauth.google %}
        <a href="?page=login-alter&add=oauth:google" class="_btn _btn--primary">Anmeldung mit Google</a>
        {% endif %}
      </div>
    {% else %}
    <div class="_alert _alert-danger">
      <p>Aus Sicherheitsgründen erfordern wir eine kürzliche Anmeldung auf diesem Gerät, bevor die Anmeldedaten verändert werden können.</p>
      <p>Bitte bestätige, dass du Zugriff auf dieses Benutzerkonto hast, indem du dich <a href="/auth/reset">ab- und wieder anmeldest</a>.</p>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
