<div class="js--modpost-home">
  <h3>&diams;-Tools</h3>
  <p class="p-lead">Was willst du mit dieser {{ "Frage" if type == "post" else "Antwort" }} machen?</p>
  <table class="table">
    <tr>
      <th>Funktion</th>
      <th>Beschreibung</th>
      <th></th>
    </tr>
    <tr>
      <th>Sperren</th>
      <td>Gesperrte Beiträge können nicht bearbeitet, kommentiert, bewertet oder sonstwie verändert werden. Optional kann eine Nachricht angeheftet werden.</td>
      <td>
        <button class="_btn _btn--primary">Weiter &raquo;</button>
      </td>
    </tr>
    <tr>
      <th>Anmerken</th>
      <td>Eine Nachricht an den Beitrag anheften.</td>
      <td>
        <button class="_btn _btn--primary">Weiter &raquo;</button>
      </td>
    </tr>
    <tr>
      <th>In Wiki umwandeln</th>
      <td>Wiki-Beiträge können von alle Benutzern bearbeitet werden und geben keine Reputation</td>
      <td>
        <button class="_btn _btn--primary">Ausführen</button>
      </td>
    </tr>
    <tr>
      <th>Kommentare entfernen</th>
      <td>Alle Kommentare entfernen. Es können einzelne Kommentare im Anschluss wiederhergestellt werden.</td>
      <td>
        <button class="_btn _btn--primary">Ausführen</button>
      </td>
    </tr>
    <tr>
      <th>Meldungen anzeigen</th>
      <td>Alle Meldungen zu diesem Beitrag anzeigen.</td>
      <td>
        <button class="_btn _btn--primary">Gehe zu</button>
      </td>
    </tr>
  </table>
</div>
