{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/_unit-nav.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">{{ _('Video') }}</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">{{ _('unveröffentlicht') }}</span>
        {% else %}
          <span class="_badge _badge-s-success">{{ _('live') }}</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">{{ _('Bearbeiten') }}</a>
        {% endif %}
      </div>
    </div>
     <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">
     {% if data.getJSON().platform == "_link" %}
     <video src="{{ data.getJSON().embedcode }}" controls></video>
     {% else %}
     <div data-delaydio data-delaydio-platform="{{ data.getJSON().platform }}" data-delaydio-embedcode="{{ data.getJSON().embedcode }}" data-delaydio-lang="{{ language }}">
     </div>
     <script src="/static/js/delaydio.js" charset="utf-8"></script>
     {% endif %}
     <div class="_alert _alert-warning">
       <p><strong>{{ _('Disclaimer:') }}</strong>
       {{ _('Dieses Video ist eventuell urheberrechtlich geschützt. &pi;-Learn übernimmt keine Verantwortung für unangemessene Inhalte. Melden Sie unangebrachte Inhalte oder Urheberrechtsverstöße im <a href="%(helpdesk_link)s">Helpdesk</a> und wir werden uns darum kümmern.', helpdesk_link='/helpdesk') }}</p>
     </div>
   </div>
 </div>
</div>
{% endblock %}
