{% set needs_mathjax=True %}
{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/_unit-nav.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">{{ _('Inhalte') }}</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">{{ _('unveröffentlicht') }}</span>
        {% else %}
          <span class="_badge _badge-s-success">{{ _('live') }}</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">{{ _('Bearbeiten') }}</a>
        {% endif %}
      </div>
    </div>
     <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">
     {% for i in data.getJSON() %}
      {% if i.type == "heading" %}
        <h1>{{ i.data.text }}</h1>
      {% elif i.type == "subheading" %}
        <h2>{{ i.data.text }}</h2>
      {% elif i.type == "subsubheading" %}
        <h3>{{ i.data.text }}</h3>
      {% elif i.type == "text" %}
        {{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}
      {% elif i.type == "separator" %}
        <hr>
      {% elif i.type == "warnbox" %}
        <div class="_alert _alert-warning">{{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}</div>
      {% elif i.type == "quote" %}
        <blockquote>{{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}</blockquote>
      {% elif i.type == "image" %}
      <div>
      <figure class="{{ 'd-ib push-right' if i.data.align == 'right' or i.data.align == 'push-right' }}{{ 'd-ib push-left' if i.data.align == 'push-left' }}">
        <img src="{{ i.data.source }}" alt="{{ i.data.description }}">
        {% if i.data.description %}
        <figcaption class="f-bold" role="contentinfo">{{ i.data.description }}</figcaption>
        {% endif %}
        {% if i.data.legal %}
        <figcaption role="note">{{ i.data.legal }}</figcaption>
        {% endif %}
      </figure>
      {% if i.data.align == 'right' %}
      <div class="push-reset">&nbsp;</div>
      {% endif %}
      </div>
      {% endif %}
     {% endfor %}
     </div>
   </div>
 </div>
{% endblock %}
