{% set needs_mathjax=True %}
{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      <h2>Menü</h2>
      <nav class="_nav _nav-v">
        {% for element in course.getMenu() if element.availible %}
        {% if element.id == data.id %}
        <a href="/c/{{ course.id }}/u/{{ element.id }}" class="-active">{{ element.title }}</a>
        {% else %}
        <a href="/c/{{ course.id }}/u/{{ element.id }}">{{ element.title }}</a>
        {% endif %}
        {% if element.children %}
        <nav class="_nav _nav-v">
          {% for child in element.children if child.availible %}
           {% if child.id == data.id %}
           <a href="/c/{{ course.id }}/u/{{ child.id }}" class="-active">{{ child.title }}</a>
           {% else %}
           <a href="/c/{{ course.id }}/u/{{ child.id }}">{{ child.title }}</a>
           {% endif %}
          {% endfor %}
        </nav>
        {% endif %}
        {% endfor %}
      </nav>
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">Informationen</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">unveröffentlicht</span>
        {% else %}
          <span class="_badge _badge-s-success">live</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">Bearbeiten</a>
        {% endif %}
      </div>
    </div>
     <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">
     {% for i in data.getJSON() %}
      {% if i.type == "heading" %}
        <h1>{{ i.data.text }}</h1>
      {% elif i.type == "subheading" %}
        <h2>{{ i.data.text }}</h2>
      {% elif i.type == "subsubheading" %}
        <h3>{{ i.data.text }}</h3>
      {% elif i.type == "text" %}
        {{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}
      {% elif i.type == "separator" %}
        <hr>
      {% elif i.type == "warnbox" %}
        <div class="content-warning">{{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}</div>
      {% elif i.type == "quote" %}
        <blockquote>{{ (i.data.text.replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}</blockquote>
      {% elif i.type == "image" %}
        <a href="{{ i.data.source }}"><img src="{{ i.data.source }}"></a>
      {% elif i.type == "wiki-image" %}
        <div class="push-right p1 b-r1 m1 bg-dark-ll b1s b-dark-l" style="max-width: 400px">
          <a href="{{ i.data.source }}"><img src="{{ i.data.source }}"></a>
        </div>
      {% endif %}
     {% endfor %}
     </div>
   </div>
 </div>
{% endblock %}
