{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/_unit-nav.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">{{ _('Pinnwand') }}</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">{{ _('unveröffentlicht') }}</span>
        {% else %}
          <span class="_badge _badge-s-success">{{ _('live') }}</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">{{ _('Bearbeiten') }}</a>
        {% endif %}
      </div>
    </div>
    <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">

       {% if not post %}
        <p>{{ _('Es wurde noch kein Beitrag für dieses Pinboard ausgewählt.') }}</p>
       {% else %}
         <div class="m1 p5 fs-subheading b1s b-dark-ll b-r2">
           {{ post.getContent() }}
         </div>
         {% if post.isClosed() %}
           <div class="_alert _alert-warning">
             {{ post.getClosureWarning()|safe }}
           </div>
         {% endif %}
         {% set aw = post.getAnswers() %}
         <h2>{{ _('Rückmeldungen') }}</h2>
         <div class="grid">
         {% for answer in aw if answer.mayBeSeen(user) %}
         <div class="column6 column12__sm">
           <div class="_card{% if answer.getScore() > 5 %} s3{% elif answer.getScore() < -2 %} o5{% endif %}{% if post.isDeleted() or answer.isDeleted() %} _card-danger o3{% endif %}">
             <div class="_card-content">
               <div class="p3 fs-base3">
                 {{ answer.getContent() }}
               </div>
             </div>
             <div class="_card-footer">
               {% if course.getCourseRole(user) >= 3 %}
                 <div class="p2">{{ _('Zustimmung:') }} {{ answer.getScore() }}</div>
               {% else %}
               <div class="horizontal-list">
                 {% set the_vote = answer.getUserVote(user) %}
                 <button class="_btn _btn--primary {{ '-active' if the_vote == 1 }}" onclick="vote({{ answer.id }}, 1);" data-vote="{{ answer.id }}:1"><i class="fa fa-thumbs-up"></i></button>
                 <button class="_btn _btn--primary {{ '-active' if the_vote == -1 }}" onclick="vote({{ answer.id }}, -1);" data-vote="{{ answer.id }}:-1"><i class="fa fa-thumbs-down"></i></button>
               </div>
               {% endif %}
             </div>
           </div>
         </div>
         {% endfor %}
         </div>
         {% if not course.getCourseRole(user) >= 3 and user.isLoggedIn() %}
         <h2>{{ _('Kommentar hinzufügen') }}</h2>
         <p>{{ _('Die bisherigen Antworten drücken nicht deine Meinung aus? Du möchtest noch etwas hinzufügen?') }}</p>
         <p>{{ _('Schreibe selber einen Kommentar:') }}</p>
         <input id="answer" class="form" maxlength="280">
         <button class="js--submit _btn _btn--primary">{{ _('Absenden') }}</button>
         {% endif %}
       {% endif %}
   </div>
 </div>

<script>

    $(".js--submit").on("click", function() {
      $.ajax({
        url: "/c/{{ course.id }}/u/{{ data.id }}/submit",
        method: "POST",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ "comment": $("#answer").val() }),
        success: function( r ) {
          $("#answer").val("");
          window.location.reload();
        }
      });
  })

  function vote(post, type) {
    type = type == 1 ? "up" : "down";
    $.ajax({
      url: "/forum/answer-"+post+"/vote",
      method: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({"type": type}),
      success: function( r ) {
        if(r.result == "success") {
          if(r.update.vote == 1) {
            $("[data-vote='" + post + ":1']").addClass("-active");
            $("[data-vote='" + post + ":-1']").removeClass("-active");
          } else if (r.update.vote == 0) {
            $("[data-vote='" + post + ":1']").removeClass("-active");
            $("[data-vote='" + post + ":-1']").removeClass("-active");
          } else if (r.update.vote == -1) {
            $("[data-vote='" + post + ":1']").removeClass("-active");
            $("[data-vote='" + post + ":-1']").addClass("-active");
          }
        } else {
          PiJS.warnbox.error(r.error, $this.parent());
        }
      }
    });
  }
</script>
{% endblock %}
