{% set needs_mathjax=True %}
{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/_unit-nav.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">{{ _('Umfrage') }}</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">{{ _('unveröffentlicht') }}</span>
        {% else %}
          <span class="_badge _badge-s-success">{{ _('live') }}</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">{{ _('Bearbeiten') }}</a>
        {% endif %}
      </div>
    </div>
     <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">
       <div style="max-width: 800px; margin: 0 auto;">
        {% include "survey/show.html" %}
       </div>
     {% if data.isDisabled() %}</div>{% endif %}
   </div>
 </div>
</div>
{% endblock %}
