{% set needs_mathjax=True %}
{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "contents", user) }}

<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/_unit-nav.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
    <div class="_headbar-item">
      <div class="_headbar-item-name">{{ data.getTitle() }}</div>
      <div class="_headbar-item-type">Übersicht</div>
      <div class="_headbar-item-status">
        {% if data.isDisabled() %}
          <span class="_badge _badge-s-danger">unveröffentlicht</span>
        {% else %}
          <span class="_badge _badge-s-success">live</span>
        {% endif %}
      </div>
      <div class="_headbar-item-sep"></div>
      <div class="_headbar-item-action">
        {% if user.isMod() or course.getCourseRole(user) >= 3 %}
        <a href="/c/{{ course.id }}/edit/unit/{{ data.id }}" class="_btn _btn-xs _btn--primary">Bearbeiten</a>
        {% endif %}
      </div>
    </div>
     <div class="{% if data.isDisabled() %}bg-danger-lll{% endif %} p3">
       <h1>{{ data.getTitle() }}</h1>
        {{ (data.getJSON().replace("\n", "\0")|striptags|markdown).replace("\0", "\n") }}
       <h2>Übersicht</h2>
       {% if data.getDetail("parent") != 0 %}
       {% if user.isMod() or course.getCourseRole(user) >= 3 %}
       <div class="fs-base3 f-bold col-danger-dd">Dieses Modul ist in der unteren Ebene und kann daher keine Kindelemente enthalten.</div>
       {% endif %}
       {% else %}
       <table class="table" style="width: 100%">
         <tr>
           <th>Typ</th>
           <th colspan="3">Modul</th>
         </tr>
         {% for element in course.getMenu() if element.availible %}
           {% if element.id == data.id and element.children %}
             {% for child in element.children if child.availible %}
             <tr>
                 {% if child.type == "info" %}
                 <td>Info</td>
                 {% elif child.type == "extvideo" %}
                 <td>Video</td>
                 {% elif child.type == "quiz" %}
                 <td>Quiz</td>
                 {% elif element.type == "syllabus" %}
                 <td>Übersicht</td>
                 {% elif child.type == "survey" %}
                 <td>Umfrage</td>
                 {% elif child.type == "pinboard" %}
                 <td>Pinwand</td>
                 {% else %}
                 <td></td>
                 {% endif %}
                 <td colspan="3" style="min-width: 80%"><a href="/c/{{ course.id }}/u/{{ child.id }}">{{ child.title }}</a></td>
               </tr>
             {% endfor %}
           {% endif %}
         {% endfor %}
         </table>
       {% endif %}
     </div>
   </div>
 </div>
{% endblock %}
