{% extends "layout_new.html" %}
{% block body %}
<div class="p2 grid">
  <div class="column3">
    <div class="_card">
      <div class="_card-content">
        <div class="_nav _nav-v">
          <a href="/legal/terms">Nutzungsbedingungen</a>
          <a href="/legal/privacy">Datenschutz</a>
          <a href="/legal/warranty">Haftung</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column9 p6">
    <p class="p-lead">Bitte wähle ein Dokument aus, um es anzuzeigen.</p>
  </div>
</div>
{% endblock %}
