{% extends "layout_new.html" %}
{% block body %}
<div class="p2 grid">
  <div class="column3">
    <div class="_card">
      <div class="_card-content">
        <div class="_nav _nav-v">
          <a href="/legal/terms">Nutzungsbedingungen</a>
          <a href="/legal/privacy" class="-active">Datenschutz</a>
          <a href="/legal/warranty">Haftung</a>
        </div>
      </div>
    </div>
    <div class="content-box my2 mx1 anchor-dark">
      <h4>Übersicht</h4>
      <ol>
        <li><a href="#why-save">Warum speichert ihr meine Daten</a></li>
        <li><a href="#which-data">Welche Daten speichert ihr von mir?</a></li>
        <li><a href="#who-sees">Wer sieht meine Daten?</a></li>
        <li><a href="#how-long">Wie lange werden meine Daten gespeichert?</a></li>
        <li><a href="#how-protect">Wie schützt ihr meine Daten?</a></li>
        <li><a href="#external-providers">Externe Anbieter: YouTube, Vimeo, Google, Matomo</a></li>
        <li><a href="#auto-decision">Werden aufgrund meiner Daten automatische Entscheidungen für mich getroffen?</a></li>
        <li><a href="#your-rights">Was kann ich tun, wenn ich eine Frage habe/mit der Speicherung nicht einverstanden bin/ein anderes Problem habe?</a></li>
      </ol>
    </div>
  </div>
  <div class="column9 p6 fs-base3">
    <h1 class="fs-display2">&pi;-Learn Datenschutzvereinbarung</h1>
    <p class="p-lead">Bitte lies diese Datenschutzhinweise <b>vor der erstmaligen Verwendung von &pi;-Learn</b> sorgfältig durch.</p>
    <p>Persönliche Daten können gefährlich sein!</p>
    <p>Sie können dazu verwendet werden, Personen zu schaden, zu manipulieren oder sogar um Wahlen zu beeinflussen.</p>
    <p>Daher bemühen wir uns um Datenschutz und haben diese Datenschutzhinweise auch in einfacher, verständlicher Sprache formuliert.</p>

    <h2 id="why-save">Warum speichert ihr meine Daten?</h2>
    <p>Wir speichern persönliche Daten von Dir aus drei Gründen:</p>
    <ol>
      <li>
        <p>Wir speichern einige Daten, damit wir Dir unsere Dienste anbieten können.</p>
        <p class="fs-base1">Diesen musst du zustimmen, wenn du &pi;-Learn nutzen möchtest.</p>
      </li>
      <li>
        <p>Wir speichern einige Daten, damit wir &pi;-Learn verbessern können oder um Dir mehr Komfort anbieten zu können.</p>
        <p class="fs-base1">Diese Daten speichern standardmäßig, du kannst aber widersprechen. Dann werden aber unter Umständen einige Komfort-Funktionen fehlen.</p>
      </li>
      <li>
        <p>Wir speichern einige Daten, weil du uns diese freiwillig gegeben hast, z.B. für soziale Funktionen.</p>
        <p class="fs-base1">Diese Daten speichern wir standardmäßig nicht. Du kannst sie uns geben, wenn du möchtest. Du kannst jederzeit diese Daten bearbeiten oder löschen.</p>
      </li>
    </ol>
    <h2 id="which-data">Welche Daten speichert ihr von mir?</h2>
    <p>Folgende Daten speichern wir, damit wir unsere Dienste anbieten können:</p>
    <ul>
      <li>deine primäre E-Mail-Adresse</li>
      <li>deine Anmeldedaten</li>
      <li>deinen Benutzernamen</li>
      <li>welche Kurse du besucht hast</li>
    </ul>
    <p>Folgende Daten speichern wir zur Verbesserung von &pi;-Learn:</p>
    <ul>
      <li>eine anonymisierte IP-Adresse (die letzten beiden Blöcke werden entfernt)</li>
      <li>dein Verhalten auf &pi;-Learn (welche Seiten besucht, wohin geklickt, woher gekommen, wohin gegangen)</li>
      <li>Bei Fehlermeldungen werden wir benachrichtigt und erhalten dabei deine IP-Adresse oder deine Benutzer-ID</li>
      <li>deine Antworten zu Umfragen und anderen Feedback-Formen</li>
    </ul>
    <p>Folgende Daten speichern wir, da Du sie uns freiwillig gegeben hast:</p>
    <ul>
      <li>Profil-Informationen (wie Wohnort, Twitter-Konto, Webseite, Profiltext, Profilbild, ...)</li>
      <li>deine Benutzerkonto-Einstellungen</li>
    </ul>
    <h2 id="who-sees">Wer sieht meine Daten?</h2>
    <p>Die oben genannten Daten sind im Allgemeinen geheim, es sei denn, es handelt sich um folgende Daten, die an Dritte Benutzer weitergegeben werden können und werden:</p>
    <ul>
      <li>Dein Benutzername ist von jedem sichtbar.</li>
      <li>Deine Antworten zu Umfragen und anderen Feedback-Formen sind teilweise öffentlich und teilweise für die Kursanbietenden einsehbar.</li>
      <li>Deine Profil-Informationen sind öffentlich verfügbar.</li>
    </ul>
    <p>Wir geben keine personenbezogene Daten an externe Anbieter weiter. Deine Nutzungsdaten werden auf einem zweiten Server gespeichert, auf den ausschließlich das &pi;-Learn Zugriff hat.</p>
    <p>Bis auf die Nutzungsdaten haben Community-Moderatoren Lesezugriff auf alle Daten. Der Zugriff auf nichtöffentliche Daten wird protokolliert. Die Moderatoren sind über eine Moderatoren-Vereinbarung zum Datenschutz verpflichtet.</p>
    <h2 id="how-long">Wie lange werden meine Daten gespeichert?</h2>
    <p>Deine Daten werden grundsätzlich so lange gespeichert, wie nötig. Daten, die an ein Benutzerkonto gebunden sind, werden gelöscht, wenn das Benutzerkonto gelöscht wird.</p>
    <p>In vereinzelten Ausnahmen werden Kontodaten nicht endgültig gelöscht, wenn ein Benutzerkonto wiederholt und schwerwiegend gegen die Regeln verstoßen hat. Dies dient unserem Schutz (Stichwort: berechtigtes Interesse)</p>
    <p>Es kann von Seiten &pi;-Learns nicht ausgeschlossen werden, dass einzelne Daten auch nach der Löschung von der Plattform immer noch in Backups, Daten-Dumps oder in den Archiven unterschiedlicher Suchmaschinen verfügbar sind.</p>
    <h2 id="how-protect">Wie schützt ihr meine Daten?</h2>
    <p>Deine Daten schützen wir durch verschiedene Maßnahmen:</p>
    <ul>
      <li>Der Zugriff auf den Hauptserver ist beschränkt. Nur Administratoren ist es möglich, auf den Server zuzugreifen. Nur das &pi;-Learn-Team hat physischen Zugriff auf den Server.</li>
      <li>Der Zugriff von Moderatoren wird protokolliert und ist an eine Vereinbarung gebunden.</li>
      <li>Wir nutzen datenschutzfreundliche Alternativen, wie z.B. Matomo, für die Auswertung der Seitennutzung.</li>
    </ul>
    <h2 id="external-providers">Externe Anbieter: YouTube, Vimeo, Google, Matomo</h2>
    <p>&pi;-Learn nutzt verschiedene externe Anbieter, mit teils unterschiedlichen Datenschutzstandards.</p>
    <p>&pi;-Learn nutzt YouTube und Vimeo als Anbieter für Videos, die in Kursen eingebunden werden können. Zum Schutz deiner Daten, laden wir die Videos erst mit Deiner Genehmigung vom jeweiligen Server und verweisen an der entsprechenden Stelle auf die Datenschutzvereinbarungen:</p>
    <ul>
      <li><a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a> (YouTube)</li>
      <li><a href="https://vimeo.com/privacy">https://vimeo.com/privacy</a> (Vimeo)</li>
    </ul>
    <p>&pi;-Learn bietet die Anmeldung über Google-Konten an. Dabei können (und werden wahrscheinlich) personenbezogene Daten von Google gespeichert. Durch die Wahl eines solchen Anmeldedienstes erklärst Du dich mit den Datenschutzhinweisen von Google einverstanden:</p>
    <ul>
      <li><a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a></li>
    </ul>
    <p>&pi;-Learn nutzt Matomo um statistische Auswertungen zu erhalten. Der Matomo-Server wird von &pi;-Learn gehostet und unterliegt vollständig dieser Datenschutzvereinbarung.</p>
    <h2 id="auto-decision">Werden aufgrund meiner Daten automatische Entscheidungen für mich getroffen?</h2>
    <p>Auf der Startseite von &pi;-Learn werden bis zu drei Kurse empfohlen. Diese ermitteln sich zufällig aufgrund Deiner bisherigen Wahl von Kursen, sofern genug Daten vorliegen.</p>
    <p>Es wird dabei folgender Algorithmus angewendet:</p>
    <p><i>Finde drei zufällige, freigeschaltete Kurse, die in einem Thema sind, in dem Du Dich in mindestens zwei Kurse eingeschrieben hast.</i></p>
    <p>&pi;-Learn nutzt ein Gamification-System (Reputation und Abzeichen). Die Reputation leitet sich direkt aus den Bewertungen anderer Benutzer ab. Abzeichen werden automatisch vergeben, wenn bestimmte numerische Kriterien erfüllt werden.</p>
    <p>Ansonsten findet keine automatische Entscheidungsfindung basierend auf Deinen Daten statt.</p>
    <h2 id="your-rights">Was kann ich tun, wenn ich eine Frage habe/mit der Speicherung nicht einverstanden bin/ein anderes Problem habe?</h2>
    <p>Als Betroffener hast du folgende Rechte gegenüber &pi;-Learn:</p>
    <ul>
      <li><p>Du kannst uns auffordern, Dir alle Deine Daten zuzusenden. Auf Wunsch müssen diese Daten in einem frei verfügbaren, maschinenlesbaren Format zugesendet werden (z.B. JSON)</p></li>
      <li><p>Du kannst uns auffordern, fehlerhafte Daten von Dir zu korrigieren.</p></li>
      <li>
        <p>Du kannst uns auffordern, Deine Daten ganz oder teilweise zu löschen.</p>
        <p class="fs-base1">Unter Umständen, kannst Du dann &pi;-Learn nicht weiter benutzen. Sollte dies der Fall sein, werden wir dich davor darauf hinweisen und mögliche Alternativen suchen.</p>
      </li>
      <li>
        <p>Du kannst der Speicherung oder Verarbeitung Deiner Daten widersprechen.</p>
        <p class="fs-base1">Unter Umständen, kannst Du dann &pi;-Learn nicht weiter benutzen. Sollte dies der Fall sein, werden wir dich davor darauf hinweisen und mögliche Alternativen suchen.</p>
      </li>
      <li>
        <p>Du kannst dich bei den zuständigen Aufsichtsbehörden für Datenschutz über uns beschweren. Die geografisch für uns zuständige Behörde wäre:</p>
        <p>Landesbeauftragte für Datenschutz und Informationsfreiheit Berlin</p>
      </li>
    </ul>
    <p>Wir weisen an dieser Stelle darauf hin, dass wir bemüht sind, Deine Anfragen schnellst- und bestmöglich zu beantworten. Wenn du unzufrieden bist, kannst Du Dich auch jederzeit an uns wenden und versuchen, mit uns zu reden.</p>
    (Fassung vom 12. August 2019)
  </div>
</div>
{% endblock %}
