{% extends "layout_new.html" %}
{% block body %}
<div class="p2 grid">
  <div class="column3">
    <div class="_card">
      <div class="_card-content">
        <div class="_nav _nav-v">
          <a href="/legal/terms" class="-active">Nutzungsbedingungen</a>
          <a href="/legal/privacy">Datenschutz</a>
          <a href="/legal/warranty">Haftung</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column9 p6 fs-base3">
    <h1 class="fs-display2">&pi;-Learn Nutzungsbedingungen</h1>
    <p class="p-lead">Bitte lies diese Nutzungsbedingungen <b>vor der erstmaligen Verwendung von &pi;-Learn</b> sorgfältig durch.</p>
    <p><strong>Wichtig:</strong> Auch das Lesen, Herunterladen oder Einbetten von Inhalten von &pi;-Learn zählt als Verwendung von &pi;-Learn.</p>
    <p><strong>Wichtig:</strong> Einzelne Klauseln dieser Vereinbarung wirken auch dann, wenn Du kein Konto auf &pi;-Learn hast oder Du dein Konto gelöscht hast.</p>
    <p>Mit der Verwendung (u.a., aber nicht beschränkt auf, Lesen, Herunterladen, Einbetten, Bearbeiten oder Erstellen von Inhalten und Erstellung eines Benutzerkontos) von &pi;-Learn erklärst du dich mit diesen Nutzungsbedingungen und unserer Datenschutzvereinbarung einverstanden.</p>
    <p>&pi;-Learn kann Dir für jeden legalen Zweck, auch für kommerzielle Zwecke, genutzt werden, solange diese Bedingungen erfüllt werden:</p>
    <ul>
      <li><p>Du erklärst dich damit einverstanden, dass alle deine einmal hochgeladenen Inhalte <b>unwiderruflich</b> unter der Creative Commons BY SA-Lizenz auf &pi;-Learn veröffentlicht werden können.</p><p class="fs-base1">Du kannst jedoch nach der Creative Commons-Lizenz verlangen, dass dein Name vom Werk entfernt wird, wenn du mit den Änderungen oder dem Kontext nicht einverstanden bist.</p></li>
      <li><p>Du nutzt die Inhalte von &pi;-Learn nur im Einklang mit den Bedingungen der Creative Commons BY SA-Lizenz, soweit und solange Du keine exklusive Lizenz des Urheber erhalten hast.</p></li>
      <li><p>Du nimmst zur Kenntnis und akzeptierst, dass &pi;-Learn keine Haftung für seine Inhalte übernimmt, insbesondere nicht in Bezug auf Nützlichkeit, Gefahrenfreiheit oder Rechtmäßigkeit.</p></li>
      <li><p>Du wirst &pi;-Learn nicht für illegale Zwecke verwenden, keine illegalen, beleidigenden, expliziten oder anderweitig unangebrachten Inhalte hochladen, auf &pi;-Learn nur mit Genehmigung der Betreiber Werbung veröffentlichen und bei allen deinen Beiträgen das Urheberrecht einhalten.</p></li>
      <li><p>Du hältst dich an die Community-Richtlinien von &pi;-Learn. Du umgehst keine automatisch oder manuell errichteten Beschränkungen gegen dich.</p></li>
      <li><p>&pi;-Learn hat das Recht, diese Vereinbarung und seine Dienste jederzeit einzustellen. &pi;-Learn kann diese Vereinbarung jederzeit ändern, muss aber alle Benutzer mit mindestens einem Monat Vorlauf darüber informieren und ihnen die Möglichkeit geben, ihr Konto zu terminieren.</p></li>
    </ul>
    <p>Wenn Du diese Bedingungen nicht akzeptierst, kannst und darfst du &pi;-Learn nicht verwenden.</p>
    <p>Wenn du gegen die Bedingungen verstößt, kann Dir der Zugriff auf &pi;-Learn ganz oder teilweise für eine eingeschränkte oder auf unbestimmte Zeit unterbunden werden.</p>
    <p>Unsere <a href="/legal/privacy">Datenschutzhinweise</a> und <a href="/legal/warranty">Hinweise zur Haftung</a> sind ebenfalls Teil dieser Vereinbarung und sollten ebenfalls sorgfältig durchgelesen werden.</p>
    (Fassung vom 12. August 2019)
  </div>
</div>
{% endblock %}
