{% extends "layout_new.html" %}
{% block body %}
<div class="p2 grid">
  <div class="column3">
    <div class="_card">
      <div class="_card-content">
        <div class="_nav _nav-v">
          <a href="/legal/terms">Nutzungsbedingungen</a>
          <a href="/legal/privacy">Datenschutz</a>
          <a href="/legal/warranty" class="-active">Haftung</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column9 p6 fs-base3">
    <h1 class="fs-display2">&pi;-Learn Haftung</h1>
    <p class="p-lead">Diese Hinweise beschränken die Haftung von π-Learn und sollten <b>vor der erstmaligen Verwendung von &pi;-Learn</b> sorgfältig durchgelesen werden.</p>
    <p>π-Learn ist eine Community-gesteuerte Open Learning-Plattform. Es widerspricht dem Sinn einer solchen Plattform und ist auch praktisch nicht möglich, alle Inhalte vor der Veröffentlichung auf Rechtssicherheit oder Korrektheit zu überprüfen.</p>
    <p><strong>π-Learn übernimmt keine Haftung für seine Inhalte, insbesondere nicht in Bezug auf Nützlichkeit, Gefahrenfreiheit oder Rechtmäßigkeit.</strong></p>
    <p>Die Befolgung von Anleitungen, die auf π-Learn veröffentlicht wurden, geschieht ausschließlich auf eigene Gefahr.</p>
    <p>π-Learn haftet auch nicht für wirtschaftliche, rechtliche oder andere Nachteile jeglicher Art, die durch die Benutzung der Inhalte geschehen.</p>
    <p>π-Learn haftet auch nicht für die Ziele von Verweisen. Webseiten können verschwinden, sich verändern, ausgetauscht werden o.ä. Es ist nicht möglich dies zu jedem Zeitpunkt zu kontrollieren. Ein Verweis auf eine dritte Seite durch π-Learn impliziert keine Zustimmung oder Billigung der Inhalte dieser dritten Seite.</p>
    <p>π-Learn übernimmt auch keine Haftung für eventuelle Rechtsverstöße seiner Benutzer. Wir werden jedoch auf Hinweis Inhalte von der Webseite entfernen, die eine Rechtsverletzung darstellen.</p>
    (Fassung vom 12. August 2019)
  </div>
</div>
{% endblock %}
