.status-open {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #0d0;
  color: white;
  font-weight: bold;
  margin: 3px;
}
.status-closed {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #aaa;
  color: white;
  font-weight: bold;
  margin: 3px;
}

.status-norepro {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #d00;
  color: white;
  font-weight: bold;
  margin: 3px;
}
.status-deferred {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ddd;
  color: black;
  font-weight: bold;
  margin: 3px;
}
.split-screen main:first-of-type {
  width: calc(100% - 250px);
}
.split-screen aside:last-of-type {
  max-width: 250px;
  padding: 4px;
}


.big-selection-button {
  padding: 10px;
  margin: 3px;
  font: inherit;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .2s ease;
  color: white;
  background-color: #86a5ee;
  border-right: 2px solid #3665ae;
  border-bottom: 3px solid #3665ae;
}
.big-selection-button h4, .big-selection-button p {
  margin: 1px 0;
}
.big-selection-button:hover {
    background-color: #7993ce;
}
.big-selection-button:active {
  border-right: 0px solid #3665ae;
  border-bottom: 1px solid #3665ae;
  position: relative;
  top: 2px;
  margin-bottom: 5px;
}
