{% extends "layout_new.html" %}
{% block meta_description %}{{ data.getExcerpt() }}{% endblock %}
{% block body %}
<div class="_headbar-course{% if not data.isGiveable() %} -with-warnbar{% endif %}" id="course-bar">
    <div class="_headbar-course-name">Thema: {{ data.getTitle() }}</div>
    <div class="_headbar-course-byline">
      {{ data.getExcerpt() }}
    </div>
    {% if user.isMod() %}
    <div class="_headbar-course-navigation">
      <a href="/t/{{ data.getName() }}/edit" class="_btn">Thema bearbeiten</a>
    </div>
    {% endif %}
</div>
<div class="p2">
  <h1 class="fs-subtitle">Kurse mit dem Thema {{data.getTitle()}}</h1>
  <div class="_list">
   {% for c in courses %}
   <a class="_list-item fs-base1 _list-item-keepcolor" href="/c/{{ c.id }}">
       <span class="d-b mb1 fs-base3">{{ c.getTitle() }}</span>
       <span class="d-b col-black">{{ c.getShortdesc() }}</span>
   </a>
   {% endfor %}
  </div>
</div>
{% endblock %}
