{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
<div class="tabination">
  <ul>
    <li><a href="/courses">Übersicht</a></li>
    <li><a href="/course/search">Suchen</a></li>
    <li class="active"><a href="/topics">Themen</a></li>
    <li><a href="/course/propose">Vorschlagen</a></li>
  </ul>
</div>
    <h2>Themen</h2>

    <p><strong>Themen</strong> sind Kategorien für Kurse. Jeder Kurs gehört in genau ein Thema.</p>
      <div class="course-list">
        {% for t in topic.getTrueAll() if (user.isMod() or t.isGiveable()) %}
        {% if not t.isGiveable() %}<div class="deleted-section">{% endif %}
        <div class="course-list-item">
           <div class="headline">Thema: <a href="/t/{{ t.getName() }}">{{ t.getTitle() }}</a></div>
           <div class="shortdesc">
              <p>{{ t.getExcerpt() }}</p>
           </div>
           <div class="action">
             <a href="/t/{{ t.getName() }}/c">Kurse anzeigen</a>
           </div>
        </div>
        {% if not t.isGiveable() %}</div>{% endif %}
        {% endfor %}
      </div>

{% endblock %}
