{% extends "layout_new.html" %}
{% block body %}
<div class="_nav _nav-t _nav-right">
  <a href="/courses">Übersicht</a>
  <a href="/course/search">Suchen</a>
  <a href="/topics" class="-active">Themen</a>
  <a href="/course/propose">Vorschlagen</a>
</div>
<h1>Themen</h1>

<p><strong>Themen</strong> sind Kategorien für Kurse. Jeder Kurs gehört in genau ein Thema.</p>

<div class="grid -no-center">
  {% for t in topic.getTrueAll() if (user.isMod() or t.isGiveable()) %}
  <div class="colbox275 p3{% if not t.isGiveable() %} bg-danger-lll{% endif %}">
    <a href="/t/{{ t.getName() }}" class="_badge _badge-unit fs-base3">{{ t.getTitle() }}</a>
    <div class="p1 fs-base2">{{ t.getExcerpt() }}</div>
    <div class="fs-base1"><div class="_link-list"><a href="/t/{{ t.getName() }}">Kurse</a> <a href="/course/search?topic={{ t.id }}">Durchsuchen</a> {% if user.isMod() %}<a href="/t/{{ t.getName() }}/edit">Bearbeiten</a>{% endif %}</div></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
