{% set pattern="individual" %}
{% extends "layout_new.html" %}
{% block body %}

<div class="container single-fluid p0">
  <div class="_banner _banner--primary _banner-with-gradien p8 p5__sm">
      <div class="fs-display1 push-left">{{ tg.name }}</div>
      <div class="_btnlist _btnlist-close push-right">
        <a class="_btn _btn-on-dar _btn-outline _btn--primary" href="{{ url_for('teach.dashboard', team=tg.token) }}">Dashboard</a>
        <a class="_btn _btn-on-dar _btn-outline _btn--primary" href="{{ url_for('teach.assignments', team=tg.token) }}">Aufgaben</a>
        <a class="_btn _btn-on-dar _btn-outline _btn--primary -active" href="{{ url_for('teach.members', team=tg.token) }}">Mitglieder</a>
        <a class="_btn _btn-on-dar _btn-outline _btn--primary" href="{{ url_for('teach.admin', team=tg.token) }}">Einstellungen</a>
      </div>
      <div class="push-reset"></div>
  </div>
  <div class="p8">
    <h1 class="h-underlined">Mitglieder</h1>
    {% if not tg.is_demo or members|length < 5 %}
      <a class="_btn _btn--primary push-right" href="{{ url_for('teach.members', team=tg.token, invite=1) }}">Einladen</a>
      <div class="push-reset"></div>
    {% endif %}
    <table class="meta-table" style="width: 100%;">
      <thead>
        <tr>
          <th>Mitglied</th>
          <th>aktiv?</th>
          <th>Admin?</th>
          <th>Aktionen</th>
        </tr>
      </thead>

      <tbody>

      {% for member in members %}
        <tr class="{{ '-inactive' if not member.active }}">
          <td class="fs-base3 anchor-dark"><a href="{{ url_for('user_page', id=member.user_id) }}">{{ member.shown_name }}</a></td>
          <td class="js--active">{{ _("ja") if member.active else _("nein") }}</td>
          <td class="js--admin">{{ _("ja") if member.is_admin else _("nein") }}</td>
          <td class="{{ '-active' if not member.active }}">
            <div class="_btnlist">
              <button class="_btn _btn-xs _btn--primary _btn-outline js--role-change-btn" data-member-id="{{ member.user_id }}">Rolle ändern</button>
              <button class="_btn _btn-xs _btn-danger _btn-outline js--remove-btn" data-member-id="{{ member.user_id }}" {{ 'disabled' if member.active }}>Entfernen</button>
            </div>
          </td>
        </tr>
      {% endfor %}

      </tbody>

    </table>
  </div>
</div>


<div id="team-data" class="hide" data-id="{{ tg.id }}" data-token="{{ tg.token }}"></div>
<script src="/static/new_js/teach.js" charset="utf-8"></script>

{% endblock %}
