{% extends "layout_new.html" %}
{% block body %}
    <h1>Abzeichen</h1>
    <p>Zusätzlich zur Reputation gibt es noch Abzeichen, die du für die Benutzung der Seite erhalten kannst. Abzeichen kommen in drei Stufen: <span class="_badge _badge-award _badge-award-bronze"><span class="_badge-icon"></span>Bronze</span>, <span class="_badge _badge-award _badge-award-silver"><span class="_badge-icon"></span>Silber</span> und <span class="_badge _badge-award _badge-award-gold"><span class="_badge-icon"></span>Gold</span></p>
    {% for b in badges %}
    {% if changed(b.getClass()) %}
    {% if not loop.first %}
    </div>
    {% endif %}
    <h2>{{ {"bronze": "Bronze", "silver":"Silber", "gold": "Gold"}[b.getClass()] }}</h2>
    <div class="_datalist">
    {% endif %}{% set ac = b.getAwardeeCount() %}
      <div class="_datalist-item">
        <div class="">
          <a class="_badge _badge-award _badge-award-{{ b.getClass() }}" href="/badges/{{ b.id }}" style="white-space: nowrap;"><span class="_badge-icon"></span>{{ b.getName() }}</a>
        </div>
        <div class="_datalist-field">
          {{ b.getDescription() }}
        </div>
        {% if ac != 0 %}
        <em>({{ ac }} &times; verliehen)</em>
        {% endif %}
      </div>
    {% endfor %}
    </div>
{% endblock %}
