<div class="_floatbox-header bg-dark-ll">Auszeichnungen</div>
<div class="p1">
  <div class="_list">
  {% for d in data if d.data != 0 %}
    {% if 24*3600 > now - d.given_date > 0 %}
      {% set mg=1 %}
    {% elif 2*24*3600 > now - d.given_date > 24*3600 %}
      {% set mg=2 %}
    {% elif 7*24*3600 > now - d.given_date > 2*24*3600 %}
      {% set mg=3 %}
    {% elif 30*24*3600 > now - d.given_date > 7*24*3600 %}
      {% set mg=4 %}
    {% elif 365*24*3600 > now - d.given_date > 30*24*3600 %}
      {% set mg=5 %}
    {% else %}
      {% set mg=6 %}
    {% endif %}
    {% if changed(mg) %}
      {% if mg == 1 %}
        <span class="_list-seperator col-dark-dd">Heute</span>
      {% elif mg == 2 %}
        <span class="_list-seperator col-dark-dd">Gestern</span>
      {% elif mg == 3 %}
        <span class="_list-seperator col-dark-dd">Letzte Woche</span>
      {% elif mg == 4 %}
        <span class="_list-seperator col-dark-dd">Letzter Monat</span>
      {% elif mg == 5 %}
        <span class="_list-seperator col-dark-dd">Letztes Jahr</span>
      {% elif mg == 6 %}
        <span class="_list-seperator col-dark-dd">Älter als ein Jahr</span>
      {% endif %}
    {% endif %}
    <a class="_list-item fs-base1 p-r _list-item-keepcolor {% if not d.recognized %}-highlighted{% endif %}" href="#!">
      {% if d.type == "reputation" %}
      <div class="grid">
        <div class="colbox p1"><span class="_badge _badge-vote _badge-vote-{{ "danger" if d.data < 0 else "success" }} _badge-vote-fw _badge-vote-sm">{{ "+" if d.data > 0 else "&ndash;" }}{{ d.data if data > 0 else -d.data }}</span></div>
        <div class="colbox-fill p1">
          <span class="d-b col-dark-dd push-right" title="{{ d.parsed_date[1] }}">{{ d.parsed_date[2] }}</span>
          {#<span class="d-b col-dark-dd mb1">Forum</span>#}
          <span class="d-b">{{ d.message_html|striptags }}</span>
          <span class="d-b fs-caption col-black">{{ d.count }} Ereignis{{ "" if d.count == 1 else "se" }}</span>
        </div>
      </div>
      {% elif d.type == "badge" %}
      <div class="p1">
        <span class="d-b col-dark-dd push-right" title="{{ d.parsed_date[1] }}">{{ d.parsed_date[2] }}</span>
        <span class="d-b col-black">Du hast das Abzeichen <span class="_badge _badge-award _badge-award-{{ d.class }}"><span class="_badge-icon"></span>{{ d.label }}</span> erhalten.</span>
      </div>
      {% endif %}
    </a>
  {% endfor %}
  </div>
</div>
