{% extends "layout.html" %}
{% block body %}
 <nav class="coursenav sponsored">
   <div class="main-content">
   <h2>Kurstitel <i><a href="/courses/topic/42/info" class="topic">Kursthema</a></i></h2>
   <p><b>angeboten von <a href="/u/1">paulπdev</a> und <a href="/u/2">Test-Benutzer</a></b></p>
   <ul>
     <li class="active"><a href="#!">Informationen</a></li>
     <li><a href="#!">Kursinhalte</a></li>
     <li><a href="#!">Kursforum</a></li>
   </ul>
 </div>
 <div class="sponsor-content">
   <a href="#!" class="inline-sponsorship-link">zertifiziert</a> von
   <a href="http://rlo-berlin.de"><img src="/static/img/sponsor_rlg.png"></a>
 </div>
 </nav>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
 <h3>Wovon handelt der Kurs?</h3>
 <div class="text">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 </div>
 <h3>Was benötigt man zur Teilnahme?</h3>
 <div class="text">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 </div>
{% endblock %}
