{% extends "layout.html" %}
{% block body %}
 <nav class="coursenav">
   <h2><i>Thema:</i> Programmieren</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   <ul class="subnav">
     <li class="active"><a href="#!">Informationen</a></li>
     <li class=""><a href="#!">Kurse</a></li>
     <li class=""><a href="#!">Bearbeiten</a></li>
     <form action="" method="get"><li class="input"><input class="inline" placeholder="Kurse durchsuchen" name="query"><button><span class="fa fa-search"></span></button></li></form>
   </ul>
 </nav>
 </nav>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
 <div class="text">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 </div>
{% endblock %}
