<div class="js--uploader">

  <div class="_nav _nav-t">
    <a href="#!" class="js--uploader-tab-select -active">Bild auswählen</a>
    <a href="#!" class="js--uploader-tab-upload">Neu hochladen</a>
  </div>
  <div class="p3 js--uploader-view-select">

    <div class="grid">
      <div class="p0 colbox-fill column12__sm">
        <div class="grid p2">
          {% for img in images %}
            <button class="colbox150 p1 _btn _btn-on-light _btn--primary js--uploader-img-select" data-id="{{ img.id }}" data-url="{{ img.getPath() }}">
              <img src="/upload/{{ img.id }}/{{ img.getPath() }}" alt="Bild {{ img.getPath() }}">
            </button>
          {% endfor %}
        </div>
      </div>
      <div class="column6 p2 column12__sm js--uploader-sidebar hide">
        <h2 class="h-underlined">Informationen</h2>
        <label class="form" for="js--uploader-name">Name</label>
        <input readonly class="form" value="Teleskop" id="js--uploader-name">
        <label class="form" for="js--uploader-description">Beschreibung</label>
        <textarea class="form" id="js--uploader-description" placeholder="Beschreibe, was dieses Bild darstellt, damit es auch von Menschen verstanden wird, die nicht so gut sehen können."></textarea>
        <button class="_btn _btn-danger _btn-outline">Löschen</button>
        <button class="_btn _btn--primary">Auswählen</button>
      </div>
    </div>

  </div>
  <div class="p8 js--uploader-view-upload hide">
      <h1>Bild hochladen</h1>

      {% if has_reached_limit %}
      <div class="_alert _alert-danger">
        <p><strong>Achtung.</strong> Du hast dein Upload-Limit erreicht.</p>
      </div>
      {% else %}
      <form method="post" action="/upload/post" enctype="multipart/form-data">
        <input type="file" name="file" class="form py16 px4 ta-c fs-heading my5">



        <div class="_alert _alert-danger js--alert-type-forbidden hide">
          <p><strong>Verboten.</strong> Dieser Dateityp ist nicht erlaubt. Erlaubt sind nur Bilder.</p>
        </div>
        <div class="_alert _alert-danger js--alert-none-selected hide">
          <p><strong>Fehler.</strong> Bitte wähle eine Datei aus.</p>
        </div>

        <button type="submit" class="_btn _btn--primary _btn-lg">Weiter &raquo;</button>

      </form>
      {% endif %}
  </div>

</div>
<script src="/static/new_js/uploader.js"></script>
