<div class="_nav _nav-t _nav-right _nav-t-smaller m2">{% set prc = course.getActivePRCount() %}
  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/branches" class="-active">Branches</a>
  <a href="/course/{{ course.id }}/{{ course.getLabel() }}/pull-requests">Pull Requests{% if prc %}<span class="_badge _badge-tabitem">{{ prc }}</span>{% endif %}</a>
</div>

<div class="bg--primary-dddd b-r1 col-white p1 mt3">
  <div class="grid -full-center">
    <div class="colbox-fill column12__sm column12__md">
      <div class="fs-base3 p1 px3 py2 py0__lg">Branch #{{ branch.id }} zum Kurs {{ course.getTitle() }}</div>
    </div>
    <div class="colbox column12__sm column12__md">
      <div class="_btnlist">
      {% if branch.isAbandoned() %}
        <a href="/course/{{ course.id }}/{{ course.getLabel() }}/pull-request/{{ branch.getDetail("pull_request")}}" class="_btn _btn--primary _btn-on-dark _btn-lighter" disabled>(verworfen)</a>
      {% elif not branch.getDetail("pull_request") %}
          <a href="/course/{{ course.id }}/{{ course.getLabel() }}/branch/{{ branch.id }}/submit" class="_btn _btn--primary _btn-on-dark _btn-lighter">Neue Pull Request</a>
          <a href="/course/{{ course.id }}/{{ course.getLabel() }}/branch/{{ branch.id }}/cancel" class="_btn _btn--primary _btn-on-dark _btn-outline">Branch verwerfen</a>
      {% else %}
        <a href="/course/{{ course.id }}/{{ course.getLabel() }}/pull-request/{{ branch.getDetail("pull_request")}}" class="_btn _btn--primary _btn-on-dark _btn-lighter">Zur Pull Request</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
