{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "pr", user) }}

{% include "courses/pull-requests/_header.html" %}


<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% set curpage_id = "overview" %}
      {% include "courses/pull-requests/_menu.html" %}
    </div>
   </div>
   <div class="column9__lg column12 bs2-light">
     <div class="grid -equal-columns">
      <div class="column8 column12__sm p2">
          <h1>Übersicht über die Kursmodule</h1>
          {% if not branch.getDetail("pull_request") and not branch.isAbandoned() %}
          <a href="/c/{{ course.id }}/branch/{{ branch.id }}/reorder" class="_btn push-right _btn--primary _btn-lighter">Anordnung ändern</a>
          <button onclick="PiJS.dialog.resetposition($('#newitem_dialog').removeClass('hide'));" class="_btn push-right _btn--primary">Hinzufügen</button>
          <div class="push-reset"></div>
          {% endif %}
          <table class="table" style="width: 100%">
              <tr>
                  <th>Typ</th>
                  <th>Modul</th>
                  <th>geändert?</th>
              </tr>
              {% for element in branch.getMenu() if element.availible %}
              <tr>
                  {% if element.type == "info" %}
                  <td>Info</td>
                  {% elif element.type == "extvideo" %}
                  <td>Video</td>
                  {% elif element.type == "quiz" %}
                  <td>Quiz</td>
                  {% elif element.type == "survey" %}
                  <td>Umfrage</td>
                  {% elif element.type == "pinboard" %}
                  <td>Pinwand</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td><a href="/c/{{ course.id }}/branch/{{ branch.id }}/item/{{ element.id if element.id else '-' }}/{{ element.overrides if element.overrides else '-' }}">{{ element.title }}</a></td>
                  <td>
                    {% if not branch.getDetail("pull_request") and not branch.isAbandoned() %}
                    {% if element.created %}
                    <span class="_badge _badge-s-success">erstellt <a href="/c/{{ course.id }}/branch/{{ branch.id }}/revert/{{ element.overrides if element.overrides else '-' }}" class="_badge-revoke">&times;</a></span>
                    {% elif element.changed %}
                    <span class="_badge _badge-s-warning">verändert <a href="/c/{{ course.id }}/branch/{{ branch.id }}/revert/{{ element.overrides if element.overrides else '-' }}" class="_badge-revoke">&times;</a></span>
                    {% endif %}
                    {% else %}
                    {% if element.created %}
                    <span class="_badge _badge-s-success">erstellt</span>
                    {% elif element.changed %}
                    <span class="_badge _badge-s-warning">verändert</span>
                    {% endif %}
                    {% endif %}
                  </td>
              </tr>
              {% if element.children %}
                {% for child in element.children if child.availible %}
                <tr>
                    {% if child.type == "info" %}
                    <td>Info</td>
                    {% elif child.type == "extvideo" %}
                    <td>Video</td>
                    {% elif child.type == "quiz" %}
                    <td>Quiz</td>
                    {% elif child.type == "survey" %}
                    <td>Umfrage</td>
                    {% elif child.type == "pinboard" %}
                    <td>Pinwand</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>&mdash;<a href="/c/{{ course.id }}/branch/{{ branch.id }}/item/{{ child.id if child.id else '-' }}/{{ child.overrides if child.overrides else '-' }}">{{ child.title }}</a></td>
                    <td>
                      {% if not branch.getDetail("pull_request") and not branch.isAbandoned() %}
                      {% if child.created %}
                      <span class="_badge _badge-s-success">erstellt <a href="/c/{{ course.id }}/branch/{{ branch.id }}/revert/{{ child.overrides if child.overrides else '-' }}" class="_badge-revoke">&times;</a></span>
                      {% elif child.changed %}
                      <span class="_badge _badge-s-warning">verändert <a href="/c/{{ course.id }}/branch/{{ branch.id }}/revert/{{ child.overrides if child.overrides else '-' }}" class="_badge-revoke">&times;</a></span>
                      {% endif %}
                      {% else %}
                      {% if child.created %}
                      <span class="_badge _badge-s-success">erstellt</span>
                      {% elif child.changed %}
                      <span class="_badge _badge-s-warning">verändert</span>
                      {% endif %}
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
              {% endif %}
              {% endfor %}
          </table>
          {% if not branch.getDetail("pull_request") and not branch.isAbandoned() %}
          <a href="/c/{{ course.id }}/branch/{{ branch.id }}/reorder" class="_btn push-right _btn--primary _btn-lighter">Anordnung ändern</a>
          <button onclick="PiJS.dialog.resetposition($('#newitem_dialog').removeClass('hide'));" class="_btn push-right _btn--primary">Hinzufügen</button>
          <div class="push-reset"></div>
          {% endif %}
      </div>
      <div class="column4 p2 column12__sm">

        <h2>Tipps und Tricks</h2>
        <div class="_card">
            <div class="_card-title _card-subtitle"><a href="#!" data-toggle=".js--tips-structure" data-toggle-class="hide">Aufbau und Struktur</a></div>
            <div class="_card-content hide js--tips-structure">
              <p>Eine wohlüberlegte Struktur für die Kursinhalte vereinfacht den Lernprozess und sorgt dafür, dass der Kurs besser nachzuvollziehen ist.</p>
              <p>Es ist jedoch nicht möglich, eine allgemeine Struktur vorzugeben, da dies von den Kursinhalten abhängt. Je nach Kursinhalt kann eine chronologische Unterteilung nach Kurswochen, eine thematische oder eine andere Unterteilung sinnvoll sein.</p>
            </div>
            <div class="_card-title _card-subtitle"><a href="#!" data-toggle=".js--tips-diverse" data-toggle-class="hide">Abwechslungsreich gestalten</a></div>
            <div class="_card-content hide js--tips-diverse">
              <p>Wer Spaß dabei hat kann besser lernen. Damit die Benutzer den Spaß nicht verlieren, ist ein gewisses Maß an Abwechslung gut.</p>
              <p>Neben vereinzeltem Humor kann auch eine unterschiedliche Auswahl an Modultypen (Text, Bild, Video) zur Auflockerung beitragen.</p>
            </div>
            <div class="_card-title _card-subtitle"><a href="#!" data-toggle=".js--tips-repeat" data-toggle-class="hide">Wiederholungen einbauen</a></div>
            <div class="_card-content hide js--tips-repeat">
              <p>Übung macht bekanntlichermaßen den Meister. Deshalb sollten Inhalte regelmäßig durch Quizze unterteilt werden.</p>
              <p>In Quizzen kann die Wiederholung, Anwendung oder Weiterentwicklung von bereits gelerntem erfolgen. Außerdem geben Quizze kurzfristiges Feedback, sodass der Benutzer merkt, ob er die Kursinhalte verstanden hat.</p>
            </div>
        </div>
    </div>
   </div>
 </div>
{% if not branch.getDetail("pull_request") and not branch.isAbandoned() %}
 <div class="_dialog hide" id="newitem_dialog">
  <a href="#!" onclick="$('#newitem_dialog').addClass('hide')" class="_xbtn _dialog-xbtn">&times;</a>
  <h3>Neue Seite hinzufügen</h3>
  <p class="p-lead">Was für eine Seite willst du hinzufügen?</p>
  <p>Achtung: Eine einmal angelegte Seite kann nicht wieder entfernt, nur ausgeblendet werden.</p>
  <div class="_toollist">
    <label class="_toollist-item" for="newitem_dialog-1">
      <input type="radio" value="info" class="form-radio" id="newitem_dialog-1" name="newitem_dialog">
      <div class="_toollist-data">
        <h4>Inhalte/Info</h4>
        <p>Lerninhalte mit Text und Bildern, sowie Informationen zum Kurs.</p>
      </div>
    </label>
    <label class="_toollist-item" for="newitem_dialog-2">
      <input type="radio" class="form-radio" id="newitem_dialog-2" value="extvideo" name="newitem_dialog">
      <div class="_toollist-data">
        <h4>Video</h4>
        <p>Lernvideo von Youtube, Vimeo oder von einem Link einbinden.</p>
      </div>
    </label>
    <label class="_toollist-item" for="newitem_dialog-3">
      <input type="radio" class="form-radio" id="newitem_dialog-3" value="quiz" name="newitem_dialog">
      <div class="_toollist-data">
        <h4>Quiz</h4>
        <p>Wiederholung von gelernten Inhalten mit Multiple-Choice, Multiple-Answer und Textantwort-Fragen.</p>
      </div>
    </label>
  </div>
  <button class="push-right _btn _btn--primary" onclick="newItem()">Auswählen</button>
</div>
<script>
  function newItem() {
    type = $("input[name='newitem_dialog']:checked").val()
    if(!type) return;
    $.ajax({
      method: "POST",
      url: "/c/{{ course.id }}/branch/{{ branch.id }}/new-item",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        "parent": 0,
        "type": type
      }),
      success: function( result ) {
        window.location.reload();
      },
      error: function() {
        alert("Fehler beim Speichern");
      }
    });
  }
</script>
{% endif %}
{% endblock %}
