{% extends "layout_new.html" %}
{% block body %}
{% from "_course-header.html" import course_header %}
{{ course_header(course, "pr", user) }}

{% include "courses/pull-requests/_header.html" %}


<div class="grid -equal-columns">
  <div class="column3__lg column12 br1__lg br-s__lg br-light__lg bb1 bb-s bb-light bb0__lg">
    <div class="p3">
      {% include "courses/pull-requests/_menu.html" %}
    </div>
  </div>
  <div class="column9__lg column12 bs2-light">
  <h1>Kursmodule neu anordnen</h1>
    <div id="reorder">
    </div>
    <button class="_btn _btn--primary" onclick="submitOrder();">Speichern</button>
    <a class="_btn _btn-on-light _btn--primary" href="/c/{{ course.id }}/branch/{{ branch.id }}">Abbrechen</a>
  </div>
</div>
<script>
 var COURSE_ID = {{ course.id }};
 var BRANCH_ID = {{ branch.id }};
 var REORDER_DATA = [
   {% for element in branch.getMenu() if element.availible %}
   {
     "title": {{ element.title|tojson }},
     "id": "{{ element.id if element.id else '-' }}/{{ element.overrides if element.overrides else '-' }}",
     "subitems": [
       {% for child in element.children if child.availible %}
       {
         "title": {{ child.title|tojson }},
         "id": "{{ child.id if child.id else '-' }}/{{ child.overrides if child.overrides else '-' }}"
       }{% if not loop.last %},{% endif %}
       {% endfor %}
     ]
   }{% if not loop.last %},{% endif %}
   {% endfor %}
  ];
</script>
<script src="/static/js/reorder.js" charset="utf-8"></script>
<style>
  /* - reorder */
  #reorder {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  #reorder .reorder-item {
    padding: 10px;
    display: flex;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 5px;
    align-items: center;
    box-shadow: 0 0 5px -2px #aaa;
    transition: all .3s ease;
    cursor: pointer;
  }
  #reorder .reorder-item:hover {
    border-color: #bbb;
  }
  #reorder .reorder-item.indented {
    margin-left: 25px;
  }
  #reorder .reorder-item.drop-hover {
    box-shadow: 0 4px 5px -2px #aaa;
  }
  #reorder .reorder-item span {
    flex-grow: 1;
  }
</style>
{% endblock %}
