{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/simplemde.min.css">
<script src="/static/js/simplemde.min.js"></script>
{% if data.isDisabled() %}
  <div class="user-warning">{% set end=data.getBanEnd(True) %}
      <p>Dieser Benutzer wurde <strong>{{ data.getBanReason() }}</strong> <span title="{{ end[1] }}">{{ end[2] }}</span> <a href="/help/users/banned">gesperrt.</a></p>
    </div>
{% endif %}
<div class="tabination">
  <ul>
    <li><a href="/user/{{ data.id }}/{{ data.getDetail("name") }}">Profil</a></li>
    <li><a href="/user/{{ data.id }}/{{ data.getDetail("name") }}/flags">Meldungen</a></li>
    <li><a href="/user/{{ data.id }}/{{ data.getDetail("name") }}/reputation">Reputation</a></li>
    <li class="active"><a href="/user/{{ data.id }}/{{ data.getDetail("name") }}">Profil bearbeiten</a></li>
    {% if user.isAdmin() %}
    <li><a href="/tools/user/ops/{{ data.id }}" target="_blank"><em>AdminOps</em></a></li>
    {% else %}
    <li><a href="/user/{{ data.id }}/{{ data.getDetail("name") }}/delete">Löschen</a></li>
    {% endif %}
  </ul>
</div>
<h2>Benutzerkonto bearbeiten: {{ data.getHTMLName()|safe }}</h2>
<label for="uname">Benutzername</label>
<input type="text" disabled value="{{ data.getDetail("name") }}" id="uname">
<label for="name">Anzeigename</label>
<input type="text" name="name" value="{{ data.getDetail("realname") }}" id="name">
<label for="pic">Profilbild</label>
<label for="pic_null"><input type="radio" name="pic" value="null" id="pic_null"> kein Profilbild</label>
<label for="pic_gravatar"><input type="radio" name="pic" value="gravatar" id="pic_gravatar"> Gravatar</label>
<label for="pic_link"><input type="radio" name="pic" value="link" id="pic_link"> von Link:</label><input type="text" name="pic_link">
<label for="aboutme">Profil-Text</label>
<textarea name="aboutme" id="aboutme">{{ data.getDetail("aboutme") }}</textarea>
<label for="email">E-Mail-Adresse</label>
<input type="email" name="email" value="{{ data.getDetail("email") }}" id="email">
<label for="password">Passwort</label>
<input type="password" name="password" id="password" placeholder="(leer lassen, um nicht zu ändern)">
<button class="primary-btn">Speichern</button>

<script>

var simplemde = new SimpleMDE({ element: document.getElementById("aboutme"), forceSync:true, parsingConfig: {strikethrough: false}, promptURLs:true, spellChecker:false });
</script>
{% endblock %}
