{% extends "layout_new.html" %}
{% block meta_description %}{{ data.getShortProfileText()|striptags|safe }}{% endblock %}
{% block body %}


{% set user_site = "profile" %}
{% include "user/_header.html" %}
<div class="grid">
  <div class="column3 column5__md column12__sm p2">
    <div class="p4 bg-dark-llll ta-c bb3s bb--primary-dd">
      {% if data.getDetail("profile_image") %}
      <img src="{{ data.getDetail("profile_image") }}" alt="Profilbild von {{ data.getDetail("name") }}" class="thumbnail-xl d-ib">
      {% else %}
      <svg class="thumbnail-xl d-ib" viewBox="0 0 48 48" width="10em" height="10em">
        <path d="M18,6 l16,0 l0,16 l-16,0 z M32,22 l10,20 l-32,0 l10,-20" fill="transparent" stroke-width="1" />
        <path d="M18,22 l16,0 M10,42 l32,0" fill="transparent" stroke-width="3" />
      </svg>
      {% endif %}
      <div class="p1 ta-c mt2 mb0">
        <span class="_badge fs-heading _badge-score">{{ data.getReputation() }}</span>
      </div>
      <div class="p1 ta-c mt0 mb0">
        {% for type in data.getBadgeBreakdown() %}
        <span class="_badge fs-subheading _badge-score _badge-score-{{ type[1] }}"><span class="_badge-icon"></span>{{ type[0] }}</span>
        {% endfor %}
      </div>
    </div>
    {% set pd = data.getProfileData() %}
    <dl class="anchor-dark">
      {% if pd.place %}
      <dt>Wohnort</dt>
      <dd>{{ pd.place }}</dd>
      {% endif %}
      {% if pd.website %}
      <dt>Webseite</dt>
      {% if data.getReputation() < 10 %}
      <dd>{{ pd.website }}</dd>
      {% else %}
      <dd><a href="//{{ pd.website }}">{{ pd.website }}</a></dd>
      {% endif %}
      {% endif %}
      {% if pd.twitter %}
      <dt>Twitter</dt>
      <dd><a href="https://twitter.com/{{ pd.twitter }}">{{ pd.twitter }}</a></dd>
      {% endif %}
    </dl>
    {% if pd.projects %}
    <h4>Projekte</h4>
    {{ (pd.projects.replace("\n","\0")|striptags).replace("\0","\n")|markdown }}
    {% endif %}
  </div>
  <div class="column9 p2 column7__md column12__sm">
    <h1>
      {{ data.getHTMLName(False) }}
      {% if data.isMod() %}
        <span class="col-dark fs-subheading f-brand pt2">(Moderator)</span>
      {% endif %}
    </h1>
    <div class="p2">
      {% if data.getDetail("aboutme") != "" %}
      {{ (data.getDetail("aboutme").replace("\n", "\0")|striptags).replace("\0", "\n")|markdown }}
      {% else %}
      <p class="f-italic col-dark-ddd fs-base3">
          Dieser Benutzer hat noch nichts über sich geschrieben.
      </p>
      {% endif %}
    </div>
    {% set topcourses=mcourses.getByUser(data, True) %}
    {% if topcourses|length %}
      <h2>Beliebteste Kurse</h2>
      <div class="_list">
      {% for c in topcourses %}
      {% set t = c.getTopic() %}
      {% set linked = c.getDetail("state") !=0 or c.isEnrolled(user) or user.isMod() %}
        {% if linked %}
        <a class="_list-item" href="/c/{{ c.id }}">
        {% else %}
        <span class="_list-item">
        {% endif %}
          <span class="push-right d-b">
            <span class="_badge _badge-unit">{{ t.getTitle() }}</span>
          </span>
          <span class="fs-base3 d-b">{{ c.getTitle() }}</span>
          <span class="fs-base2 col-dark-ddd d-b">{{ c.getShortdesc() }}</span>
        {% if not linked %}
        <span class="fs-base2 col-danger-ddd f-italic d-b">Dieser Kurs ist noch nicht verfügbar.</span>
        </span>
        {% else %}
        </a>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
