{% macro forum_header (forum, current_page) %}
<div class="p3 s1 bg--primary-ll" id="course-bar">
  {% if forum.id == 0 %}
      <h1 class="f-brand">globales Forum</h1>
      <p>für alle Fragen zu &pi;-Learn selber und für Fehlermeldungen oder Verbesserungsideen</p>
  {% else %}

  <div class="grid">
    <div class="column6__lg column12">
      {% set topic = forum.getTopic() %}
      <h1 class="f-brand">{{ forum.getTitle() }} <a href="/topic/{{ topic.id }}/{{ topic.getName() }}/info" class="_badge _badge-unit">{{ topic.getTitle() }}</a></h1>
    </div>
    <div class="column6__lg column12 ta-r col-al-bottom f-bold lnk-dark">
      {{ forum.getByLine()|markdown }}
    </div>
  </div>
  <nav class="_nav _nav-t">
    <a href="/c/{{ forum.id }}/info"{% if current_page == "info" %} class="-active"{% endif %}>Infos</a>
    <a href="/course/{{ forum.id }}/{{ forum.getLabel() }}/start"{% if current_page == "contents" %} class="-active"{% endif %}>Inhalte</a>
    <a href="/f/{{ forum.id }}"{% if current_page == "forum" %} class="-active"{% endif %}>Forum</a>
  </nav>
  {% endif %}
</div>
{% endmacro %}
