{% macro forum_header (forum, current_page) %}
<div class="_headbar-course{% if forum.id != 0 and forum.getCourse().getDetail("state") == 0 %} -under-development{% endif %}" id="course-bar">
  {% if forum.id == 0 %}
    <div class="_headbar-course-name anchor-black"><a href="/f/0">globales Forum</a></div>
    <div class="_headbar-course-byline">
      für alle Fragen zu &pi;-Learn selber und für Fehlermeldungen oder Verbesserungsideen
    </div>
  {% else %}
    {% set topic = forum.getTopic() %}
    <div class="_headbar-course-name">{{ forum.getTitle() }}</div>
    <div class="_headbar-course-unit">
      <a href="/topic/{{ topic.getName() }}" class="_badge _badge-unit">{{ topic.getTitle() }}</a>
    </div>
    <div class="_headbar-course-byline">
      {{ (forum.getByLine()|markdown)[3:-4] }}
    </div>
    <div class="_headbar-course-navigation">
      <nav class="_nav _nav-t">
        <a href="/c/{{ forum.id }}/info"{% if current_page == "info" %} class="-active"{% endif %}>Infos</a>
        <a href="/course/{{ forum.id }}/{{ forum.getLabel() }}/start"{% if current_page == "contents" %} class="-active"{% endif %}>Inhalte</a>
        <a href="/f/{{ forum.id }}"{% if current_page == "forum" %} class="-active"{% endif %}>Forum</a>
      </nav>
    </div>
  {% endif %}
</div>
{% endmacro %}
