{% extends "layout.html" %}
{% block body %}
    <div class="">
      <div>
        {{ message|markdown }}
        {% if (in_beta or request.values.get("access", "") == beta_token) and not user.isLoggedIn() %}
        <form class="access-form" action="" method="post" id="access-form">
          <h3>Beta-Account erstellen</h3>{% if error == "invalid_key" %}
            <div class="error">
              <h3>Registrierung nicht möglich</h3>
              Der Anmelde-Schlüssel ist ungültig. Die Registrierung ist daher nicht möglich. Kommen Sie später in der öffentlichen Beta wieder oder geben Sie den richtigen Schlüssel ein.
            </div>
          {% elif error == "format" %}
            <div class="error">
              <h3>Registrierung nicht möglich</h3>
              Benutzername und/oder Anzeigename haben ein ungültiges Format. Der Benutzername darf nur alphanumerische Zeichen enthalten und muss zwischen 2 und 30 Zeichen enthalten; der Anzeigename darf nicht länger als 25 Zeichen sein.
            </div>
          {% endif %}
          <label for="username">Benutzername:</label>
          <input id="username" name="username">
          <label for="password">Passwort:</label>
          <input id="password" name="password" type="password">
          <label for="realname">Anzeigename:</label>
          <input id="realname" name="realname">
          <label for="email">E-Mail-Adressse:</label>
          <input id="email" name="email" type="email">
          <p>Mit dem Abschicken dieses Formulars erklärst du dich mit den <a href="#!" onclick="document.getElementById('terms-dialog').classList.add('open');">Nutzungsbedingungen</a> und unseren <a href="#!" onclick="document.getElementById('data-policy-dialog').classList.add('open');">Datenschutzrichtlinien</a> einverstanden.</p>
          {% if passkey %}
          <hr>
          <label for="beta-passkey">Anmelde-Schlüssel:</label>
          <input id="beta-passkey" name="beta-passkey">
          {% else %}
          <input id="beta-passkey" name="beta-passkey" type="hidden">
          {% endif %}
          <button id="reglog" class="primary-btn">Registrieren</button>
        </form>
        {% endif %}
      </div>
  </div>
  <div class="flagging-modal" id="terms-dialog">
      <div class="flagging-dialog">
          <div class="close-link"><a href="#!" onclick="document.getElementById('terms-dialog').classList.remove('open');">&times;</a></div>
          <h3>Nutzungsbedingungen</h3>
          {{ terms|markdown }}
          <p>
              <button onclick="document.getElementById('terms-dialog').classList.remove('open');">Fertig</button>
          </p>
    </div>
  </div>
  <div class="flagging-modal" id="data-policy-dialog">
      <div class="flagging-dialog">
          <div class="close-link"><a href="#!" onclick="document.getElementById('data-policy-dialog').classList.remove('open');">&times;</a></div>
          <h3>Datenschutzrichtlinien</h3>
          {{ data_policy|markdown }}
          <p>
              <button onclick="document.getElementById('data-policy-dialog').classList.remove('open');">Fertig</button>
          </p>
    </div>
  </div>
  <style>
  .hero, .global-note {
    display: none;
  }
  button[hidden] {
    display: none;
  }
  .access-form {
    background-color: white;
    color: black;
    margin: 5px 0;
    border: 1px solid #aaa;
    padding: 20px !important;
    display: block;
  }
  </style>
{% endblock %}
