{% set pattern="individual" %}
{% extends "layout_new.html" %}
{% block body %}
<div class="single-fluid-small grid">
  <div class="column7 column12__sm p2">
    <div class="_alert _alert--primary">
      {{ message|markdown }}
    </div>
  </div>
  <div class="column6 column12__sm p1">
    <div class="container s3 p2">
      {% if allow_password %}
      <h1 class="fs-subtitle ta-c bb1 bb-s bb-dark-ll">Zugriff erhalten.</h1>
      <p>Einen Zugriffs-Code eingeben, um Zugriff auf die Seite zu erhalten.</p>
      <form action="" method="post">
        <label for="access_code" class="form">Zugriffs-Code:</label>
        <input id="access_code" name="beta_key" class="form">
        <button class="_btn _btn--primary" type="submit">Weiter &raquo;</button>
      </form>
      {% else %}
      <p>Du musst eine Einladung erhalten haben, um auf die Webseite zugreifen zu können.</p>
      {% endif %}
    </div>
  </div>
</div>
<style>
  .js--featured-announcements { display: none; }
</style>
{% endblock %}
