{% extends "layout_new.html" %}
{% block body %}
<div class="p3">
  <div class="grid">
    <div class="column4 column3__md hide__sm p4">
      <div class="col--primary-dd p2 ta-c f-bold fs-display3">:(</div>
    </div>
    <div class="column8 column9__md column12__sm p2">
      <h1>Ein Fehler ist aufgetreten</h1>
      <p class="p-lead">Huch?! Dies hätte nicht passieren sollen!</p>
      <p>Dieser Fehler ist unerwartet (sogar für uns). Es handelts sich also wahrscheinlich um die Spanische Inquisition.</p>
      <p>Dies ist unsere Schuld. Wir entschuldigen uns für eventuelle Unanehmlichkeiten.</p>
      <p>Wenn du uns beim beheben dieses Fehlers unterstützen möchtest, melde ihn <a href="/f/0">im globalen Forum</a> mit dem Tag <em>Fehler</em>.</p>
      {% if user.isDev() %}
      <details>
        <summary>Traceback: (bitte bei Fehlermeldungen angeben)</summary>
        <pre>{{ data }}</pre>
      </details>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
