{% extends "layout_new.html" %}
{% block body %}
<div class="p6 p3__sm">
  <div class="grid">
    <div class="colbox hide__sm p3">
      <svg viewBox="0 0 48 48" width="20em" height="20em">
        <path d="M24,12 l16,24 l-32,0 z M24,20 v8 m0,2 v3" fill="transparent" stroke-width="3" />
      </svg>
    </div>
    <div class="colbox-fill p3">
      <h1 class="fs-display2">Ungültige Anfrage</h1>
      <p class="p-lead">Oh nein! Deine Anfrage ist unverständlich.</p>
      <p>Diese Zugriffsmethode ist für die gewählte Adresse ungültig. Versuche die Navigation zu verwenden, um auf &pi;-Learn zu navigieren.</p>
      <p>Dies liegt wahrscheinlich daran, dass du auf eine API-Schnittstelle direkt zugegriffen hast oder du Daten an eine statische Seite gesendet hast.</p>
      <p>Wenn du der Meinung bist, dass hier etwas falsch ist, melde dies <a href="/f/0">im globalen Forum</a> mit dem Tag <a href="/f/0/tagged/fehler" class="_badge _badge-tag">fehler</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
