{% extends "layout.html" %}
{% block body %}
    <div class="">
      <div>
        {{ message|markdown }}
        {% if in_beta %}
          <form class="access-form" action="" method="get" id="access-form">
            <label for="beta_auth">Zugriffs-Code:</label>
            <input id="beta_auth" name="beta_key">
            <button id="reglog" class="danger-btn">Weiter &raquo;</button>
          </form>
        {% endif %}
      </div>
  </div>
  <style>
  .hero {
    display: none;
  }
  .access-form {
    background-color: white;
    color: black;
    margin: 5px 0;
    border: 1px solid #aaa;
    padding: 20px !important;
    display: block;
  }
  </style>
{% endblock %}
