<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="vSvlVOqzIXqIPAJHn1n2sHTbfLF-7TipRxK_T4jokls" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ site_name }} ist eine Community-gesteuerte Open Learning Webseite. Das heißt, jeder Benutzer kann sein Wissen in Form von Kursen und Forenbeiträgen mit anderen teilen. Alle Inhalte werden frei veröffentlicht und können von allen angesehen werden, aber so richtig Spaß macht es erst, wenn man sich anmeldet.">
  <title>{{ site_name }} ist offline</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="any">
  <link rel="apple-touch-icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="32x32">
  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="96x96">

  <link rel="stylesheet" href="/static/new_css/framework.css">
  <link rel="stylesheet" href="/static/fa/css/font-awesome.min.css">
</head>
<body>
  <header class="_header _header-sm _header-bordered p-st">
    <div class="single-fluid d-f _header-container">
      <a class="_header-brand pl2 pr2" href="/"><img src="/static/img/logo_pi-learn.svg">&pi;-Learn</a>
      <nav class="_header-items">
        <a href="https://twitter.com/@pi_learn">Twitter</a>
      </nav>
    </div>
  </header>
    <div class="single-fluid container p6 p3__sm">
      <div class="grid">
        <div class="colbox hide__sm p3">
          <svg viewBox="0 0 48 48" width="20em" height="20em">
            <path d="M24,12 l16,24 l-32,0 z M24,20 v8 m0,2 v3" fill="transparent" stroke-width="3" />
          </svg>
        </div>
        <div class="colbox-fill p3">
          <h1 class="fs-display3">{{ site_short_name }} ist offline</h1>
          <p class="p-lead">Wir führen gerade Wartungsarbeiten durch. {{ site_short_name }} ist während dieser Wartungsarbeiten nicht verfügbar.</p>
          <p>Wir versuchen, sobald wie möglich wieder online zu kommen. Leider können wir nicht genau angeben, wann dies passieren wird.</p>
          <p>Routinemäßige Wartungsarbeiten sollten nicht länger als eine Stunde dauern. Sollte sich die Downtime verlängern oder es andere Probleme geben, werden wir dies auf <a href="https://twitter.com/@pi_learn">unserem Twitter-Konto @pi_learn</a> bekanntgeben.</p>
          <a href="" class="_btn _btn--primary _btn-xl">Anfrage wiederholen</a>
        </div>
      </div>
    </div>
</body>
</html>
