{% from "makros.html" import user_card, forum_close_dialog %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="vSvlVOqzIXqIPAJHn1n2sHTbfLF-7TipRxK_T4jokls" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{% block meta_description %}{{ _('%(site_name)s ist eine Community-gesteuerte Open Learning Webseite. Das heißt, jeder Benutzer kann sein Wissen in Form von Kursen und Forenbeiträgen mit anderen teilen. Alle Inhalte werden frei veröffentlicht und können von allen angesehen werden, aber so richtig Spaß macht es erst, wenn man sich anmeldet.', site_name=site_name) }}{% endblock %}">
  <title>{{ site_name }} &ndash; {{ title|safe }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="any">
  <link rel="apple-touch-icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="32x32">
  <link rel="icon" type="image/svg+xml" href="/static/img/logo_pi-learn.svg" sizes="96x96">

  <link rel="stylesheet" href="/static/new_css/framework.css">
  <link rel="stylesheet" href="/static/fa/css/font-awesome.min.css">

  <script src="/static/new_js/jquery.min.js" charset="utf-8"></script>
  <script src="/static/new_js/pilearn.js" charset="utf-8"></script>
  <script src="/static/new_js/pilearn.topbar.js" charset="utf-8"></script>

  {% if needs_mathjax and has_mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['{{ mathjax_inline_delim[0] }}','{{ mathjax_inline_delim[1] }}'] ],
        displayMath: [ ['{{ mathjax_block_delim[0] }}','{{ mathjax_block_delim[1] }}'] ],
        processEscapes: true
      },
      "HTML-CSS": { fonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %}

  {% if matomo_site_id != "no" %}
  <!-- Matomo -->
  <script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.velja.de/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{ matomo_site_id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
  </script>
  <!-- End Matomo Code -->
  {% endif %}
</head>
<body>

{% if not pattern == "headless" %}

  <header class="_header _header-sm _header-bordered {{ 'p-st' if user.getPref('pinnedNav', False) == '1' }}">
    <div class="single-fluid d-f _header-container">
      <nav class="_header-items hide__lg hide__md">
        <a class="_header-icon js--topbar-menu" href="#!">
          <svg width="3em" height="3em" viewbox="0 0 48 48">
            <path d="M6,8 h36 v7 h-36 z M6,21 h36 v7 h-36 z M6,34 h36 v7 h-36 z" />
          </svg>
        </a>
      </nav>
      <a class="_header-brand pl2 pr2" href="/"><img src="/static/img/logo_pi-learn.svg"><span class="hide__sm">&pi;-Learn</span></a>
      <div class="_header-spacer"></div>
      <nav class="_header-items">
        {% if user.isMod() %}
        <a href="/tools" class="_header-icon hide__sm" title="{{ _('Werkzeuge') }}">
          <svg width="3em" height="3em" viewbox="0 0 48 48">
            <path d="M24,8 l12,16 l-12,16 l-12-16 z" />
          </svg>
        </a>
        {% endif %}
        {% if user.may("forum_reviewEdits") or user.may("course_reviewEdits") %}{% set revC = review.getReviewCountState(user) %}
        <a href="/review" class="_header-icon hide__md hide__sm" title="{{ _('Moderation') }}">
          <svg width="3em" height="3em" viewbox="0 0 48 48">
            <path d="M6,8 h16 v7 h-16 z M6,21 h16 v7 h-16 z M6,34 h16 v7 h-16 z" />
            <g transform="scale(0.5) translate(50 0)">
              <path d="M6,32 l10,10 l26,-26 l-5,-5 l-21,21 l-5,-5 z" stroke-width="1" />
            </g>
            <g transform="scale(0.5) translate(50 40)">
              <path d="M18,9 l8.5,8.5 l8.5,-8.5 l8.5,8.5 l-8.5,8.5 l8.5,8.5 l-8.5,8.5 l-8.5,-8.5 l-8.5,8.5 l-8.5,-8.5 l8.5,-8.5 l-8.5,-8.5 z" stroke-width="1" />
            </g>
          </svg>
        </a>
        {% endif %}
        {% if user.isLoggedIn() %}

          <a href="/u/{{ user.id }}" title="{{ _('Eigenes Benutzerprofil') }}" class="_header-mix  js--topbar-user">
            {% if user.getDetail("profile_image") %}
              <img src="{{ user.getDetail("profile_image") }}" class="_header-img mr2__lg mr0" aria-hidden="true">
            {% else %}
            <svg class="_header-img mr2__lg mr0" aria-hidden="true" viewBox="0 0 48 48" width="2em" height="2em">
              <path d="M18,6 l16,0 l0,16 l-16,0 z M32,22 l10,20 l-32,0 l10,-20" fill="transparent" stroke-width="1" />
              <path d="M18,22 l16,0 M10,42 l32,0" fill="transparent" stroke-width="3" />
            </svg>
            {% endif %}
            <span class="_badge _badge-score hide__md hide__sm" title="{{ _('Reputation') }}">{{ user.getReputation() }}</span>
            {% for type in user.getBadgeBreakdown() %}
            <span class="_badge _badge-score _badge-score-{{ type[1] }} hide__md hide__sm"><span class="_badge-icon"></span>{{ type[0] }}</span>
            {% endfor %}
          </a>

          {% set notificationCount = g.countNotifications(user_messages) %}
          <a class="_header-icon p-r js--topbar-inbox" id="notification-trigger" href="#!" title="{{ _('Posteingang') }}: {% if notificationCount == 0 %}{{ _('Keine ungelesenen Nachrichten') }}{% elif notificationCount == 1 %}{{ _('1 ungelesene Nachricht') }}{% else %}{{ _('%(notification_count)i ungelesenen Nachrichten', notification_count=notificationCount) }}{% endif %}">
            {% if notificationCount != 0 %}<span class="_badge _badge-s-danger -wbd p-a xa-r__sp ya-t__sp">{{ notificationCount }}</span>{% endif %}
            <svg width="3em" height="3em" viewbox="3 3 45 45">
              <path d="M6,12 l18,12 l18,-12 z M6,16 v20 h36 v-20 l-18,12 z" />
            </svg>
          </a>

          {% set delta = user.getRepDelta() %}
          {% set unknow_badges = user.hasUnknownBadges() %}
          <a class="_header-icon p-r js--topbar-rep-audit" id="repscreen-trigger" href="#!" title="{{ _('Auszeichnungen') }}: {% if delta == 0 %}{{ _('Keine kürzliche Änderung deiner Reputation') }}{% else %}{{ _('Kürzliche Änderung der Reputation: %(amount)i', amount=dleta) }}{% endif %}{% if badges %}, {{ _('Neue Abzeichen') }}{% endif %}">
            {% if delta > 0 %}<span class="_badge _badge-s-success -wbd p-a xa-r__sp ya-t__sp">+{{ num2suff(delta) }}</span>{% endif %}
            {% if unknow_badges %}<span class="_badge _badge-dot-success -wbd p-a xa-r__sp ya-b__sp">neue Abzeichen</span>{% endif %}
            <svg width="3em" height="3em" viewbox="3 3 45 45">
              <circle cx="24" cy="18" r="8" stroke-width="4" fill="transparent" />
              <circle cx="24" cy="18" r="12" stroke-width="2" fill="transparent" />
              <path d="M35,24 l8,15 l-8,0 l-5.6,6.6 l-8,-15" fill="transparent" stroke-width="2" />
            </svg>
          </a>
        {% else %}
          <a href="/register" class="_header-btn _btn _btn--primary">{{ _('Registrieren') }}</a>
          <a href="/login" class="_header-btn _btn _btn--primary _btn-lighter">{{ _('Anmelden') }}</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <div class="_headbar-site" id="site-bar">
      <div class="single-fluid _headbar-fluid">
        <div class="_headbar-site-brand">
          <a href="/">{{ site_label.replace("<", "{start}").replace(">", "{end}").replace("{start}", '<span class="_headbar-site-sub-brand">').replace("{end}", '</span>')|safe }}</a>
        </div>
        <div class="_headbar-site-nav">
          <a href="/courses"{% if thispage == "courses" %} class="-active"{% endif %}>{{ _('Kurse') }}</a>
            <a href="/f/0"{% if thispage == "forum" %} class="-active"{% endif %}>{{ _('Forum') }}</a>
            <a href="/users"{% if thispage == "user" %} class="-active"{% endif %}>{{ _('Benutzer') }}</a>
        </div>
      </div>
    </div>
  {% for featured_announcement in featured_announcements if not request.cookies.get("hide-hero-announcement-"~featured_announcement.id, False) %}
  <div class="_banner _banner-dark mb1 p1 js--featured-announcements" id="banner:{{ featured_announcement.id }}">
      <div class="single-fluid grid">
        <p class="colbox-fill my2 m2__sm anchor--primary">{{ (featured_announcement.getTitle()|markdown)[3:-4] }}</p>
        <div class="colbox al-r"><button onclick="K=this;$.ajax({url:'/hide-hero',method:'POST', data:JSON.stringify({'hero':'announcement-{{ featured_announcement.id }}'}),
        contentType: 'application/json; charset=utf-8',success:function(){K.parentNode.parentNode.parentNode.style.display='none';}});" class="_btn _btn-dark _btn-on-light">&times;</button></div></div>
  </div>
  {% endfor %}

{% endif %}{# /headless #}
  {% if pattern == "individual" or pattern == "headless" %}
    <main>
  {% else %}
    <main class="container single-fluid">
  {% endif %}
      {% block body %}{% endblock %}
    </main>
{% if not pattern == "headless" %}
    <footer class="bg--primary-lll col-black anchor-dark mt3 mt1__sm">
    <div class="single-fluid p4">
      <div class="grid">
        <div class="column12__sm column3 p1">
          <h4 class="p1 fs-base2 f-caps f-bold col--primary-ddd">{{ site_short_name }}</h4>
          <a class="d-b m1" href="/">{{ _('Startseite') }}</a>
          <a class="d-b m1" href="/courses">{{ _('Kurse') }}</a>
          <a class="d-b m1" href="/f/0">{{ _('Globales Forum') }}</a>
          <a class="d-b m1" href="/help/legal/coc">{{ _('Code of Conduct') }}</a>
        </div>
        <div class="column12__sm column3 p1">
          <h4 class="p1 fs-base2 f-caps f-bold col--primary-ddd">{{ _('Hilfe') }}</h4>
          <a class="d-b m1" href="/help">{{ _('Hilfethemen') }}</a>
          <a class="d-b m1" href="/help/legal/impress">{{ _('Impressum') }}</a>
          <a class="d-b m1" href="/legal/privacy">{{ _('Datenschutz') }}</a>
          <a class="d-b m1" href="{{ url_for('helpdesk.index') }}">{{ _('Helpdesk') }}</a>
          </ul>
        </div>
        <div class="column12__sm column3 p1">
          <h4 class="p1 fs-base2 f-caps f-bold col--primary-ddd">{{ _('Über uns') }}</h4>
          <a class="d-b m1" href="/tour">{{ _('Website-Tour') }}</a>
          <a class="d-b m1" href="/about/team">{{ _('Unser Team') }}</a>
          <a class="d-b m1" href="https://twitter.com/@pi_learn">{{ _('Twitter') }}</a>
        </div>
        <div class="column12__sm column3 pt3 p1">
          <img class="p1" alt="Creative Commons BY-SA (mit Namensnennung, Weitergabe unter gleichen Bedingungen)" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png">
          <p>{{ _('Texte und Bilder aus Kursen und Foren verfügbar unter %(license_link)s.', license_link='<a href="https://creativecommons.org/licenses/by-sa/3.0/de/">CC-BY-SA</a>'|safe) }}</p>
          <p>{{ _('Alle anderen Inhalte sind urheberrechtlich geschützt.') }}</p>
        </div>
        <div class="column12 p1">
          <p>{{ _('Diese Webseite nutzt die &pi;-Learn-Software in der Version %(version)s. Design, System und Logo &copy; &pi;-Learn', version=__version__) }}</p>
          {% if matomo_site_id != "no" %}
          <p class="o5">{{ _('%(site_name)s nutzt statt den üblichen externen Anbietern die datenschutzfreundliche Alternative %(matomo_link)s , um Statistiken zu Seitenaufrufen zu erhalten. Wenn du das nicht möchtest, kannst du %(matomo_disable_link)s  der Speicherung widersprechen.', site_name=site_name, matomo_link='<a href="https://matomo.org">Matomo</a>'|safe, matomo_disable_link='<a href="https://analytics.velja.de/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=ffffff&fontColor=5f5f5f&fontSize=16px&fontFamily=%22Source%20Sans%20Pro%22%2C%22Open%20Sans%22%2C%22Helvetica%20Neue%22%2CHelvetica%2CArial%2Csans-serif">'|safe + _('hier') + '</a>'|safe) }}</p>
          {% endif %}
        </div>
    </div>
    </footer>
    {% if not (user.isLoggedIn() or request.cookies.get("hide-hero-login-request", False)) %}
        <div class="_banner _banner--primary _banner-strong _banner-bottom" id="banner:login-request">
            <div class="single-fluid grid">
              <p class="column9 column12__sm">{{ _('Willst du auch mitmachen und dein Wissen teilen?') }}</p><div class="column3 column12__sm al-r"><a href="/login" class="_btn _btn--primary _btn-on-dark _btn-lighter">{{ _('Registrieren') }}</a><a href="#!" onclick="K=this;$.ajax({url:'/hide-hero',method:'POST', data:JSON.stringify({'hero':'login-request'}),
              contentType: 'application/json; charset=utf-8',success:function(){K.parentNode.parentNode.parentNode.style.display='none';}});" class="_btn _btn--primary _btn-on-dark">&times;</a></div></div>
        </div>
    {% endif %}
    <script>
      PiJS.topbar.init();
    </script>

    {% endif %}{# /headless #}

    {% if user.isMod() %}
    <script src="/static/new_js/moderator.js" charset="utf-8"></script>
    {% endif %}
    {% if user.getPref("darkTheme", False) == "1" %}
    <style>
    html { background-color: #000000; }
    main, footer,
    main img, main iframe, main ._card-image, main ._btn:not(._btn-on-light):not(._btn-outline), main #patterny, main video,
    footer img { filter: invert(100%); }

    ._headbar-site, ._header { opacity: 0.8; }
    </style>
    {% endif %}
</body>
</html>
