<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body style="font-family: sans-serif">
    <font face="sans-serif">
      <table cellspacing="0" cellpadding="20px" border="0" width="100%">
        <tr>
          <td bgcolor="#eeeeee" align="center">
            <table cellspacing="0" cellpadding="40px" border="0" width="720px">
              <tr>
                <td bgcolor="#fafafa" align="center">
                  <table cellspacing="0" border="0">
                    <tr>
                      <td align="center">
                        <img height=75 width=75 src="https://www.pilearn.de/static/img/logo_pi-learn.png">
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <font color="#2559a9" style="font-weight: bold" size="7">&pi;-Learn</font>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#ffffff" textcolor="#333333" height="5px">
                  <table cellspacing="0" cellpadding="10px" width="100%" border="0">
                    <tr>
                      <td>
                        <table cellspacing="5px" cellpadding="5px" width="100%" border="0" style="line-height: 1.5">
                          <tr>
                              <td> {{ body|safe }} </td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#fafafa" align="center">
                <table cellspacing="0" border="0">
                  <tr>
                    <td align="center">
                      <font color="#888888" size=2>{{ _('Du erhältst diese E-Mail, weil du dich mit dieser E-Mail-Adresse bei &pi;-Learn angemeldet hast.') }}</font>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <font color="#888888" size=2>{{ _('Du siehst, dass diese E-Mail wirklich von uns stammt, da alle Links mit <code>https://pilearn.de/</code> beginnen. Im Zweifelsfall, besuche pilearn.de in deinem Browser (nicht von hier kopieren!)') }}</font>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </table>
    </font>
  </body>
</html>
