{#
 # User card level specifier:
 # n: name (always included)
 # i: user profile image
 # r: user reputation
 # b: user badges
 # a: additional html (specified by $additional_html)
 #}
{% macro user_card(user, highlight=False, level="nirb", additional_html="", superverb="", supertime="", unlinked=False, pad=3) %}
  {% if not user.isDeleted() and not unlinked %}<a href="/u/{{ user.id }}"{% else %}<span{% endif %} class="m1 p{{ pad }} a-unlined b-r1{% if not("r" in level or "b" in level or "a" in level) %} d-f{% else %} d-b{% endif %} base2{% if highlight %} bg--primary-lll{% endif %}" style="line-height: 1;{% if "r" in level or "b" in level or "a" in level %} width: 200px;{% endif %}">
    {% if superverb or supertime %}
    <div class="col-dark-ddd pb2">{% if superverb %}<span class="f-bold">{{ superverb }}</span>{% endif %}{% if superverb and supertime %} {% endif %}{% if supertime %}{{ supertime }}{% endif %}</div>
    {% endif %}
    {% if "i" in level %}
      <div class="grid">
      {% if "r" in level or "b" in level %}
        <div class="colbox-50 mr2">
          {% if not user.getDetail("profile_image") %}
          <svg class="thumbnail-xs col-black" viewBox="0 0 48 48" width="3em" height="3em">
            <path d="M18,6 l16,0 l0,16 l-16,0 z M32,22 l10,20 l-32,0 l10,-20" fill="transparent" stroke-width="1" />
            <path d="M18,22 l16,0 M10,42 l32,0" fill="transparent" stroke-width="3" />
          </svg>
          {% else %}
          <img src="{{ user.getDetail("profile_image") }}" alt="" class="thumbnail-xs">
          {% endif %}
        </div>
      {% else %}
        <div class="colbox mr2">
          {% if not user.getDetail("profile_image") %}
          <svg class="thumbnail-xs" style="max-width: 1.75em" viewBox="0 0 48 48" width="1.75em" height="1.75em">
            <path d="M18,6 l16,0 l0,16 l-16,0 z M32,22 l10,20 l-32,0 l10,-20" fill="transparent" stroke-width="1" />
            <path d="M18,22 l16,0 M10,42 l32,0" fill="transparent" stroke-width="3" />
          </svg>
          {% else %}
          <img src="{{ user.getDetail("profile_image") }}" alt="" class="thumbnail-xs" style="max-width: 1.75em">
          {% endif %}
        </div>
      {% endif %}
      <div class="colbox" style="flex-grow: 1;">
    {% endif %}
    {% if user.id == -3 %}
      <div class="fs-base3 col-dark-ddd d-b">Anonym</div>
    {% else %}
    <div class="fs-base3 anchor--primary d-b">{{ user.getHTMLName()|safe }}</div>
    {% endif %}
    {% if "r" in level and not user.isDeleted() %}
      <span class="_badge _badge-score col-dark-ddd">{{ user.getReputation() }}</span>
    {% endif %}
    {% if "b" in level and not user.isDeleted() and not user.isDisabled() %}
      {% for type in user.getBadgeBreakdown() %}
      <span class="_badge _badge-score _badge-score-{{ type[1] }} col-dark-ddd"><span class="_badge-icon"></span>{{ type[0] }}</span>
      {% endfor %}
    {% endif %}
    {% if "i" in level %}
    </div>
    </div>
    {% endif %}
    {% if "a" in level %}
    <div class="col-black">{{ additional_html|safe }}</div>
    {% endif %}
  {% if not user.isDeleted() and not unlinked %}</a>{% else %}</span>{% endif %}</a>
{% endmacro %}



{% macro forum_close_dialog(user, article, forum) %}
<script src="/static/js/systemerror.js"></script>
  <div class="flagging-modal" id="article_flag_dialog">
      <div class="flagging-dialog">
          <div class="close-link"><a href="#!" onclick="document.getElementById('article_flag_dialog').classList.remove('open');">&times;</a></div>
          <h3>Diesen Artikel melden.</h3>
          {% if user.may("forum_flag") %}
          <div id="article_flag_dialog-content-master">
              <p>Bitte wähle einen Grund aus, aus dem du diesen Artikel melden möchtest:</p>
              <div class="flagging-reason-list">
                  {% if not user.may("forum_closeQuestion") and not article.isClosed() %}
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_flag_dialog-duplicate_reason" name="reason" value="duplicate">
                      <h4><span class="flag">exaktes Duplikat</span></h4>
                      <p>Dieser Post ist ein exaktes Duplikat eines anderen Posts. Bitte dessen URL im Textfeld unten eintragen:</p>
                      <input name="article_dupe_url" id="article_flag_dialog-dupe_target">
                  </label>
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_flag_dialog-close_reason" name="reason" value="close">
                      <h4><span class="flag">Post soll geschlossen werden</span></h4>
                      <p>Bitte wähle einen Grund</p>
                      <select name="close_reason" id="close_reason-list">
                          <option value="off-topic" id="close_reason_off_topic">nicht in dieses Forum passend</option>
                          <option value="unclear" id="close_reason_unclear">unklar</option>
                          <option value="too-broad" id="close_reason_too_broad">zu allgemein</option>
                          <option value="too-spec" id="close_reason_too_specific">zu spezifisch</option>
                      </select>
                      <hr>
                      <div id="close-reason-text">
                          {% if article.getDetail("forumID") == 0 %}
                          {{ article.CLOSURE_TEXTS["off-topic"]|markdown }}
                          {% else %}
                          {{ article.CLOSURE_TEXTS["off-topic"].replace("<$>", forum.getTitle())|markdown }}
                          {% endif %}
                      </div>
                  </label>
                  {% endif %}
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_flag_dialog-other_reason" name="reason" value="other">
                      <h4>Anderes</h4>
                      <p>Ein anderes Problem als die hier aufgeführten. Nutze das Eingabefeld um das Problem zu beschreiben</p>
                      <textarea style="max-height: 200px; min-height: 50px; height: 75px;" id="article_flag_dialog-message" name="other-reason" placeholder="Belege bitte deine Meldung durch Angabe von Links zu entsprechenden Posts."></textarea>
                  </label>
              </div>
              <button id="article_flag_dialog-flag_btn" data-post-id="{{ article.getDetail("forumID")
            }}/post/{{ article.id }}">Melden</button>
          </div>
          {% else %}
              <div class="error">
                  <h4>Privileg noch nicht erreicht</h4>
              </div>
          {% endif %}
      </div>
  </div>
  {% if not user.may("forum_closeQuestion") and not article.isClosed() %}
  <script>
      function update_article_flag_reason_view() {
          text = document.getElementById("close-reason-text");
          val = document.getElementById("close_reason-list").value;
          if(val == "off-topic") {
              text.innerHTML = '{% if article.getDetail("forumID") == 0 %}{{ article.CLOSURE_TEXTS["off-topic"]|markdown }}{% else %}{{ article.CLOSURE_TEXTS["off-topic"].replace("<$>", forum.getTitle())|markdown }}{% endif %}';
          } else if(val == "unclear") {
              text.innerHTML = '{{ article.CLOSURE_TEXTS["unclear"]|markdown }}';
          } else if(val == "too-broad") {
              text.innerHTML = '{{ article.CLOSURE_TEXTS["too-broad"]|markdown }}';
          } else if(val == "too-spec") {
              text.innerHTML = '{{ article.CLOSURE_TEXTS["too-specific"]|markdown }}';
          }
      }
      document.getElementById("close_reason-list").addEventListener("change", update_article_flag_reason_view)
      update_article_flag_reason_view();
  </script>

  {% elif not article.isClosed() %}

  <div class="flagging-modal" id="article_close_dialog">
      <div class="flagging-dialog">
          <div class="close-link"><a href="#!" onclick="document.getElementById('article_close_dialog').classList.remove('open');">&times;</a></div>
          <h3>Diesen Artikel schließen.</h3>
          {% if user.may("forum_flag") %}
          <div id="article_close_dialog-content-master">
              <p>Dieser Artikel ist </p>
              <div class="flagging-reason-list lot-reasons">
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_close_dialog-duplicate_reason" name="reason" value="duplicate">
                      <h4>ein exaktes Duplikat</h4>
                      {{ article.CLOSURE_TEXTS["duplicate"]|markdown }}
                      <input name="article_dupe_url" id="article_close_dialog-dupe_target" placeholder="URL des anderen Beitrags">
                  </label>
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_close_dialog-off-topic_reason" name="reason" value="off-topic">
                      <h4>in diesem Forum unpassend</h4>
                      {{ article.CLOSURE_TEXTS["off-topic"]|markdown }}
                      <div class="flagging-reason-list" id="off-topic-reason-list">
                      {% for otr in article.OFF_TOPIC_REASONS if not(otr.for_global and forum.id != 0) and not(otr.for_course and forum.id == 0) %}
                        <label class="flagging-reason-item">
                            <input type="radio" id="article_close_dialog-off-topic_sub-{{ loop.index }}" name="otreason" value="{{ otr.text }}">
                            {{ otr.text.replace("<$>", forum.getTitle())|markdown }}
                        </label>
                      {% endfor %}
                      <label class="flagging-reason-item">
                          <input type="radio" id="article_close_dialog-off-topic_sub-other" name="otreason" value="Dieser Beitrag ist in diesem Forum unpassend, da ...">Anderes
                          <textarea onkeydown="document.getElementById('article_close_dialog-off-topic_sub-other').value=this.value" style="max-height: 50px; min-height: 50px; resize: none;">Dieser Beitrag ist in diesem Forum unpassend, da ...</textarea>
                      </label>
                      </div>
                  </label>
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_close_dialog-unclear_reason" name="reason" value="unclear">
                      <h4>unklar</h4>
                      {{ article.CLOSURE_TEXTS["unclear"]|markdown }}
                  </label>
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_close_dialog-too-broad_reason" name="reason" value="too-broad">
                      <h4>zu allgemein</h4>
                      {{ article.CLOSURE_TEXTS["too-broad"]|markdown }}
                  </label>
                  <label class="flagging-reason-item">
                      <input type="radio" id="article_close_dialog-too-specific_reason" name="reason" value="too-specific">
                      <h4>zu spezifisch</h4>
                      {{ article.CLOSURE_TEXTS["too-specific"]|markdown }}
                  </label>
              </div>
              <button class="warn-btn" id="article_close_dialog-close_btn" data-post-id="{{ article.getDetail("forumID")
            }}/post/{{ article.id }}">Schließen</button>
          </div>
          {% else %}
              <div class="error">
                  <h4>Privileg noch nicht erreicht</h4>
              </div>
          {% endif %}
      </div>
  </div>

  {% endif %}
{% endmacro %}
