{% extends "layout.html" %}
{% block body %}
  <div class="modal-overlay">
    <div class="modal">
        <h2>Passwort zurücksetzen</h2>
        {% if error == "done" %}
            <div class="warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Das Passwort wird zurückgesetzt, wenn diese Daten korrekt waren. Sie können sich jetzt mit jedem beliebigen Passwort
                <a href="/login">anmelden</a>.
            </div>
        {% endif %}
        <form action="" method="post">
            <label for="username">Benutzername:</label>
            <input id="username" name="username">
            <label for="email">E-Mail-Adresse:</label>
            <input id="email" name="email" type="email">
            <p><i>Doch normal <a href="/login">anmelden</a></i></p>
            <button class="warn-btn">Passwort zurücksetzen</button>
        </form>
    </div>
  </div>
{% endblock %}
