{% set pattern="individual" %}
{% extends "layout_new.html" %}
{% block body %}
<div class="container single-fluid-tiny s3 p4">
  <h1 class="fs-subtitle ta-c bb1 bb-s bb-dark-ll">{{ _('Passwort zurücksetzen') }}</h1>
  <p>{{ _('Du hast dein Passwort vergessen? Hier kannst du es zurücksetzen.') }}</p>
  <p>{{ _('Du kennst dein Passwort (doch) noch?') }} {{ _('Dann brauchst du dich nur <a href="%(login_link)s">anzumelden</a>.', login_link='/auth/login') }}</p>
  <p>{{ _('Wenn du dich mit einem externen Anbieter angemeldet hast, gehe bitte zu diesem um dein Passwort zurückzusetzen.') }}</p>
  {% if error == "invalid" %}
  <div class="_alert _alert-danger">
    <strong>{{ _('Ungültige E-Mail.') }}</strong> {{ _('Die E-Mail-Adresse ist ungültig oder wurde nicht gefunden.') }} {{ _('Bitte versuche es erneut.') }}
  </div>
  {% endif %}
  <form action="" method="POST">
    <label for="login_email" class="form">{{ _('E-Mail-Adresse') }}:</label>
    <input id="login_email" class="form" name="email">
    <button class="_btn _btn--primary" type="submit">{{ _('Weiter') }}</button>
  </form>
</div>
{% endblock %}
