{% set pattern="individual" %}
{% extends "layout_new.html" %}
{% block body %}
<div class="container single-fluid-tiny s3 p4">
  <h1 class="fs-subtitle ta-c bb1 bb-s bb-dark-ll">Password zurücksetzen</h1>
  <p>Du hast dein Passwort vergessen? Hier kannst du es zurücksetzen.</p>
  <p>Du kennst dein Passwort (doch) noch? <a href="/auth/login">Zur Anmeldung</a></p>
  <p>Wenn du dich mit einem externen Anbieter angemeldet hast, gehe bitte zu diesem um dein Passwort zurückzusetzen.</p>
  {% if error == "invalid" %}
  <div class="_alert _alert-danger">
    <strong>Ungültige E-Mail.</strong> Die E-Mail-Adresse ist ungültig oder wurde nicht gefunden. Bitte versuche es erneut.
  </div>
  {% endif %}
  <form action="" method="POST">
    <label for="login_email" class="form">E-Mail:</label>
    <input id="login_email" class="form" name="email">
    <button class="_btn _btn--primary" type="submit">Weiter</button>
  </form>
</div>
{% endblock %}
