{% set pattern="individual" %}
{% extends "layout_new.html" %}
{% block body %}
<div class="container single-fluid-tiny s3 p4">
  <h1 class="fs-subtitle ta-c bb1 bb-s bb-dark-ll">Password zurücksetzen</h1>
  {% if error == "success" %}
  <div class="_alert _alert-success">
    <strong>Erfolgreich.</strong> Dein Passwort wurde zurückgesetzt. Du kannst dich jetzt <a class="lnk-success" href="/auth/login">anmelden</a>
  </div>
  {% else %}
  <p class="p-lead">Wir haben einen Bestätigungscode an deine E-Mail-Adresse gesendet.</p>
  {% if error == "invalid-code" %}
  <div class="_alert _alert-danger">
    <strong>Ungültiger Code.</strong> Der Bestätigungscode war ungültig. Bitte versuche es erneut.
  </div>
  {% endif %}
  <form action="" method="POST">
    <label for="key" class="form">Code:</label>
    <input id="key" class="form" name="key" placeholder="000 000">
      <label for="pw" class="form">Neues Passwort:</label>
      <input id="pw" class="form" name="pw" type="password">
    <button class="_btn _btn--primary" type="submit">Passwort zurücksetzen</button>
  </form>
  {% endif %}
</div>
{% endblock %}
